build-config.cfg
src/style.css
src/style.css.map
src/scss/.sass-cache
tests/bootstrap-config.php
.idea
.buildpath
.project
.settings
vendor
src/vendor
node_modules
npm-debug.log
src/assets/*.js
last-js-build.md5
last-sass-build.md5
last-composer-build.md5
last-package-build.md5
src/admin/scss/.sass-cache
src/assets/css/tainacan-admin.css
src/assets/css/tainacan-admin.css.map
cypress/videos
cypress/screenshots
.vscode