// Grid mixin for display: grid compatibility
@mixin display-grid {
    flex-wrap: wrap;
    display: flex;
    display: -ms-grid;
    display: grid;
}
@mixin grid-child ($col-start, $col-end, $row-start, $row-end) {
    -ms-grid-column: $col-start;
    -ms-grid-column-span: $col-end - $col-start;
    -ms-grid-row: $row-start;
    -ms-grid-row-span: $row-end - $row-start;
    grid-column: #{$col-start}/#{$col-end};
    grid-row: #{$row-start}/#{$row-end};
}

// Gray, used mostly for information
$gray0: #f6f6f6;
$gray1: #f2f2f2;
$gray2: #dbdbdb;
$gray3: #a5a5a5;
$gray4: #505253;
$gray5: #373839;

// The primary link and active color
$primary: #187181;

// Items grid thumbnail size
$thumbnail-grid-item: 185px;
