// CSS COMMON TO MOST TAINACAN BLOCKS
@import './gutenberg-blocks-variables.scss';

// Custom Variables
:root {
    --tainacan-block-gray0: #{$gray0};
    --tainacan-block-gray1: #{$gray1};
    --tainacan-block-gray2: #{$gray2};
    --tainacan-block-gray3: #{$gray3};
    --tainacan-block-gray4: #{$gray4};
    --tainacan-block-gray5: #{$gray5};
    --tainacan-block-primary: #{$primary};
}

// Control and placeholder region ----------------------------------------------------
.tainacan-block-placeholder.components-placeholder {
    align-items: center !important;
    margin-bottom: 0 !important;
    background: var(--tainacan-block-gray0, $gray0) !important;

    .components-placeholder__label {
        margin-bottom: 0;
    }
    .components-placeholder__fieldset {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: baseline;
        width: 100%;
        max-width: 85%;
        flex-wrap: wrap;
        z-index: 1;

        p {
            font-size: 1em !important;
            margin: 12px;
            color: var(--tainacan-block-gray5, $gray5);
            fill: var(--tainacan-block-gray4, $gray4);

            svg {
                margin-right: 1em; 
                top: 4px;
                position: relative;
                fill: var(--tainacan-block-gray4, $gray4);
            }
        }
        .components-button {
            margin: 0;
        }
    }
}
  
// Generic style for selection modals ---------------------------
.wp-block-tainacan-modal {
    width: 50% !important;

    @media only screen and (max-width: 1024px) {  width: 75% !important; }
    @media only screen and (max-width: 768px) { width: 100% !important; }

    // Iframe for dynamic modal
    &.dynamic-modal {
        width: 90% !important;
        height: 90%;
        width: 80vw !important;
        height: 80vh;

        iframe {
            width: 100%;
            height: calc(100% - 76px);
        }
        &.wp-version-smaller-than-6-1 iframe {
            height: calc(100% - 96px);
        }
        &.wp-version-smaller-than-5-9 iframe {
            height: calc(100% - 156px);
        }

        .modal-footer-area {
            height: 68px;
            width: 100%;
            border-top: 1px solid var(--tainacan-block-gray3, $gray3);
            padding: 15px 32px;
        }

        .components-modal__content {
            padding: 0;
            
            .components-modal__header {
                margin-left: 0;
                margin-right: 0;
            }
            .components-modal__header+div {
                height: 100%;
            }
        }
    }

    // Spinner
    .spinner-container {
        min-height: 56px;
        padding: 1em;
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--tainacan-block-gray4, $gray4);
        .components-spineer { margin: 8px; }
    }

    .components-modal__header .components-button.has-icon,
    .components-modal__header .components-icon-button {
        padding-right: 0;

        &:hover {
            background: transparent !important;
            border: none !important;
            box-shadow: none !important;
        }
    }

    hr {
        margin: 5px 0.75em;
    }

    .components-select-control__input {
        padding: 4px 8px !important;
        margin: 0 !important;
        line-height: 1em;
    }

    .modal-search-area {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        margin-bottom: 6px;

        .components-base-control {
            width: 60%;

            @media only screen and (max-width: 1024px) {  width: 95% }
            &:nth-child(2) {
                flex-shrink: 2;
                margin-left: 0.75em
            }
            .components-base-control__field {
                flex-wrap: wrap;
                
                .components-select-control {
                    width: 100%;
                }
            }
            label.components-base-control__label {
                font-weight: 500;
                color: var(--tainacan-block-gray5, $gray5);
                font-size: 1em;
                text-align: center;
            }
            input.components-text-control__input {
                padding: 5px 8px;
                height: 28px;
            }
        }
    }

    .modal-radio-area-label {
        font-weight: 500;
        margin-left: 1.75em;
    }

    .modal-checkbox-list,
    &.wp-version-smaller-than-6-1 .modal-radio-list .components-base-control__field,
    &:not(.wp-version-smaller-than-6-1) .modal-radio-list .components-flex.components-h-stack.components-v-stack {
        padding: 0;
        @include display-grid;
        -ms-grid-columns: 250px 250px;
        grid-template-columns: repeat(auto-fill, 250px);
        grid-gap: 0px;
        justify-content: space-evenly;
        list-style-type: none;
        margin: 5px 0px;
        padding: 2px;
        max-height: 37vh;
        overflow-y: auto;
        overflow-x: hidden;
        width: 100%;

        .components-base-control {
            overflow: hidden;
            padding-left: 1px;
        }
    
        .modal-checkbox-list-item,
        .components-radio-control__option {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin: 0.35em;

            img {
                width: 24px;
                height: 24px;
                margin-right: 10px;
                margin-bottom: 8px;
            }
            label {
                display: inline-block;
                max-width: 85%;

                @media only screen and (max-width: 768px) { max-width: 80%; }
            }
        }
        .components-radio-control__option .components-radio-control__input {
            min-width: 20px;
            min-height: 20px;
        }
    }
    .modal-loadmore-section {
        display: flex;
        align-items: baseline;
        justify-content: center;
        
        p {
            color: var(--tainacan-block-gray4, $gray4);
            margin-right: 12px;
            margin-top: 2px;
        }
    }
    .modal-footer-area {
        border-top: 1px solid #e2e4e7;
        display: flex;
        align-items: baseline;
        justify-content: space-between;
        padding: 15px 0 0 0;

        p {
            padding: 0 12px;
            color: var(--tainacan-block-gray5, $gray5);
        }
    }
}