.wp-block-tainacan-items-list {
    margin: 1rem 0px;

    // Spinner
    .components-spinner {
        position: absolute;
        right: 0;
    }

    // Control region ----------------------------------------------------
    .block-control {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 12px;
    }

    // Grid View Mode ----------------------------------------------------
    ul.items-list.items-list-without-margin,
    ul.items-list-edit.items-list-without-margin {
        grid-template-columns: repeat(auto-fill, 185px);
        justify-content: center !important;
        grid-template-rows: auto !important;
        
        li {
            margin-top: 0 !important;
            margin-right: 0 !important;
            margin-left: 0 !important;
            height: 185px !important;

            img { 
                height: 185px !important;
                margin-bottom: 0px !important;
            }
        }
    }
    ul.items-list.items-layout-grid,
    ul.items-list-edit.items-layout-grid {
        padding: 0;
        display: -ms-grid;
        display: grid;
        grid-template-columns: repeat(auto-fill, 220px);
        grid-gap: 0px;
        justify-content: space-evenly;
        list-style-type: none;

        li.item-list-item {
            position: relative;
            display: block;
            margin: 12px 12px 24px 12px;
            margin-bottom: 12px;
            width: 185px;

            a { 
                color: #454647; 
                font-weight: bold;
                line-height: 2rem;
            }

            img {
                height: auto;
                width: 185px;
                min-width: 185px;
                padding: 0px;
            }

            a.item-without-title span {
                display: none;
            }

            &:hover a { 
                color: #454647; 
                text-decoration: none;
            }
        }
    }
    ul.items-list-edit li.item-list-item {
        display: flex;
        align-items: flex-start;

        button {
            position: absolute !important;
            background-color: rgba(255, 255, 255, 0.75);
            color: #454647;
            padding: 2px;
            margin-left: 5px;
            min-width: 14px;
            visibility: hidden;
            position: relative;
            opacity: 0;
            right: -12px;
            justify-content: center;
        }

        &:hover button {
            visibility: visible;
            opacity: 1;
            right: 0px;
            transition: opacity linear 0.15s, right linear 0.15s;
        }
    }
    @media only screen and (max-width: 498px) { 
        
        ul.items-list.items-layout-grid,
        ul.items-list-edit.items-layout-grid {
            grid-template-columns: repeat(auto-fill, 100%);

            li.item-list-item { 
                width: 100%;
                img { width: 100%; }
            }
        }
    }

    // List View Mode ----------------------------------------------------
    ul.items-list.items-layout-list,
    ul.items-list-edit.items-layout-list {
        padding: 0;
        display: block;
        list-style-type: none;

        li.item-list-item {
            position: relative;
            display: inline-block;
            margin: 12px 12px 24px 12px;
            margin-bottom: 12px;
            min-height: 54px;
            min-width: 22%;
            width: 22%;

            a { 
                color: #454647; 
                // overflow: hidden;
                // text-overflow: ellipsis;
                // white-space: nowrap;
                display: flex;
                align-items: center;
                height: 54px;
            }

            img {
                height: auto;
                width: 54px;
                min-width: 54px;
                padding: 0px;
                margin-right: 20px;
            }

            a.item-without-image img {
                display: none;
            }

            &:hover a { 
                color: #454647; 
                text-decoration: none;
            }
        }
    }
    ul.items-list-edit li.item-list-item {

        button {
            position: absolute !important;
            background-color: rgba(255, 255, 255, 0.75);
            color: #454647;
            padding: 2px;
            margin-left: 5px;
            min-width: 14px;
            visibility: hidden;
            position: relative;
            opacity: 0;
            right: -12px;
            justify-content: center;
        }

        &:hover button {
            visibility: visible;
            opacity: 1;
            right: 0px;
            transition: opacity linear 0.15s, right linear 0.15s;
        }
    }


    @media only screen and (max-width: 1600px) {  
        ul.items-list.items-layout-list li.item-list-item,
        ul.items-list-edit.items-layout-list li.item-list-item  {        
            min-width: 30%;
            width: 30%;
        }
    }

    @media only screen and (max-width: 1024px) {  
        ul.items-list.items-layout-list li.item-list-item,
        ul.items-list-edit.items-layout-list li.item-list-item  {        
            min-width: 45%;
            width: 45%;
        }
    }

    @media only screen and (max-width: 768px) {  
        ul.items-list.items-layout-list li.item-list-item,
        ul.items-list-edit.items-layout-list li.item-list-item {       
            min-width: 100%;
            width: 100%;
        }
    }

}
.wp-block-tainacan-items-modal {
    width: 50%;

    @media only screen and (max-width: 1024px) {  width: 75% }
    @media only screen and (max-width: 768px) { width: 100%; }

    // Spinner
    .components-spinner {
        position: absolute;
        right: 5%;
        bottom: 84px;
    }

    .modal-items-search-area {
        display: flex;
        justify-content: center;
        margin-bottom: 24px;

        .components-base-control {
            width: 60%;

            @media only screen and (max-width: 1024px) {  width: 95% }

            label {
                text-align: center;
            }
        }
    }

    .modal-items-list,
    .modal-collections-list .components-base-control__field {
        padding: 0;
        display: -ms-grid;
        display: grid;
        grid-template-columns: repeat(auto-fill, 250px);
        grid-gap: 0px;
        justify-content: space-evenly;
        list-style-type: none;
        margin: 12px;
        max-height: 50vh;
        overflow-y: auto;

        .components-base-control {
            overflow: hidden;
        }
    
        .modal-items-list-item,
        .components-radio-control__option {
            display: flex;
            justify-content: flex-start;

            img {
                width: 24px;
                height: 24px;
                margin-right: 10px;
            }
            label {
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                display: inline-block;
                max-width: 85%;

                @media only screen and (max-width: 768px) { max-width: 80%; }
            }
        }
    }
    .modal-items-loadmore-section {
        display: flex;
        align-items: baseline;
        justify-content: center;
        
        p {
            color: #555758;
            margin-right: 12px;
            margin-top: 2px;
        }
    }
    .modal-items-footer {
        border-top: 1px solid #e2e4e7;
        display: flex;
        align-items: baseline;
        justify-content: space-between;
        padding: 16px 16px 0 16px;
        margin: 0 -16px;
    }
}