@import '../../gutenberg-blocks-style.scss';

.wp-block-tainacan-terms-list {
    margin: 2em auto;

    // Spinner
    .components-spinner {
        position: absolute;
        right: 0;
    }

    // For all view modes ------------------------------------------------
    ul.terms-list li.term-list-item > button,
    ul.terms-list li.term-list-item > button:hover {
        display: none;
        visibility: hidden;
        opacity: 0;
    }

    // Grid View Mode ----------------------------------------------------
    ul.terms-list.terms-layout-grid,
    ul.terms-list-edit.terms-layout-grid {
        padding: 0;
        @include display-grid;
        -ms-grid-columns: 220px 220px 220px 220px 220px;
        grid-template-columns: repeat(auto-fill, 220px);
        grid-gap: 0px;
        justify-content: space-evenly;
        list-style-type: none;

        li.term-list-item {
            position: relative;
            display: block;
            margin: 12px 12px 24px 12px;
            margin-bottom: 12px;
            width: 185px;

            a { 
                color: #454647; 
                font-weight: bold;
                line-height: normal;
            }

            img {
                height: auto;
                width: 185px;
                min-width: 185px;
                padding: 0px;
                margin-bottom: 0.5em;
            }

            a.term-without-name span {
                display: none;
            }

            &:hover a { 
                color: #454647; 
                text-decoration: none;
            }
        }
    }
    ul.terms-list-edit li.term-list-item {
        display: flex;
        align-items: flex-start;

        button {
            position: absolute !important;
            background-color: rgba(255, 255, 255, 0.75);
            color: #454647;
            padding: 2px;
            margin-left: 5px;
            min-width: 14px;
            visibility: hidden;
            position: relative;
            opacity: 0;
            right: -14px;
            top: 0px;
            justify-content: center;
            z-index: 999
        }

        &:hover button {
            visibility: visible;
            background-color: rgba(255, 255, 255, 1) !important;
            opacity: 1;
            right: -8px;
            top: -8px;
            border: 1px solid #cbcbcb;
            border-radius: 12px;
            transition: opacity linear 0.15s, right linear 0.15s;
        }
        &:hover button:hover {
            background-color: rgba(255, 255, 255, 1) !important;
            border: 1px solid #cbcbcb !important;
        }
    }
    @media only screen and (max-width: 498px) { 
        
        ul.terms-list.terms-layout-grid,
        ul.terms-list-edit.terms-layout-grid {
            grid-template-columns: repeat(auto-fill, 100%);

            li.term-list-item { 
                width: 100%;
                img { width: 100%; }
            }
        }
    }

    // List View Mode ----------------------------------------------------
    ul.terms-list.terms-layout-list,
    ul.terms-list-edit.terms-layout-list {
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        list-style-type: none;

        li.term-list-item {
            position: relative;
            margin: 12px 12px 24px 12px;
            margin-bottom: 12px;
            min-height: 54px;
            min-width: calc(20% - 24px);
            width: calc(20% - 24px);

            a { 
                color: #454647; 
                height: auto;
                display: flex;
                align-items: center;
                word-break: break-all;
                word-break: break-word;
            }

            img {
                height: auto;
                width: 54px;
                min-width: 54px;
                padding: 0px;
                margin-right: 20px;
            }

            a.term-without-image img {
                display: none;
            }

            &:hover a { 
                color: #454647; 
                text-decoration: none;
            }

            @media only screen and (max-width: 1600px) { 
                min-width: calc(25% - 24px);
                width: calc(25% - 24px);
            }

            @media only screen and (max-width: 1024px) { 
                min-width: calc(33.333% - 24px);
                width: calc(33.333% - 24px);
            }
    
            @media only screen and (max-width: 768px) { 
                min-width: calc(50% - 24px);
                width: calc(50% - 24px);
            }
    
            @media only screen and (max-width: 498px) { 
                min-width: calc(100% - 24px);
                width: calc(100% - 24px);
            }
        }
    }

}
