#tainacan-dashboard-app {
    --tainacan-dashboard-text-color: var(--tainacan-admin-color);
    width: 100%;
    font-family: var(--tainacan-font-family);
    font-size: 16px;

    .tainacan-dashboard-header {
        text-align: center;
        padding: 1rem 0;

        h1 {
            margin-bottom: 0;
        }
        p {
            margin-top: 0;
            font-size: 1rem;
            color: var(--tainacan-dashboard-text-color);
        }
    }

    &>.wrap {
        margin: 0px;
    }

    #dashboard-widgets-wrap {
        max-width: 1620px;
        width: 100%;
        margin: 0 auto;
        padding-top: 1.5rem;
    }
    @media only screen and (max-width: 1920px) {
        #dashboard-widgets-wrap {
            max-width: 1060px;
        }
    }

    .is-dragging-metaboxes & #dashboard-widgets .meta-box-sortables,
    #dashboard-widgets .postbox-container .empty-container {
        outline-color: var(--tainacan-turquoise3);
    }

    .meta-box-sortables {
        transition: outline 0.2s ease;
        border-radius: var(--tainacan-dashboard-card-border-radius, 16px);
    }

    @media only screen and (min-width: 1280px) and (max-width: 1920px) {
        .postbox-container {
            width: 33% !important;
            float: left !important;
        }
    }
    @media only screen and (min-width: 800px) and (max-width: 1280px) {
        .postbox-container#postbox-container-1,
        .postbox-container#postbox-container-2,
        .postbox-container#postbox-container-3,
        .postbox-container#postbox-container-4 {
            float: right;
            width: 49.5%;
        }
    }

    @keyframes tainacanDashboardCardAppear {
        0% {
            transform: translateY(32px);
            opacity: 0;
        }
        100% {
            transform: translateY(0);
            opacity: 1;
        }   
    }

    @for $i from 1 through 4 {
        @for $j from 1 through 4 {
            .postbox-container:nth-child(#{$i}) .postbox:nth-child(#{$j}) {
                animation-duration: (($i * 0.1) + $j * .1s);
            }
        }
    }

    .postbox {
        background-color: var(--tainacan-dashboard-card-background, var(--tainacan-white));
        border-radius: var(--tainacan-dashboard-card-border-radius, 16px);
        box-shadow:  var(--tainacan-dashboard-card-box-shadow, 0px 0px 8px 0px #1A2D5B33);
        border: var(--tainacan-dashboard-card-border, none);
        margin-bottom: 2.5rem;
        animation: tainacanDashboardCardAppear 0.2s ease-in;

        &:has(+ .postbox.closed),
        &:last-child {
            margin-bottom: 1rem;
        }

        &.not-sortable {
            cursor: default;

            .postbox-header,
            .hndle,
            .handlediv {
                cursor: default;
                pointer-events: none;
            }

            .handle-actions {
                display: none;
                visibility: hidden;
            }
        }

        h1,
        h2,
        h3,
        h3,
        h4,
        h5,
        h6 {
            color: var(--tainacan-gray5);
        }

        h2.hndle {
            font-size: 1.25em;
            justify-content: start;
            gap: 1em;
        }

        h2.hndle, 
        h3.hndle {
            padding: var(--tainacan-dashboard-card-padding-y, 1rem) var(--tainacan-dashboard-card-padding-x, 1.5rem);
            transition: padding 0.2s ease;
        }
        h2.hndle.sortable-handle, 
        h3.hndle.sortable-handle {
            padding-right: 0.25rem;
        }
        .inside {
            margin-top: 0;
            padding: 0 var(--tainacan-dashboard-card-padding-x, 1.5rem) var(--tainacan-dashboard-card-padding, 1rem);
            font-size: 1em;
        }

        hr {
            margin: 1rem 0 1.125rem 0;
            
            &:last-child {
                display: none;
                visibility: hidden;
            }
        }

        .postbox-header {
            border-bottom: none;
            justify-content: start;
            gap: 1rem;
            position: relative;

            .handle-actions {
                position: absolute;
                top: 0;
                right: 0;
                padding: 4px;
                border-radius: 0 var(--tainacan-dashboard-card-border-radius, 16px) 0 var(--tainacan-dashboard-card-border-radius, 16px);
                background-color: var(--tainacan-gray1);
                border-top: none;
                border-right: none;
            }
            
            &:not(:hover):not(:focus) .handle-actions {
                visibility: hidden;
                opacity: 0;
                z-index: 1;
            }

            h2.hndle:has(.icon) {
                padding-top: calc(2.75 * var(--tainacan-dashboard-card-padding-y, 1rem));
            }

            .icon {
                position: absolute;
                top: -1.75rem;
                z-index: 9;
                border-radius: 100%;
                background-color: var(--tainacan-blue4);
                height: 3.5rem;
                width: 3.5rem;
                font-size: 1.5rem; 
                flex-shrink: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                color: white;
            }
        }  
        &.closed .postbox-header {
            h2.hndle:has(.icon) {
                padding: 0.75rem;
            }
            .icon {
                position: initial;
            }
        }
        
        .tainacan-dashboard-card-description {
            color: var(--tainacan-gray4);
            font-size: 0.875em;
            font-weight: 500;
            margin-top: 0;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }

        .external-link-icon {
            text-decoration: none;
            visibility: hidden;
            opacity: 0;
            position: relative;
            left: -0.5em;
            transition: left 0.3s ease,opacity 0.3s ease;
        }

        a:hover .external-link-icon,
        a:focus .external-link-icon {
            text-decoration: none;
            visibility: visible;
            opacity: 1;
            left: 0;
        }

        .tainacan-dashboard-card-list {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 0.125rem 0.5rem;
            list-style: none;
            padding: 0;
            margin: 0;

            li {
                margin: 0;

                a {
                    border-radius: var(--tainacan-admin-button-border-radius, 8px);
                    padding: 0.35rem;
                    display: flex;
                    align-items: center;
                    gap: 0.125rem;
                    font-size: 0.875em;
                    font-weight: bold;
                    line-height: 1.25em;
                    color: var(--tainacan-gray5);

                    &:hover,
                    &:focus {
                        background-color: var(--tainacan-turquoise2);
                    }

                    &:focus {
                        box-shadow: 0 0 0 2px var(--tainacan-turquoise5);
                        outline: 3px solid #0000;
                    }
                }
            }
            .icon {
                display: flex;
                align-items: center;
                font-size: 1rem;
                color: var(--tainacan-turquoise5);
            }

            &[data-color-scheme="gray"] {
                li > a {
                    color: var(--tainacan-gray5);
                }
                .icon {
                    color: var(--tainacan-gray5);
                }
            }
            &[data-color-scheme="blue"] {
                li > a {
                    color: var(--tainacan-blue5);
                }
                .icon {
                    color: var(--tainacan-blue5);
                }
            }
        }
        .tainacan-dashboard-links-list {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            gap: 0.125rem 0.25rem;
            list-style: none;
            padding: 0;
            margin: 0;

            li {
                margin: 0;
                display: flex;
                padding: 0.25rem 0;
                flex-direction: column;
                margin-bottom: 4px;
                gap: 1px;

                a {
                    border-radius: var(--tainacan-admin-button-border-radius, 8px);
                    gap: 0.125rem;
                    font-size: 0.875em;
                    font-weight: bold;
                    line-height: 1.125em;

                    &:focus {
                        box-shadow: 0 0 0 2px var(--tainacan-turquoise5);
                        outline: 3px solid #0000;
                    }
                    &:hover,
                    &:focus {
                        text-decoration: underline;
                    }
                }
            }
        }
    }

    .postbox-container:has(.empty-container) + .postbox-container:has(.meta-box-sortables:empty) {
        display: none;
        visibility: hidden;
    }

} 