.tainacan-embed-container {
  position: relative;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  height: auto;
}
.tainacan-embed-container:not(.tainacan-embed-without-iframe) {
  padding-bottom: 56.25%;
  padding-top: 30px;
}
.tainacan-embed-container iframe,
.tainacan-embed-container object,
.tainacan-embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; 
}
