[data-align='full'] .block-control {
  width: calc(100% + 14px); }

.block-control {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px;
  position: relative;
  top: -14px;
  left: -14px;
  width: calc(100% + 28px);
  background: #f2f2f2; }
  .block-control p {
    font-size: 0.875em !important;
    margin: 12px 1.5em 16px 0;
    fill: #555758; }
    .block-control p svg {
      top: 4px;
      margin-right: 0.75em;
      position: relative;
      fill: #555758; }

.components-placeholder {
  margin-bottom: 0;
  background: #f6f6f6; }
  .components-placeholder .components-placeholder__label {
    margin-bottom: 0; }
  .components-placeholder .components-placeholder__fieldset p {
    font-size: 1em !important;
    margin: 12px 0;
    color: #454647;
    fill: #555758; }
    .components-placeholder .components-placeholder__fieldset p svg {
      margin-right: 1em;
      top: 4px;
      position: relative;
      fill: #555758; }

.wp-block-tainacan-modal {
  width: 50%; }
  @media only screen and (max-width: 1024px) {
    .wp-block-tainacan-modal {
      width: 75%; } }
  @media only screen and (max-width: 768px) {
    .wp-block-tainacan-modal {
      width: 100%; } }
  .wp-block-tainacan-modal.dynamic-modal {
    width: 90%;
    height: 90%;
    width: 80vw;
    height: 80vh; }
    .wp-block-tainacan-modal.dynamic-modal iframe {
      width: calc(100% + 32px);
      height: calc(100% - 128px);
      margin-left: -16px; }
    .wp-block-tainacan-modal.dynamic-modal .modal-footer-area {
      height: 68px;
      width: calc(100% + 32px);
      margin-left: -16px !important;
      padding: 1.2em 1.2em !important;
      border-top: 1px solid #cbcbcb; }
  .wp-block-tainacan-modal .spinner-container {
    min-height: 56px;
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #555758; }
    .wp-block-tainacan-modal .spinner-container .components-spineer {
      margin: 8px; }
  .wp-block-tainacan-modal .components-modal__header .components-icon-button {
    padding-right: 0; }
  .wp-block-tainacan-modal hr {
    margin: 5px 0.75em; }
  .wp-block-tainacan-modal .modal-search-area {
    display: flex;
    justify-content: center;
    margin-bottom: 14px; }
    .wp-block-tainacan-modal .modal-search-area .components-base-control {
      width: 60%; }
      @media only screen and (max-width: 1024px) {
        .wp-block-tainacan-modal .modal-search-area .components-base-control {
          width: 95%; } }
      .wp-block-tainacan-modal .modal-search-area .components-base-control:nth-child(2) {
        flex-shrink: 2; }
      .wp-block-tainacan-modal .modal-search-area .components-base-control .components-base-control__field {
        flex-wrap: wrap; }
      .wp-block-tainacan-modal .modal-search-area .components-base-control label.components-base-control__label {
        font-weight: 500;
        color: #454647;
        font-size: 1em;
        text-align: center; }
      .wp-block-tainacan-modal .modal-search-area .components-base-control input.components-text-control__input {
        padding: 5px 8px;
        height: 28px; }
  .wp-block-tainacan-modal .modal-radio-area-label {
    font-weight: 500;
    margin-left: 1.75em; }
  .wp-block-tainacan-modal .modal-checkbox-list,
  .wp-block-tainacan-modal .modal-radio-list .components-base-control__field {
    padding: 0;
    flex-wrap: wrap;
    display: flex;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 250px 250px;
    grid-template-columns: repeat(auto-fill, 250px);
    grid-gap: 0px;
    justify-content: space-evenly;
    list-style-type: none;
    margin: 12px;
    max-height: 50vh;
    overflow-y: auto;
    overflow-x: hidden; }
    .wp-block-tainacan-modal .modal-checkbox-list .components-base-control,
    .wp-block-tainacan-modal .modal-radio-list .components-base-control__field .components-base-control {
      overflow: hidden; }
    .wp-block-tainacan-modal .modal-checkbox-list svg.dashicon.components-checkbox-control__checked,
    .wp-block-tainacan-modal .modal-radio-list .components-base-control__field svg.dashicon.components-checkbox-control__checked {
      fill: black; }
    .wp-block-tainacan-modal .modal-checkbox-list .modal-checkbox-list-item,
    .wp-block-tainacan-modal .modal-checkbox-list .components-radio-control__option,
    .wp-block-tainacan-modal .modal-radio-list .components-base-control__field .modal-checkbox-list-item,
    .wp-block-tainacan-modal .modal-radio-list .components-base-control__field .components-radio-control__option {
      display: flex;
      justify-content: flex-start; }
      .wp-block-tainacan-modal .modal-checkbox-list .modal-checkbox-list-item img,
      .wp-block-tainacan-modal .modal-checkbox-list .components-radio-control__option img,
      .wp-block-tainacan-modal .modal-radio-list .components-base-control__field .modal-checkbox-list-item img,
      .wp-block-tainacan-modal .modal-radio-list .components-base-control__field .components-radio-control__option img {
        width: 24px;
        height: 24px;
        margin-right: 10px; }
      .wp-block-tainacan-modal .modal-checkbox-list .modal-checkbox-list-item label,
      .wp-block-tainacan-modal .modal-checkbox-list .components-radio-control__option label,
      .wp-block-tainacan-modal .modal-radio-list .components-base-control__field .modal-checkbox-list-item label,
      .wp-block-tainacan-modal .modal-radio-list .components-base-control__field .components-radio-control__option label {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        display: inline-block;
        max-width: 85%; }
        @media only screen and (max-width: 768px) {
          .wp-block-tainacan-modal .modal-checkbox-list .modal-checkbox-list-item label,
          .wp-block-tainacan-modal .modal-checkbox-list .components-radio-control__option label,
          .wp-block-tainacan-modal .modal-radio-list .components-base-control__field .modal-checkbox-list-item label,
          .wp-block-tainacan-modal .modal-radio-list .components-base-control__field .components-radio-control__option label {
            max-width: 80%; } }
  .wp-block-tainacan-modal .modal-loadmore-section {
    display: flex;
    align-items: baseline;
    justify-content: center; }
    .wp-block-tainacan-modal .modal-loadmore-section p {
      color: #555758;
      margin-right: 12px;
      margin-top: 2px; }
  .wp-block-tainacan-modal .modal-footer-area {
    border-top: 1px solid #e2e4e7;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding: 16px 16px 0 16px;
    margin: 0 -16px; }
    .wp-block-tainacan-modal .modal-footer-area p {
      padding: 0 12px;
      color: #454647; }

.wp-block-tainacan-faceted-search {
  margin: 2em auto; }
  .wp-block-tainacan-faceted-search .spinner-container {
    min-height: 56px;
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #555758; }
@-webkit-keyframes skeleton-animation {
  0% {
    opacity: 1.0; }
  50% {
    opacity: 0.2; }
  100% {
    opacity: 1.0; } }
@-moz-keyframes skeleton-animation {
  0% {
    opacity: 1.0; }
  50% {
    opacity: 0.2; }
  100% {
    opacity: 1.0; } }
@-o-keyframes skeleton-animation {
  0% {
    opacity: 1.0; }
  50% {
    opacity: 0.2; }
  100% {
    opacity: 1.0; } }
@keyframes skeleton-animation {
  0% {
    opacity: 1.0; }
  50% {
    opacity: 0.2; }
  100% {
    opacity: 1.0; } }
  .wp-block-tainacan-faceted-search .skeleton {
    border-radius: 2px;
    background: #f2f2f2;
    -webkit-animation: skeleton-animation 1.8s ease infinite;
    -moz-animation: skeleton-animation 1.8s ease infinite;
    -o-animation: skeleton-animation 1.8s ease infinite;
    animation: skeleton-animation 1.8s ease infinite; }
  .wp-block-tainacan-faceted-search .preview-warning {
    width: 100%;
    font-size: 0.875em;
    font-style: italic;
    color: #898d8f;
    text-align: center;
    margin: 4px auto; }
  .wp-block-tainacan-faceted-search .items-list-placeholder {
    min-height: 400px;
    width: 100%;
    background-color: #f2f2f2; }
    .wp-block-tainacan-faceted-search .items-list-placeholder .search-control,
    .wp-block-tainacan-faceted-search .items-list-placeholder .filters,
    .wp-block-tainacan-faceted-search .items-list-placeholder .items,
    .wp-block-tainacan-faceted-search .items-list-placeholder .pagination {
      background-color: white;
      padding: 12px;
      margin: 6px;
      border-radius: 6px; }

/*# sourceMappingURL=tainacan-gutenberg-block-faceted-search.css.map */
