.wp-block-tainacan-carousel-items-list {
  margin: 2em auto;
  --swiper-navigation-color: var(--tainacan-block-primary, $primary);
  --swiper-theme-color: var(--tainacan-block-primary, $primary); }
  .wp-block-tainacan-carousel-items-list .spinner-container {
    min-height: 56px;
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--tainacan-block-gray4, #555758); }
@-webkit-keyframes skeleton-animation {
  0% {
    opacity: 1.0; }
  50% {
    opacity: 0.2; }
  100% {
    opacity: 1.0; } }
@-moz-keyframes skeleton-animation {
  0% {
    opacity: 1.0; }
  50% {
    opacity: 0.2; }
  100% {
    opacity: 1.0; } }
@-o-keyframes skeleton-animation {
  0% {
    opacity: 1.0; }
  50% {
    opacity: 0.2; }
  100% {
    opacity: 1.0; } }
@keyframes skeleton-animation {
  0% {
    opacity: 1.0; }
  50% {
    opacity: 0.2; }
  100% {
    opacity: 1.0; } }
  .wp-block-tainacan-carousel-items-list .skeleton {
    border-radius: 2px;
    background: var(--tainacan-block-gray1, #f2f2f2);
    -webkit-animation: skeleton-animation 1.8s ease infinite;
    -moz-animation: skeleton-animation 1.8s ease infinite;
    -o-animation: skeleton-animation 1.8s ease infinite;
    animation: skeleton-animation 1.8s ease infinite; }
  .wp-block-tainacan-carousel-items-list .carousel-items-collection-header {
    display: flex;
    width: 100%;
    align-items: stretch;
    text-decoration: none !important;
    margin-bottom: 30px; }
    .wp-block-tainacan-carousel-items-list .carousel-items-collection-header:hover {
      text-decoration: none; }
    .wp-block-tainacan-carousel-items-list .carousel-items-collection-header .collection-name {
      width: auto;
      min-width: 350px;
      flex-grow: 1;
      padding: 1em 100px 1em 1em;
      text-align: right;
      line-height: 1.5em;
      min-height: 165px;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      background-color: var(--tainacan-block-gray5, #454647); }
      .wp-block-tainacan-carousel-items-list .carousel-items-collection-header .collection-name h3 {
        color: white;
        text-decoration: none;
        font-size: 1.3em;
        margin: 0; }
        .wp-block-tainacan-carousel-items-list .carousel-items-collection-header .collection-name h3:hover {
          text-decoration: none; }
      .wp-block-tainacan-carousel-items-list .carousel-items-collection-header .collection-name span.label {
        color: white;
        font-weight: normal;
        font-size: 0.75em; }
      .wp-block-tainacan-carousel-items-list .carousel-items-collection-header .collection-name.only-collection-name {
        justify-content: center;
        padding: 1em; }
        .wp-block-tainacan-carousel-items-list .carousel-items-collection-header .collection-name.only-collection-name h3 {
          text-align: center;
          font-size: 1.75em; }
    .wp-block-tainacan-carousel-items-list .carousel-items-collection-header .collection-thumbnail {
      height: 145px;
      width: 145px;
      background-size: cover;
      background-position: center;
      border-radius: 80px;
      border: 4px solid white;
      margin: 10px;
      flex-shrink: 0;
      position: relative;
      margin-left: -155px;
      left: 82px;
      background-color: var(--tainacan-block-gray2, #dbdbdb); }
    .wp-block-tainacan-carousel-items-list .carousel-items-collection-header .collection-header-image {
      width: auto;
      min-width: 150px;
      min-height: 165px;
      flex-grow: 2;
      background-size: cover;
      background-position: center;
      background-color: var(--tainacan-block-gray2, #dbdbdb); }
    @media only screen and (max-width: 1024px) {
      .wp-block-tainacan-carousel-items-list .carousel-items-collection-header {
        flex-wrap: wrap-reverse; }
        .wp-block-tainacan-carousel-items-list .carousel-items-collection-header .collection-name {
          width: 100% !important;
          min-width: 100% !important;
          justify-content: center !important;
          text-align: center !important;
          padding: 64px 1em 0em 1em; }
          .wp-block-tainacan-carousel-items-list .carousel-items-collection-header .collection-name h3 {
            margin-bottom: 1em; }
        .wp-block-tainacan-carousel-items-list .carousel-items-collection-header .collection-thumbnail {
          left: calc(-50% + 78px) !important;
          top: -78px !important; }
        .wp-block-tainacan-carousel-items-list .carousel-items-collection-header .collection-header-image {
          background-color: transparent; } }
  .wp-block-tainacan-carousel-items-list .tainacan-carousel {
    position: relative;
    width: calc(100% + 40px);
    left: -20px; }
    .wp-block-tainacan-carousel-items-list .tainacan-carousel .swiper {
      margin: 0 var(--spaceAroundCarousel, 50px); }
      .wp-block-tainacan-carousel-items-list .tainacan-carousel .swiper ul.swiper-wrapper {
        list-style: none;
        padding: 0;
        margin: 0; }
      .wp-block-tainacan-carousel-items-list .tainacan-carousel .swiper a > span,
      .wp-block-tainacan-carousel-items-list .tainacan-carousel .swiper a:hover > span {
        color: inherit;
        font-weight: bold;
        text-decoration: none;
        padding: 8px 12px;
        display: block;
        line-height: 1.2em;
        word-break: break-word; }
      .wp-block-tainacan-carousel-items-list .tainacan-carousel .swiper a > img {
        width: 100%;
        height: auto; }
      .wp-block-tainacan-carousel-items-list .tainacan-carousel .swiper a,
      .wp-block-tainacan-carousel-items-list .tainacan-carousel .swiper a:hover {
        color: inherit;
        text-decoration: none;
        display: block; }
      .wp-block-tainacan-carousel-items-list .tainacan-carousel .swiper .is-forced-square > a > div {
        padding-bottom: 100% !important; }
        .wp-block-tainacan-carousel-items-list .tainacan-carousel .swiper .is-forced-square > a > div img {
          object-fit: cover;
          object-position: center; }
  .wp-block-tainacan-carousel-items-list .preview-warning {
    width: 100%;
    font-size: 0.875rem;
    font-style: italic;
    color: inherit;
    opacity: 0.5;
    text-align: center;
    margin: 0 auto;
    padding: 8px 2px 2px 2px; }
  .wp-block-tainacan-carousel-items-list .swiper-button-prev, .wp-block-tainacan-carousel-items-list .swiper-button-next {
    top: calc(50% - 42px);
    bottom: initial;
    background: none;
    background-color: transparent !important;
    border: none;
    min-width: 42px;
    width: calc(var(--spaceAroundCarousel) - 8px);
    height: 42px;
    padding: 0;
    margin: 0; }
    .wp-block-tainacan-carousel-items-list .swiper-button-prev svg, .wp-block-tainacan-carousel-items-list .swiper-button-next svg {
      border-radius: 100%;
      fill: var(--tainacan-block-primary, #298596); }
    .wp-block-tainacan-carousel-items-list .swiper-button-prev::after, .wp-block-tainacan-carousel-items-list .swiper-button-prev::before, .wp-block-tainacan-carousel-items-list .swiper-button-next::after, .wp-block-tainacan-carousel-items-list .swiper-button-next::before {
      content: none !important; }
  .wp-block-tainacan-carousel-items-list .swiper-button-next.swiper-button-disabled,
  .wp-block-tainacan-carousel-items-list .swiper-button-prev.swiper-button-disabled {
    opacity: 0;
    visibility: hidden; }
  .wp-block-tainacan-carousel-items-list.alignfull .swiper-button-prev, .wp-block-tainacan-carousel-items-list.alignfull .swiper-button-next {
    margin: 0 6px !important; }
  .wp-block-tainacan-carousel-items-list .items-list-edit-container,
  .wp-block-tainacan-carousel-items-list .tainacan-carousel {
    position: relative; }
    .wp-block-tainacan-carousel-items-list .items-list-edit-container .skeleton,
    .wp-block-tainacan-carousel-items-list .tainacan-carousel .skeleton {
      min-height: 150px;
      max-height: 260px; }
    .wp-block-tainacan-carousel-items-list .items-list-edit-container.has-arrows-none .swiper-button-prev, .wp-block-tainacan-carousel-items-list .items-list-edit-container.has-arrows-none .swiper-button-next,
    .wp-block-tainacan-carousel-items-list .tainacan-carousel.has-arrows-none .swiper-button-prev,
    .wp-block-tainacan-carousel-items-list .tainacan-carousel.has-arrows-none .swiper-button-next {
      display: none; }
    .wp-block-tainacan-carousel-items-list .items-list-edit-container.has-arrows-left .swiper-button-next,
    .wp-block-tainacan-carousel-items-list .tainacan-carousel.has-arrows-left .swiper-button-next {
      left: 10px;
      right: auto;
      top: calc(50% + 12px) !important; }
    .wp-block-tainacan-carousel-items-list .items-list-edit-container.has-arrows-right .swiper-button-prev,
    .wp-block-tainacan-carousel-items-list .tainacan-carousel.has-arrows-right .swiper-button-prev {
      right: 10px;
      left: auto; }
    .wp-block-tainacan-carousel-items-list .items-list-edit-container.has-arrows-right .swiper-button-next,
    .wp-block-tainacan-carousel-items-list .tainacan-carousel.has-arrows-right .swiper-button-next {
      top: calc(50% + 12px) !important; }
    .wp-block-tainacan-carousel-items-list .items-list-edit-container.has-large-arrows .swiper-button-prev, .wp-block-tainacan-carousel-items-list .items-list-edit-container.has-large-arrows .swiper-button-next,
    .wp-block-tainacan-carousel-items-list .tainacan-carousel.has-large-arrows .swiper-button-prev,
    .wp-block-tainacan-carousel-items-list .tainacan-carousel.has-large-arrows .swiper-button-next {
      top: calc(50% - 60px);
      min-width: 60px;
      width: calc(var(--spaceAroundCarousel) + 10px);
      height: 60px;
      margin: 0 -24px; }
    .wp-block-tainacan-carousel-items-list .items-list-edit-container.has-large-arrows.has-arrows-left .swiper-button-next,
    .wp-block-tainacan-carousel-items-list .tainacan-carousel.has-large-arrows.has-arrows-left .swiper-button-next {
      left: 30px;
      right: auto;
      top: calc(50% + 30px) !important; }
    .wp-block-tainacan-carousel-items-list .items-list-edit-container.has-large-arrows.has-arrows-right .swiper-button-prev,
    .wp-block-tainacan-carousel-items-list .tainacan-carousel.has-large-arrows.has-arrows-right .swiper-button-prev {
      right: 30px;
      left: auto; }
    .wp-block-tainacan-carousel-items-list .items-list-edit-container.has-large-arrows.has-arrows-right .swiper-button-next,
    .wp-block-tainacan-carousel-items-list .tainacan-carousel.has-large-arrows.has-arrows-right .swiper-button-next {
      top: calc(50% + 30px) !important; }
  .wp-block-tainacan-carousel-items-list ul.items-list-edit {
    display: flex;
    align-items: flex-start;
    overflow-x: scroll;
    list-style: none;
    margin: 0 var(--spaceAroundCarousel, 50px);
    padding: 0;
    scroll-snap-type: x mandatory;
    scroll-padding-left: 10px;
    max-width: calc(100% - 2 * var(--spaceAroundCarousel)); }
    .wp-block-tainacan-carousel-items-list ul.items-list-edit li.item-list-item {
      position: relative;
      display: block;
      margin: 8px var(--spaceBetweenItems, 32px) 8px 0px;
      width: calc(14.285% - var(--spaceBetweenItems, var(--spaceBetweenItems, 32px) ) );
      min-width: calc(14.285% - var(--spaceBetweenItems, var(--spaceBetweenItems, 32px) ) );
      scroll-snap-align: start;
      scroll-margin: 0 calc(var(--spaceBetweenItems, 32px) / 2 ); }
      .wp-block-tainacan-carousel-items-list ul.items-list-edit li.item-list-item a {
        color: inherit;
        font-weight: bold;
        line-height: normal; }
        .wp-block-tainacan-carousel-items-list ul.items-list-edit li.item-list-item a > span {
          color: inherit;
          font-weight: bold;
          text-decoration: none;
          padding: 8px 12px;
          display: block;
          line-height: 1.2em;
          word-break: break-word; }
      .wp-block-tainacan-carousel-items-list ul.items-list-edit li.item-list-item img {
        height: auto;
        display: block;
        padding: 0px;
        margin-bottom: 0.5em; }
      .wp-block-tainacan-carousel-items-list ul.items-list-edit li.item-list-item.is-forced-square .items-list-item--image-wrap {
        padding-top: 100%;
        display: block;
        content: '';
        width: 100%;
        position: relative; }
      .wp-block-tainacan-carousel-items-list ul.items-list-edit li.item-list-item.is-forced-square img {
        display: block;
        padding: 0px;
        margin-bottom: 0.5em;
        object-fit: cover;
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0; }
      .wp-block-tainacan-carousel-items-list ul.items-list-edit li.item-list-item:hover a {
        color: inherit;
        text-decoration: none; }
      .wp-block-tainacan-carousel-items-list ul.items-list-edit li.item-list-item button {
        position: absolute !important;
        background-color: rgba(255, 255, 255, 0.75);
        color: var(--tainacan-block-gray5, #454647);
        padding: 2px;
        margin-left: 5px;
        min-width: 14px;
        visibility: hidden;
        position: relative;
        opacity: 0;
        right: -14px;
        top: 0px;
        justify-content: center;
        z-index: 999; }
        .wp-block-tainacan-carousel-items-list ul.items-list-edit li.item-list-item button .dashicon {
          margin: 0px; }
      .wp-block-tainacan-carousel-items-list ul.items-list-edit li.item-list-item:hover button {
        height: auto;
        visibility: visible;
        background-color: white !important;
        opacity: 1;
        right: -8px;
        top: -8px;
        border: 1px solid var(--tainacan-block-gray3, #cbcbcb);
        border-radius: 12px;
        transition: opacity linear 0.15s, right linear 0.15s; }
      .wp-block-tainacan-carousel-items-list ul.items-list-edit li.item-list-item:hover button:hover {
        background-color: white !important;
        border: 1px solid var(--tainacan-block-gray3, #cbcbcb) !important; }
      .wp-block-tainacan-carousel-items-list ul.items-list-edit li.item-list-item.max-itens-per-screen-9 {
        width: calc((100% / 9) - var(--spaceBetweenItems, 32px) );
        min-width: calc((100% / 9) - var(--spaceBetweenItems, 32px) ); }
      .wp-block-tainacan-carousel-items-list ul.items-list-edit li.item-list-item.max-itens-per-screen-8 {
        width: calc((100% / 8) - var(--spaceBetweenItems, 32px) );
        min-width: calc((100% / 8) - var(--spaceBetweenItems, 32px) ); }
      .wp-block-tainacan-carousel-items-list ul.items-list-edit li.item-list-item.max-itens-per-screen-7 {
        width: calc((100% / 7) - var(--spaceBetweenItems, 32px) );
        min-width: calc((100% / 7) - var(--spaceBetweenItems, 32px) ); }
      .wp-block-tainacan-carousel-items-list ul.items-list-edit li.item-list-item.max-itens-per-screen-6 {
        width: calc((100% / 6) - var(--spaceBetweenItems, 32px) );
        min-width: calc((100% / 6) - var(--spaceBetweenItems, 32px) ); }
      .wp-block-tainacan-carousel-items-list ul.items-list-edit li.item-list-item.max-itens-per-screen-5 {
        width: calc((100% / 5) - var(--spaceBetweenItems, 32px) );
        min-width: calc((100% / 5) - var(--spaceBetweenItems, 32px) ); }
      .wp-block-tainacan-carousel-items-list ul.items-list-edit li.item-list-item.max-itens-per-screen-4 {
        width: calc((100% / 4) - var(--spaceBetweenItems, 32px) );
        min-width: calc((100% / 4) - var(--spaceBetweenItems, 32px) ); }
      .wp-block-tainacan-carousel-items-list ul.items-list-edit li.item-list-item.max-itens-per-screen-3 {
        width: calc((100% / 3) - var(--spaceBetweenItems, 32px) );
        min-width: calc((100% / 3) - var(--spaceBetweenItems, 32px) ); }
      .wp-block-tainacan-carousel-items-list ul.items-list-edit li.item-list-item.max-itens-per-screen-2 {
        width: calc((100% / 2) - var(--spaceBetweenItems, 32px) );
        min-width: calc((100% / 2) - var(--spaceBetweenItems, 32px) ); }
      .wp-block-tainacan-carousel-items-list ul.items-list-edit li.item-list-item.max-itens-per-screen-1 {
        width: calc(100% - var(--spaceBetweenItems, 32px) );
        min-width: calc(100% - var(--spaceBetweenItems, 32px) ); }
  @media only screen and (max-width: 1686px) {
    .wp-block-tainacan-carousel-items-list ul.items-list-edit li.item-list-item {
      width: calc(16.666% - var(--spaceBetweenItems, 32px) );
      min-width: calc(16.666% - var(--spaceBetweenItems, 32px) ); }
      .wp-block-tainacan-carousel-items-list ul.items-list-edit li.item-list-item.max-itens-per-screen-9 {
        width: calc((100% / 8) - var(--spaceBetweenItems, 32px) );
        min-width: calc((100% / 8) - var(--spaceBetweenItems, 32px) ); }
      .wp-block-tainacan-carousel-items-list ul.items-list-edit li.item-list-item.max-itens-per-screen-8 {
        width: calc((100% / 7) - var(--spaceBetweenItems, 32px) );
        min-width: calc((100% / 7) - var(--spaceBetweenItems, 32px) ); }
      .wp-block-tainacan-carousel-items-list ul.items-list-edit li.item-list-item.max-itens-per-screen-7 {
        width: calc((100% / 6) - var(--spaceBetweenItems, 32px) );
        min-width: calc((100% / 6) - var(--spaceBetweenItems, 32px) ); }
      .wp-block-tainacan-carousel-items-list ul.items-list-edit li.item-list-item.max-itens-per-screen-6 {
        width: calc((100% / 5) - var(--spaceBetweenItems, 32px) );
        min-width: calc((100% / 5) - var(--spaceBetweenItems, 32px) ); }
      .wp-block-tainacan-carousel-items-list ul.items-list-edit li.item-list-item.max-itens-per-screen-5 {
        width: calc((100% / 4) - var(--spaceBetweenItems, 32px) );
        min-width: calc((100% / 4) - var(--spaceBetweenItems, 32px) ); }
      .wp-block-tainacan-carousel-items-list ul.items-list-edit li.item-list-item.max-itens-per-screen-4 {
        width: calc((100% / 3) - var(--spaceBetweenItems, 32px) );
        min-width: calc((100% / 3) - var(--spaceBetweenItems, 32px) ); }
      .wp-block-tainacan-carousel-items-list ul.items-list-edit li.item-list-item.max-itens-per-screen-3 {
        width: calc((100% / 2) - var(--spaceBetweenItems, 32px) );
        min-width: calc((100% / 2) - var(--spaceBetweenItems, 32px) ); }
      .wp-block-tainacan-carousel-items-list ul.items-list-edit li.item-list-item.max-itens-per-screen-2, .wp-block-tainacan-carousel-items-list ul.items-list-edit li.item-list-item.max-itens-per-screen-1 {
        width: calc(100% - var(--spaceBetweenItems, 32px) );
        min-width: calc(100% - var(--spaceBetweenItems, 32px) ); } }
  @media only screen and (max-width: 1452px) {
    .wp-block-tainacan-carousel-items-list ul.items-list-edit li.item-list-item {
      width: calc(20% - var(--spaceBetweenItems, 32px) );
      min-width: calc(20% - var(--spaceBetweenItems, 32px) ); }
      .wp-block-tainacan-carousel-items-list ul.items-list-edit li.item-list-item.max-itens-per-screen-9 {
        width: calc((100% / 7) - var(--spaceBetweenItems, 32px) );
        min-width: calc((100% / 7) - var(--spaceBetweenItems, 32px) ); }
      .wp-block-tainacan-carousel-items-list ul.items-list-edit li.item-list-item.max-itens-per-screen-8 {
        width: calc((100% / 6) - var(--spaceBetweenItems, 32px) );
        min-width: calc((100% / 6) - var(--spaceBetweenItems, 32px) ); }
      .wp-block-tainacan-carousel-items-list ul.items-list-edit li.item-list-item.max-itens-per-screen-7 {
        width: calc((100% / 5) - var(--spaceBetweenItems, 32px) );
        min-width: calc((100% / 5) - var(--spaceBetweenItems, 32px) ); }
      .wp-block-tainacan-carousel-items-list ul.items-list-edit li.item-list-item.max-itens-per-screen-6 {
        width: calc((100% / 4) - var(--spaceBetweenItems, 32px) );
        min-width: calc((100% / 4) - var(--spaceBetweenItems, 32px) ); }
      .wp-block-tainacan-carousel-items-list ul.items-list-edit li.item-list-item.max-itens-per-screen-5 {
        width: calc((100% / 3) - var(--spaceBetweenItems, 32px) );
        min-width: calc((100% / 3) - var(--spaceBetweenItems, 32px) ); }
      .wp-block-tainacan-carousel-items-list ul.items-list-edit li.item-list-item.max-itens-per-screen-4 {
        width: calc((100% / 2) - var(--spaceBetweenItems, 32px) );
        min-width: calc((100% / 2) - var(--spaceBetweenItems, 32px) ); }
      .wp-block-tainacan-carousel-items-list ul.items-list-edit li.item-list-item.max-itens-per-screen-3, .wp-block-tainacan-carousel-items-list ul.items-list-edit li.item-list-item.max-itens-per-screen-2, .wp-block-tainacan-carousel-items-list ul.items-list-edit li.item-list-item.max-itens-per-screen-1 {
        width: calc(100% - var(--spaceBetweenItems, 32px) );
        min-width: calc(100% - var(--spaceBetweenItems, 32px) ); } }
  @media only screen and (max-width: 1118px) {
    .wp-block-tainacan-carousel-items-list ul.items-list-edit li.item-list-item {
      width: calc(25% - var(--spaceBetweenItems, 32px) );
      min-width: calc(25% - var(--spaceBetweenItems, 32px) ); }
      .wp-block-tainacan-carousel-items-list ul.items-list-edit li.item-list-item.max-itens-per-screen-9 {
        width: calc((100% / 6) - var(--spaceBetweenItems, 32px) );
        min-width: calc((100% / 6) - var(--spaceBetweenItems, 32px) ); }
      .wp-block-tainacan-carousel-items-list ul.items-list-edit li.item-list-item.max-itens-per-screen-8 {
        width: calc((100% / 5) - var(--spaceBetweenItems, 32px) );
        min-width: calc((100% / 5) - var(--spaceBetweenItems, 32px) ); }
      .wp-block-tainacan-carousel-items-list ul.items-list-edit li.item-list-item.max-itens-per-screen-7 {
        width: calc((100% / 4) - var(--spaceBetweenItems, 32px) );
        min-width: calc((100% / 4) - var(--spaceBetweenItems, 32px) ); }
      .wp-block-tainacan-carousel-items-list ul.items-list-edit li.item-list-item.max-itens-per-screen-6 {
        width: calc((100% / 3) - var(--spaceBetweenItems, 32px) );
        min-width: calc((100% / 3) - var(--spaceBetweenItems, 32px) ); }
      .wp-block-tainacan-carousel-items-list ul.items-list-edit li.item-list-item.max-itens-per-screen-5 {
        width: calc((100% / 2) - var(--spaceBetweenItems, 32px) );
        min-width: calc((100% / 2) - var(--spaceBetweenItems, 32px) ); }
      .wp-block-tainacan-carousel-items-list ul.items-list-edit li.item-list-item.max-itens-per-screen-4, .wp-block-tainacan-carousel-items-list ul.items-list-edit li.item-list-item.max-itens-per-screen-3, .wp-block-tainacan-carousel-items-list ul.items-list-edit li.item-list-item.max-itens-per-screen-2, .wp-block-tainacan-carousel-items-list ul.items-list-edit li.item-list-item.max-itens-per-screen-1 {
        width: calc(100% - var(--spaceBetweenItems, 32px) );
        min-width: calc(100% - var(--spaceBetweenItems, 32px) ); } }
  @media only screen and (max-width: 854px) {
    .wp-block-tainacan-carousel-items-list ul.items-list-edit li.item-list-item {
      width: calc(33.333% - var(--spaceBetweenItems, 32px) );
      min-width: calc(33.333% - var(--spaceBetweenItems, 32px) ); }
      .wp-block-tainacan-carousel-items-list ul.items-list-edit li.item-list-item.max-itens-per-screen-9 {
        width: calc((100% / 5) - var(--spaceBetweenItems, 32px) );
        min-width: calc((100% / 5) - var(--spaceBetweenItems, 32px) ); }
      .wp-block-tainacan-carousel-items-list ul.items-list-edit li.item-list-item.max-itens-per-screen-8 {
        width: calc((100% / 4) - var(--spaceBetweenItems, 32px) );
        min-width: calc((100% / 4) - var(--spaceBetweenItems, 32px) ); }
      .wp-block-tainacan-carousel-items-list ul.items-list-edit li.item-list-item.max-itens-per-screen-7 {
        width: calc((100% / 3) - var(--spaceBetweenItems, 32px) );
        min-width: calc((100% / 3) - var(--spaceBetweenItems, 32px) ); }
      .wp-block-tainacan-carousel-items-list ul.items-list-edit li.item-list-item.max-itens-per-screen-6 {
        width: calc((100% / 2) - var(--spaceBetweenItems, 32px) );
        min-width: calc((100% / 2) - var(--spaceBetweenItems, 32px) ); }
      .wp-block-tainacan-carousel-items-list ul.items-list-edit li.item-list-item.max-itens-per-screen-5, .wp-block-tainacan-carousel-items-list ul.items-list-edit li.item-list-item.max-itens-per-screen-4, .wp-block-tainacan-carousel-items-list ul.items-list-edit li.item-list-item.max-itens-per-screen-3, .wp-block-tainacan-carousel-items-list ul.items-list-edit li.item-list-item.max-itens-per-screen-2, .wp-block-tainacan-carousel-items-list ul.items-list-edit li.item-list-item.max-itens-per-screen-1 {
        width: calc(100% - var(--spaceBetweenItems, 32px) );
        min-width: calc(100% - var(--spaceBetweenItems, 32px) ); } }
  @media only screen and (max-width: 584px) {
    .wp-block-tainacan-carousel-items-list ul.items-list-edit li.item-list-item {
      width: calc(50% - var(--spaceBetweenItems, 32px) );
      min-width: calc(50% - var(--spaceBetweenItems, 32px) ); }
      .wp-block-tainacan-carousel-items-list ul.items-list-edit li.item-list-item.max-itens-per-screen-9 {
        width: calc((100% / 4) - var(--spaceBetweenItems, 32px) );
        min-width: calc((100% / 4) - var(--spaceBetweenItems, 32px) ); }
      .wp-block-tainacan-carousel-items-list ul.items-list-edit li.item-list-item.max-itens-per-screen-8 {
        width: calc((100% / 3) - var(--spaceBetweenItems, 32px) );
        min-width: calc((100% / 3) - var(--spaceBetweenItems, 32px) ); }
      .wp-block-tainacan-carousel-items-list ul.items-list-edit li.item-list-item.max-itens-per-screen-7 {
        width: calc((100% / 2) - var(--spaceBetweenItems, 32px) );
        min-width: calc((100% / 2) - var(--spaceBetweenItems, 32px) ); }
      .wp-block-tainacan-carousel-items-list ul.items-list-edit li.item-list-item.max-itens-per-screen-6, .wp-block-tainacan-carousel-items-list ul.items-list-edit li.item-list-item.max-itens-per-screen-5, .wp-block-tainacan-carousel-items-list ul.items-list-edit li.item-list-item.max-itens-per-screen-4, .wp-block-tainacan-carousel-items-list ul.items-list-edit li.item-list-item.max-itens-per-screen-3, .wp-block-tainacan-carousel-items-list ul.items-list-edit li.item-list-item.max-itens-per-screen-2, .wp-block-tainacan-carousel-items-list ul.items-list-edit li.item-list-item.max-itens-per-screen-1 {
        width: calc(100% - var(--spaceBetweenItems, 32px) );
        min-width: calc(100% - var(--spaceBetweenItems, 32px) ); } }
  .wp-block-tainacan-carousel-items-list .swiper-slide-duplicate img {
    display: initial !important; }

.block-editor-block-list__block > .wp-block-tainacan-carousel-items-list {
  max-width: calc(100% - 72px); }

.block-editor-block-list__block:not(.has-text-color) > .wp-block-tainacan-carousel-items-list .swiper a > span,
.block-editor-block-list__block:not(.has-text-color) > .wp-block-tainacan-carousel-items-list .swiper a:hover > span,
.block-editor-block-list__block:not(.has-text-color) > .wp-block-tainacan-carousel-items-list li.item-list-item a > span,
.block-editor-block-list__block:not(.has-text-color) > .wp-block-tainacan-carousel-items-list li.item-list-item a:hover > span {
  color: var(--tainacan-block-gray5, #454647); }

/*# sourceMappingURL=tainacan-gutenberg-block-carousel-items-list.css.map */
