.wp-block-tainacan-terms-list {
  margin: 1rem 0px; }
  .wp-block-tainacan-terms-list .block-control {
    display: flex;
    flex-direction: row; }
    .wp-block-tainacan-terms-list .block-control .block-control-item {
      width: 100%; }
    .wp-block-tainacan-terms-list .block-control .block-control-item.disabled {
      cursor: none; }
      .wp-block-tainacan-terms-list .block-control .block-control-item.disabled label.autocomplete-label {
        color: #cbcbcb; }
      .wp-block-tainacan-terms-list .block-control .block-control-item.disabled input {
        background-color: #f2f2f2; }
  .wp-block-tainacan-terms-list label.autocomplete-label {
    display: block;
    font-weight: 600;
    font-size: 14px; }
  .wp-block-tainacan-terms-list .react-autocomplete {
    margin: 0 12px 12px 0;
    position: relative;
    display: inline-block; }
    .wp-block-tainacan-terms-list .react-autocomplete input {
      margin: 4px 12px 0px 0px;
      border: 1px solid #dbdbdb;
      padding: 4px 10px; }
      .wp-block-tainacan-terms-list .react-autocomplete input:focus, .wp-block-tainacan-terms-list .react-autocomplete input:active {
        border: 1px solid #555758; }
    .wp-block-tainacan-terms-list .react-autocomplete .menu {
      position: absolute;
      background-color: white;
      width: 100%;
      padding: 0;
      border: 1px solid #cbcbcb;
      z-index: 999;
      height: auto;
      transition: height ease 0.2s, display ease 0.2s, visibility ease 0.2s; }
      .wp-block-tainacan-terms-list .react-autocomplete .menu .item {
        padding: 4px 12px;
        font-size: 14px; }
      .wp-block-tainacan-terms-list .react-autocomplete .menu .item.item-highlighted {
        background-color: #e6f6f8; }
  .wp-block-tainacan-terms-list ul.terms-list {
    -moz-column-count: 4;
    -moz-column-gap: 7rem;
    -moz-column-rule: none;
    -webkit-column-ount: 4;
    -webkit-column-gap: 7rem;
    -webkit-column-rule: none;
    column-count: 4;
    column-gap: 7rem;
    column-rule: none;
    list-style-type: none; }
  .wp-block-tainacan-terms-list ul.terms-list-edit {
    -moz-column-count: 3;
    -moz-column-gap: 4rem;
    -moz-column-rule: none;
    -webkit-column-ount: 3;
    -webkit-column-gap: 4rem;
    -webkit-column-rule: none;
    column-count: 3;
    column-gap: 4rem;
    column-rule: none;
    list-style-type: none; }
    .wp-block-tainacan-terms-list ul.terms-list-edit li.term-list-item {
      display: flex;
      align-items: flex-start;
      line-height: 22px;
      justify-content: space-between;
      margin-bottom: 12px; }
      .wp-block-tainacan-terms-list ul.terms-list-edit li.term-list-item button {
        padding: 2px;
        margin-left: 5px;
        visibility: hidden;
        position: relative;
        opacity: 0;
        right: -12px;
        justify-content: center; }
      .wp-block-tainacan-terms-list ul.terms-list-edit li.term-list-item:hover button {
        visibility: visible;
        opacity: 1;
        right: 0px;
        transition: opacity linear 0.15s, right linear 0.15s; }
  @media only screen and (max-width: 1024px) {
    .wp-block-tainacan-terms-list ul.terms-list {
      -moz-column-count: 3;
      -moz-column-gap: 4rem;
      -moz-column-rule: none;
      -webkit-column-count: 3;
      -webkit-column-gap: 4rem;
      -webkit-column-rule: none;
      column-count: 3;
      column-gap: 4rem;
      column-rule: none; }
    .wp-block-tainacan-terms-list ul.terms-list-edit {
      -moz-column-count: 2;
      -moz-column-gap: 2rem;
      -moz-column-rule: none;
      -webkit-column-count: 2;
      -webkit-column-gap: 2rem;
      -webkit-column-rule: none;
      column-count: 2;
      column-gap: 2rem;
      column-rule: none; } }
  @media only screen and (max-width: 768px) {
    .wp-block-tainacan-terms-list ul.terms-list {
      -moz-column-count: 2;
      -moz-column-gap: 2rem;
      -moz-column-rule: none;
      -webkit-column-count: 2;
      -webkit-column-gap: 2rem;
      -webkit-column-rule: none;
      column-count: 2;
      column-gap: 2rem;
      column-rule: none; }
    .wp-block-tainacan-terms-list ul.terms-list-edit {
      -moz-column-count: 1;
      -moz-column-gap: 1rem;
      -moz-column-rule: none;
      -webkit-column-count: 1;
      -webkit-column-gap: 1rem;
      -webkit-column-rule: none;
      column-count: 1;
      column-gap: 1rem;
      column-rule: none; } }
  @media only screen and (max-width: 490px) {
    .wp-block-tainacan-terms-list ul.terms-list {
      -moz-column-count: 1;
      -moz-column-gap: 1rem;
      -moz-column-rule: none;
      -webkit-column-count: 1;
      -webkit-column-gap: 1rem;
      -webkit-column-rule: none;
      column-count: 1;
      column-gap: 1rem;
      column-rule: none; } }

/*# sourceMappingURL=tainacan-gutenberg-blocks-style.css.map */
