.components-panel__body .term-carousel-view-modes {
  display: flex;
  margin: 12px 0 24px 0; }
  .components-panel__body .term-carousel-view-modes button {
    background: transparent;
    border: 1px solid var(--tainacan-block-gray3, #cbcbcb);
    border-radius: 5px;
    padding: 2px;
    margin: 0;
    width: calc(50% - 6px);
    flex-shrink: 0;
    cursor: pointer;
    transition: border ease 0.5s, opacity ease 0.5; }
    .components-panel__body .term-carousel-view-modes button.term-carousel-view-mode-grid {
      margin-right: 6px; }
      .components-panel__body .term-carousel-view-modes button.term-carousel-view-mode-grid div {
        flex-wrap: wrap;
        display: flex;
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 5px;
        gap: 5px;
        width: 60px;
        height: 40px;
        margin: 4px auto 8px auto; }
        .components-panel__body .term-carousel-view-modes button.term-carousel-view-mode-grid div > *:first-of-type {
          flex-basis: 100%;
          -ms-grid-column: 1;
          -ms-grid-column-span: 2;
          -ms-grid-row: 1;
          -ms-grid-row-span: 2;
          grid-column: 1/3;
          grid-row: 1/3;
          width: 100%;
          height: 100%; }
        .components-panel__body .term-carousel-view-modes button.term-carousel-view-mode-grid div > * {
          flex-basis: 50%;
          width: 100%;
          height: 100%;
          background: var(--tainacan-block-gray4, #555758);
          transition: background-color ease 0.5s; }
    .components-panel__body .term-carousel-view-modes button.term-carousel-view-mode-thumbnail {
      margin-left: 6px; }
      .components-panel__body .term-carousel-view-modes button.term-carousel-view-mode-thumbnail div {
        display: block;
        height: 40px;
        width: 40px;
        background: var(--tainacan-block-gray4, #555758);
        margin: 4px auto 8px auto;
        transition: background-color ease 0.5s; }
    .components-panel__body .term-carousel-view-modes button label {
      font-size: 0.75em;
      color: var(--tainacan-block-gray4, #555758); }
    .components-panel__body .term-carousel-view-modes button.is-active {
      border: 2px solid var(--tainacan-block-primary, #298596); }
      .components-panel__body .term-carousel-view-modes button.is-active.term-carousel-view-mode-thumbnail div, .components-panel__body .term-carousel-view-modes button.is-active.term-carousel-view-mode-grid div > div {
        background-color: var(--tainacan-block-primary, #298596); }
    .components-panel__body .term-carousel-view-modes button:hover {
      opacity: 0.9;
      border-width: 2px; }
      .components-panel__body .term-carousel-view-modes button:hover button {
        background: var(--tainacan-block-gray1, #f2f2f2); }

.wp-block-tainacan-carousel-terms-list {
  margin: 2em auto;
  --swiper-navigation-color: var(--tainacan-block-primary, $primary);
  --swiper-theme-color: var(--tainacan-block-primary, $primary); }
  .wp-block-tainacan-carousel-terms-list .spinner-container {
    min-height: 56px;
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--tainacan-block-gray4, #555758); }
@-webkit-keyframes skeleton-animation {
  0% {
    opacity: 1.0; }
  50% {
    opacity: 0.2; }
  100% {
    opacity: 1.0; } }
@-moz-keyframes skeleton-animation {
  0% {
    opacity: 1.0; }
  50% {
    opacity: 0.2; }
  100% {
    opacity: 1.0; } }
@-o-keyframes skeleton-animation {
  0% {
    opacity: 1.0; }
  50% {
    opacity: 0.2; }
  100% {
    opacity: 1.0; } }
@keyframes skeleton-animation {
  0% {
    opacity: 1.0; }
  50% {
    opacity: 0.2; }
  100% {
    opacity: 1.0; } }
  .wp-block-tainacan-carousel-terms-list .skeleton {
    border-radius: 2px;
    background: var(--tainacan-block-gray1, #f2f2f2);
    -webkit-animation: skeleton-animation 1.8s ease infinite;
    -moz-animation: skeleton-animation 1.8s ease infinite;
    -o-animation: skeleton-animation 1.8s ease infinite;
    animation: skeleton-animation 1.8s ease infinite; }
  .wp-block-tainacan-carousel-terms-list .tainacan-carousel {
    position: relative;
    width: calc(100% + 40px);
    left: -20px; }
    .wp-block-tainacan-carousel-terms-list .tainacan-carousel .swiper {
      margin: 0 var(--spaceAroundCarousel, 50px); }
      .wp-block-tainacan-carousel-terms-list .tainacan-carousel .swiper ul.swiper-wrapper {
        list-style: none;
        padding: 0;
        margin: 0; }
      .wp-block-tainacan-carousel-terms-list .tainacan-carousel .swiper a > span,
      .wp-block-tainacan-carousel-terms-list .tainacan-carousel .swiper a:hover > span {
        color: inherit;
        font-weight: bold;
        text-decoration: none;
        padding: 8px 12px;
        display: block;
        line-height: 1.2em;
        word-break: break-word; }
      .wp-block-tainacan-carousel-terms-list .tainacan-carousel .swiper a > img {
        width: 100%;
        height: auto; }
      .wp-block-tainacan-carousel-terms-list .tainacan-carousel .swiper a,
      .wp-block-tainacan-carousel-terms-list .tainacan-carousel .swiper a:hover {
        color: inherit;
        text-decoration: none;
        display: block; }
      .wp-block-tainacan-carousel-terms-list .tainacan-carousel .swiper .swiper-slide-duplicate img {
        display: initial !important; }
      .wp-block-tainacan-carousel-terms-list .tainacan-carousel .swiper .swiper-slide.term-list-item-grid a {
        width: 100%;
        display: block; }
      .wp-block-tainacan-carousel-terms-list .tainacan-carousel .swiper .swiper-slide.term-list-item-grid .term-items-grid {
        flex-wrap: wrap;
        display: flex;
        display: -ms-grid;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        width: 100%;
        grid-gap: 5px;
        gap: 5px;
        box-sizing: border-box; }
        .wp-block-tainacan-carousel-terms-list .tainacan-carousel .swiper .swiper-slide.term-list-item-grid .term-items-grid > *:first-of-type {
          flex-basis: 100%;
          -ms-grid-column: 1;
          -ms-grid-column-span: 2;
          -ms-grid-row: 1;
          -ms-grid-row-span: 2;
          grid-column: 1/3;
          grid-row: 1/3;
          padding-bottom: 100% !important; }
        .wp-block-tainacan-carousel-terms-list .tainacan-carousel .swiper .swiper-slide.term-list-item-grid .term-items-grid > * {
          flex-basis: 50%;
          width: 100%;
          height: auto;
          margin-bottom: 0px;
          padding-bottom: 100% !important; }
        .wp-block-tainacan-carousel-terms-list .tainacan-carousel .swiper .swiper-slide.term-list-item-grid .term-items-grid img {
          object-fit: cover;
          object-position: center; }
  .wp-block-tainacan-carousel-terms-list .preview-warning {
    width: 100%;
    font-size: 0.875rem;
    font-style: italic;
    color: inherit;
    text-align: center;
    margin: 0 auto;
    padding: 8px 2px 2px 2px; }
  .wp-block-tainacan-carousel-terms-list .swiper-button-prev, .wp-block-tainacan-carousel-terms-list .swiper-button-next {
    top: calc(50% - 42px);
    bottom: initial;
    background: none;
    background-color: transparent !important;
    border: none;
    min-width: 42px;
    width: calc(var(--spaceAroundCarousel) - 8px);
    height: 42px;
    padding: 0;
    margin: 0; }
    .wp-block-tainacan-carousel-terms-list .swiper-button-prev svg, .wp-block-tainacan-carousel-terms-list .swiper-button-next svg {
      border-radius: 100%;
      fill: var(--tainacan-block-primary, #298596); }
    .wp-block-tainacan-carousel-terms-list .swiper-button-prev::after, .wp-block-tainacan-carousel-terms-list .swiper-button-prev::before, .wp-block-tainacan-carousel-terms-list .swiper-button-next::after, .wp-block-tainacan-carousel-terms-list .swiper-button-next::before {
      content: none !important; }
  .wp-block-tainacan-carousel-terms-list .swiper-button-next.swiper-button-disabled,
  .wp-block-tainacan-carousel-terms-list .swiper-button-prev.swiper-button-disabled {
    opacity: 0;
    visibility: hidden; }
  .wp-block-tainacan-carousel-terms-list.alignfull .swiper-button-prev, .wp-block-tainacan-carousel-terms-list.alignfull .swiper-button-next {
    margin: 0 6px !important; }
  .wp-block-tainacan-carousel-terms-list .terms-list-edit-container,
  .wp-block-tainacan-carousel-terms-list .tainacan-carousel {
    position: relative; }
    .wp-block-tainacan-carousel-terms-list .terms-list-edit-container .skeleton,
    .wp-block-tainacan-carousel-terms-list .tainacan-carousel .skeleton {
      min-height: 150px;
      max-height: 260px; }
    .wp-block-tainacan-carousel-terms-list .terms-list-edit-container.has-arrows-none .swiper-button-prev, .wp-block-tainacan-carousel-terms-list .terms-list-edit-container.has-arrows-none .swiper-button-next,
    .wp-block-tainacan-carousel-terms-list .tainacan-carousel.has-arrows-none .swiper-button-prev,
    .wp-block-tainacan-carousel-terms-list .tainacan-carousel.has-arrows-none .swiper-button-next {
      display: none; }
    .wp-block-tainacan-carousel-terms-list .terms-list-edit-container.has-arrows-left .swiper-button-next,
    .wp-block-tainacan-carousel-terms-list .tainacan-carousel.has-arrows-left .swiper-button-next {
      left: 0px;
      right: auto;
      top: calc(50% + 12px) !important; }
    .wp-block-tainacan-carousel-terms-list .terms-list-edit-container.has-arrows-right .swiper-button-prev,
    .wp-block-tainacan-carousel-terms-list .tainacan-carousel.has-arrows-right .swiper-button-prev {
      right: 20px;
      left: auto; }
    .wp-block-tainacan-carousel-terms-list .terms-list-edit-container.has-arrows-right .swiper-button-next,
    .wp-block-tainacan-carousel-terms-list .tainacan-carousel.has-arrows-right .swiper-button-next {
      top: calc(50% + 12px) !important; }
    .wp-block-tainacan-carousel-terms-list .terms-list-edit-container.has-large-arrows .swiper-button-prev, .wp-block-tainacan-carousel-terms-list .terms-list-edit-container.has-large-arrows .swiper-button-next,
    .wp-block-tainacan-carousel-terms-list .tainacan-carousel.has-large-arrows .swiper-button-prev,
    .wp-block-tainacan-carousel-terms-list .tainacan-carousel.has-large-arrows .swiper-button-next {
      top: calc(50% - 60px);
      min-width: 60px;
      width: calc(var(--spaceAroundCarousel) + 10px);
      height: 60px;
      margin: 0 -24px; }
    .wp-block-tainacan-carousel-terms-list .terms-list-edit-container.has-large-arrows.has-arrows-left .swiper-button-next,
    .wp-block-tainacan-carousel-terms-list .tainacan-carousel.has-large-arrows.has-arrows-left .swiper-button-next {
      left: 10px;
      right: auto;
      top: calc(50% + 30px) !important; }
    .wp-block-tainacan-carousel-terms-list .terms-list-edit-container.has-large-arrows.has-arrows-right .swiper-button-prev,
    .wp-block-tainacan-carousel-terms-list .tainacan-carousel.has-large-arrows.has-arrows-right .swiper-button-prev {
      right: 10px;
      left: auto; }
    .wp-block-tainacan-carousel-terms-list .terms-list-edit-container.has-large-arrows.has-arrows-right .swiper-button-next,
    .wp-block-tainacan-carousel-terms-list .tainacan-carousel.has-large-arrows.has-arrows-right .swiper-button-next {
      top: calc(50% + 30px) !important; }
  .wp-block-tainacan-carousel-terms-list ul.terms-list-edit {
    display: flex;
    align-items: flex-start;
    overflow-x: scroll;
    list-style: none;
    margin: 0 var(--spaceAroundCarousel, 50px);
    padding: 0;
    scroll-snap-type: x mandatory;
    scroll-padding-left: 10px;
    max-width: calc(100% - 2 * var(--spaceAroundCarousel)); }
    .wp-block-tainacan-carousel-terms-list ul.terms-list-edit li.term-list-item {
      position: relative;
      display: block;
      margin: 8px var(--spaceBetweenTerms, 32px) 8px 0px;
      width: calc(16.666% - var(--spaceBetweenTerms, 32px));
      min-width: calc(16.666% - var(--spaceBetweenTerms, 32px));
      scroll-snap-align: start;
      scroll-margin: 0 calc(var(--spaceBetweenTerms, 32px) / 2); }
      .wp-block-tainacan-carousel-terms-list ul.terms-list-edit li.term-list-item.term-list-item-grid {
        margin: calc(var(--spaceBetweenTerms, 32px) / 2);
        width: calc(25% - var(--spaceBetweenTerms, 32px));
        min-width: calc(25% - var(--spaceBetweenTerms, 32px)); }
      .wp-block-tainacan-carousel-terms-list ul.terms-list-edit li.term-list-item a {
        color: inherit;
        font-weight: bold;
        line-height: normal; }
        .wp-block-tainacan-carousel-terms-list ul.terms-list-edit li.term-list-item a > span {
          color: inherit;
          font-weight: bold;
          text-decoration: none;
          padding: 8px 12px;
          display: block;
          line-height: 1.2em;
          word-break: break-word; }
      .wp-block-tainacan-carousel-terms-list ul.terms-list-edit li.term-list-item img {
        height: auto;
        padding: 0px;
        margin-bottom: 0.5em;
        display: block;
        width: 100%; }
      .wp-block-tainacan-carousel-terms-list ul.terms-list-edit li.term-list-item:hover a {
        color: inherit;
        text-decoration: none; }
      .wp-block-tainacan-carousel-terms-list ul.terms-list-edit li.term-list-item button {
        position: absolute !important;
        background-color: rgba(255, 255, 255, 0.75);
        color: var(--tainacan-block-gray5, #454647);
        padding: 2px;
        margin-left: 5px;
        min-width: 14px;
        visibility: hidden;
        position: relative;
        opacity: 0;
        right: -14px;
        top: 0px;
        justify-content: center;
        z-index: 999; }
        .wp-block-tainacan-carousel-terms-list ul.terms-list-edit li.term-list-item button .dashicon {
          margin: 0px; }
      .wp-block-tainacan-carousel-terms-list ul.terms-list-edit li.term-list-item:hover button {
        height: auto;
        visibility: visible;
        background-color: white !important;
        opacity: 1;
        right: -8px;
        top: -8px;
        border: 1px solid var(--tainacan-block-gray3, #cbcbcb);
        border-radius: 12px;
        transition: opacity linear 0.15s, right linear 0.15s; }
      .wp-block-tainacan-carousel-terms-list ul.terms-list-edit li.term-list-item:hover button:hover {
        background-color: white !important;
        border: 1px solid var(--tainacan-block-gray3, #cbcbcb) !important; }
      .wp-block-tainacan-carousel-terms-list ul.terms-list-edit li.term-list-item.max-terms-per-screen-9 {
        width: calc((100% / 9) - var(--spaceBetweenTerms, 32px));
        min-width: calc((100% / 9) - var(--spaceBetweenTerms, 32px)); }
      .wp-block-tainacan-carousel-terms-list ul.terms-list-edit li.term-list-item.max-terms-per-screen-8 {
        width: calc((100% / 8) - var(--spaceBetweenTerms, 32px));
        min-width: calc((100% / 8) - var(--spaceBetweenTerms, 32px)); }
      .wp-block-tainacan-carousel-terms-list ul.terms-list-edit li.term-list-item.max-terms-per-screen-7 {
        width: calc((100% / 7) - var(--spaceBetweenTerms, 32px));
        min-width: calc((100% / 7) - var(--spaceBetweenTerms, 32px)); }
      .wp-block-tainacan-carousel-terms-list ul.terms-list-edit li.term-list-item.max-terms-per-screen-6 {
        width: calc((100% / 6) - var(--spaceBetweenTerms, 32px));
        min-width: calc((100% / 6) - var(--spaceBetweenTerms, 32px)); }
      .wp-block-tainacan-carousel-terms-list ul.terms-list-edit li.term-list-item.max-terms-per-screen-5 {
        width: calc((100% / 5) - var(--spaceBetweenTerms, 32px));
        min-width: calc((100% / 5) - var(--spaceBetweenTerms, 32px)); }
      .wp-block-tainacan-carousel-terms-list ul.terms-list-edit li.term-list-item.max-terms-per-screen-4 {
        width: calc((100% / 4) - var(--spaceBetweenTerms, 32px));
        min-width: calc((100% / 4) - var(--spaceBetweenTerms, 32px)); }
      .wp-block-tainacan-carousel-terms-list ul.terms-list-edit li.term-list-item.max-terms-per-screen-3 {
        width: calc((100% / 3) - var(--spaceBetweenTerms, 32px));
        min-width: calc((100% / 3) - var(--spaceBetweenTerms, 32px)); }
      .wp-block-tainacan-carousel-terms-list ul.terms-list-edit li.term-list-item.max-terms-per-screen-2 {
        width: calc((100% / 2) - var(--spaceBetweenTerms, 32px));
        min-width: calc((100% / 2) - var(--spaceBetweenTerms, 32px)); }
      .wp-block-tainacan-carousel-terms-list ul.terms-list-edit li.term-list-item.max-terms-per-screen-1 {
        width: calc(100% - var(--spaceBetweenTerms, 32px));
        min-width: calc(100% - var(--spaceBetweenTerms, 32px)); }
      .wp-block-tainacan-carousel-terms-list ul.terms-list-edit li.term-list-item .term-items-grid {
        flex-wrap: wrap;
        display: flex;
        display: -ms-grid;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 5px;
        gap: 5px; }
        .wp-block-tainacan-carousel-terms-list ul.terms-list-edit li.term-list-item .term-items-grid > *:first-of-type {
          flex-basis: 100%;
          -ms-grid-column: 1;
          -ms-grid-column-span: 2;
          -ms-grid-row: 1;
          -ms-grid-row-span: 2;
          grid-column: 1/3;
          grid-row: 1/3; }
        .wp-block-tainacan-carousel-terms-list ul.terms-list-edit li.term-list-item .term-items-grid > * {
          flex-basis: 50%;
          margin-bottom: 0px;
          object-fit: cover;
          object-position: center; }
  .wp-block-tainacan-carousel-terms-list ul.terms-list-edit li.terms-list-item {
    width: calc(20% - var(--spaceBetweenTerms, 32px));
    min-width: calc(20% - var(--spaceBetweenTerms, 32px)); }
    .wp-block-tainacan-carousel-terms-list ul.terms-list-edit li.terms-list-item.max-terms-per-screen-9 {
      width: calc((100% / 8) - var(--spaceBetweenTerms, 32px));
      min-width: calc((100% / 8) - var(--spaceBetweenTerms, 32px)); }
    .wp-block-tainacan-carousel-terms-list ul.terms-list-edit li.terms-list-item.max-terms-per-screen-8 {
      width: calc((100% / 7) - var(--spaceBetweenTerms, 32px));
      min-width: calc((100% / 7) - var(--spaceBetweenTerms, 32px)); }
    .wp-block-tainacan-carousel-terms-list ul.terms-list-edit li.terms-list-item.max-terms-per-screen-7 {
      width: calc((100% / 6) - var(--spaceBetweenTerms, 32px));
      min-width: calc((100% / 6) - var(--spaceBetweenTerms, 32px)); }
    .wp-block-tainacan-carousel-terms-list ul.terms-list-edit li.terms-list-item.max-terms-per-screen-6 {
      width: calc((100% / 5) - var(--spaceBetweenTerms, 32px));
      min-width: calc((100% / 5) - var(--spaceBetweenTerms, 32px)); }
    .wp-block-tainacan-carousel-terms-list ul.terms-list-edit li.terms-list-item.max-terms-per-screen-5 {
      width: calc((100% / 4) - var(--spaceBetweenTerms, 32px));
      min-width: calc((100% / 4) - var(--spaceBetweenTerms, 32px)); }
    .wp-block-tainacan-carousel-terms-list ul.terms-list-edit li.terms-list-item.max-terms-per-screen-4 {
      width: calc((100% / 3) - var(--spaceBetweenTerms, 32px));
      min-width: calc((100% / 3) - var(--spaceBetweenTerms, 32px)); }
    .wp-block-tainacan-carousel-terms-list ul.terms-list-edit li.terms-list-item.max-terms-per-screen-3 {
      width: calc((100% / 2) - var(--spaceBetweenTerms, 32px));
      min-width: calc((100% / 2) - var(--spaceBetweenTerms, 32px)); }
    .wp-block-tainacan-carousel-terms-list ul.terms-list-edit li.terms-list-item.max-terms-per-screen-2, .wp-block-tainacan-carousel-terms-list ul.terms-list-edit li.terms-list-item.max-terms-per-screen-1 {
      width: calc(100% - var(--spaceBetweenTerms, 32px));
      min-width: calc(100% - var(--spaceBetweenTerms, 32px)); }
  @media only screen and (max-width: 1452px) {
    .wp-block-tainacan-carousel-terms-list ul.terms-list-edit li.terms-list-item {
      width: calc(25% - var(--spaceBetweenTerms, 32px));
      min-width: calc(25% - var(--spaceBetweenTerms, 32px)); }
      .wp-block-tainacan-carousel-terms-list ul.terms-list-edit li.terms-list-item.max-terms-per-screen-9 {
        width: calc((100% / 7) - var(--spaceBetweenTerms, 32px));
        min-width: calc((100% / 7) - var(--spaceBetweenTerms, 32px)); }
      .wp-block-tainacan-carousel-terms-list ul.terms-list-edit li.terms-list-item.max-terms-per-screen-8 {
        width: calc((100% / 6) - var(--spaceBetweenTerms, 32px));
        min-width: calc((100% / 6) - var(--spaceBetweenTerms, 32px)); }
      .wp-block-tainacan-carousel-terms-list ul.terms-list-edit li.terms-list-item.max-terms-per-screen-7 {
        width: calc((100% / 5) - var(--spaceBetweenTerms, 32px));
        min-width: calc((100% / 5) - var(--spaceBetweenTerms, 32px)); }
      .wp-block-tainacan-carousel-terms-list ul.terms-list-edit li.terms-list-item.max-terms-per-screen-6 {
        width: calc((100% / 4) - var(--spaceBetweenTerms, 32px));
        min-width: calc((100% / 4) - var(--spaceBetweenTerms, 32px)); }
      .wp-block-tainacan-carousel-terms-list ul.terms-list-edit li.terms-list-item.max-terms-per-screen-5 {
        width: calc((100% / 3) - var(--spaceBetweenTerms, 32px));
        min-width: calc((100% / 3) - var(--spaceBetweenTerms, 32px)); }
      .wp-block-tainacan-carousel-terms-list ul.terms-list-edit li.terms-list-item.max-terms-per-screen-4 {
        width: calc((100% / 2) - var(--spaceBetweenTerms, 32px));
        min-width: calc((100% / 2) - var(--spaceBetweenTerms, 32px)); }
      .wp-block-tainacan-carousel-terms-list ul.terms-list-edit li.terms-list-item.max-terms-per-screen-3, .wp-block-tainacan-carousel-terms-list ul.terms-list-edit li.terms-list-item.max-terms-per-screen-2, .wp-block-tainacan-carousel-terms-list ul.terms-list-edit li.terms-list-item.max-terms-per-screen-1 {
        width: calc(100% - var(--spaceBetweenTerms, 32px));
        min-width: calc(100% - var(--spaceBetweenTerms, 32px)); } }
  @media only screen and (max-width: 1118px) {
    .wp-block-tainacan-carousel-terms-list ul.terms-list-edit li.terms-list-item {
      width: calc(33.333% - var(--spaceBetweenTerms, 32px));
      min-width: calc(33.333% - var(--spaceBetweenTerms, 32px)); }
      .wp-block-tainacan-carousel-terms-list ul.terms-list-edit li.terms-list-item.max-terms-per-screen-9 {
        width: calc((100% / 6) - var(--spaceBetweenTerms, 32px));
        min-width: calc((100% / 6) - var(--spaceBetweenTerms, 32px)); }
      .wp-block-tainacan-carousel-terms-list ul.terms-list-edit li.terms-list-item.max-terms-per-screen-8 {
        width: calc((100% / 5) - var(--spaceBetweenTerms, 32px));
        min-width: calc((100% / 5) - var(--spaceBetweenTerms, 32px)); }
      .wp-block-tainacan-carousel-terms-list ul.terms-list-edit li.terms-list-item.max-terms-per-screen-7 {
        width: calc((100% / 4) - var(--spaceBetweenTerms, 32px));
        min-width: calc((100% / 4) - var(--spaceBetweenTerms, 32px)); }
      .wp-block-tainacan-carousel-terms-list ul.terms-list-edit li.terms-list-item.max-terms-per-screen-6 {
        width: calc((100% / 3) - var(--spaceBetweenTerms, 32px));
        min-width: calc((100% / 3) - var(--spaceBetweenTerms, 32px)); }
      .wp-block-tainacan-carousel-terms-list ul.terms-list-edit li.terms-list-item.max-terms-per-screen-5 {
        width: calc((100% / 2) - var(--spaceBetweenTerms, 32px));
        min-width: calc((100% / 2) - var(--spaceBetweenTerms, 32px)); }
      .wp-block-tainacan-carousel-terms-list ul.terms-list-edit li.terms-list-item.max-terms-per-screen-4, .wp-block-tainacan-carousel-terms-list ul.terms-list-edit li.terms-list-item.max-terms-per-screen-3, .wp-block-tainacan-carousel-terms-list ul.terms-list-edit li.terms-list-item.max-terms-per-screen-2, .wp-block-tainacan-carousel-terms-list ul.terms-list-edit li.terms-list-item.max-terms-per-screen-1 {
        width: calc(100% - var(--spaceBetweenTerms, 32px));
        min-width: calc(100% - var(--spaceBetweenTerms, 32px)); } }
  @media only screen and (max-width: 854px) {
    .wp-block-tainacan-carousel-terms-list ul.terms-list-edit li.terms-list-item {
      width: calc(50% - var(--spaceBetweenTerms, 32px));
      min-width: calc(50% - var(--spaceBetweenTerms, 32px)); }
      .wp-block-tainacan-carousel-terms-list ul.terms-list-edit li.terms-list-item.max-terms-per-screen-9 {
        width: calc((100% / 5) - var(--spaceBetweenTerms, 32px));
        min-width: calc((100% / 5) - var(--spaceBetweenTerms, 32px)); }
      .wp-block-tainacan-carousel-terms-list ul.terms-list-edit li.terms-list-item.max-terms-per-screen-8 {
        width: calc((100% / 4) - var(--spaceBetweenTerms, 32px));
        min-width: calc((100% / 4) - var(--spaceBetweenTerms, 32px)); }
      .wp-block-tainacan-carousel-terms-list ul.terms-list-edit li.terms-list-item.max-terms-per-screen-7 {
        width: calc((100% / 3) - var(--spaceBetweenTerms, 32px));
        min-width: calc((100% / 3) - var(--spaceBetweenTerms, 32px)); }
      .wp-block-tainacan-carousel-terms-list ul.terms-list-edit li.terms-list-item.max-terms-per-screen-6 {
        width: calc((100% / 2) - var(--spaceBetweenTerms, 32px));
        min-width: calc((100% / 2) - var(--spaceBetweenTerms, 32px)); }
      .wp-block-tainacan-carousel-terms-list ul.terms-list-edit li.terms-list-item.max-terms-per-screen-5, .wp-block-tainacan-carousel-terms-list ul.terms-list-edit li.terms-list-item.max-terms-per-screen-4, .wp-block-tainacan-carousel-terms-list ul.terms-list-edit li.terms-list-item.max-terms-per-screen-3, .wp-block-tainacan-carousel-terms-list ul.terms-list-edit li.terms-list-item.max-terms-per-screen-2, .wp-block-tainacan-carousel-terms-list ul.terms-list-edit li.terms-list-item.max-terms-per-screen-1 {
        width: calc(100% - var(--spaceBetweenTerms, 32px));
        min-width: calc(100% - var(--spaceBetweenTerms, 32px)); } }
  @media only screen and (max-width: 584px) {
    .wp-block-tainacan-carousel-terms-list ul.terms-list-edit li.terms-list-item {
      width: calc(100% - var(--spaceBetweenTerms, 32px));
      min-width: calc(100% - var(--spaceBetweenTerms, 32px)); }
      .wp-block-tainacan-carousel-terms-list ul.terms-list-edit li.terms-list-item.max-terms-per-screen-9 {
        width: calc((100% / 4) - var(--spaceBetweenTerms, 32px));
        min-width: calc((100% / 4) - var(--spaceBetweenTerms, 32px)); }
      .wp-block-tainacan-carousel-terms-list ul.terms-list-edit li.terms-list-item.max-terms-per-screen-8 {
        width: calc((100% / 3) - var(--spaceBetweenTerms, 32px));
        min-width: calc((100% / 3) - var(--spaceBetweenTerms, 32px)); }
      .wp-block-tainacan-carousel-terms-list ul.terms-list-edit li.terms-list-item.max-terms-per-screen-7 {
        width: calc((100% / 2) - var(--spaceBetweenTerms, 32px));
        min-width: calc((100% / 2) - var(--spaceBetweenTerms, 32px)); }
      .wp-block-tainacan-carousel-terms-list ul.terms-list-edit li.terms-list-item.max-terms-per-screen-6, .wp-block-tainacan-carousel-terms-list ul.terms-list-edit li.terms-list-item.max-terms-per-screen-5, .wp-block-tainacan-carousel-terms-list ul.terms-list-edit li.terms-list-item.max-terms-per-screen-4, .wp-block-tainacan-carousel-terms-list ul.terms-list-edit li.terms-list-item.max-terms-per-screen-3, .wp-block-tainacan-carousel-terms-list ul.terms-list-edit li.terms-list-item.max-terms-per-screen-2, .wp-block-tainacan-carousel-terms-list ul.terms-list-edit li.terms-list-item.max-terms-per-screen-1 {
        width: calc(100% - var(--spaceBetweenTerms, 32px));
        min-width: calc(100% - var(--spaceBetweenTerms, 32px)); } }

.block-editor-block-list__block > .wp-block-tainacan-carousel-terms-list {
  max-width: calc(100% - 72px); }

.block-editor-block-list__block:not(.has-text-color) > .wp-block-tainacan-carousel-terms-list .swiper a > span,
.block-editor-block-list__block:not(.has-text-color) > .wp-block-tainacan-carousel-terms-list .swiper a:hover > span,
.block-editor-block-list__block:not(.has-text-color) > .wp-block-tainacan-carousel-terms-list li.term-list-item a > span,
.block-editor-block-list__block:not(.has-text-color) > .wp-block-tainacan-carousel-terms-list li.term-list-item a:hover > span {
  color: var(--tainacan-block-gray5, #454647); }

/*# sourceMappingURL=tainacan-gutenberg-block-carousel-terms-list.css.map */
