[data-align='full'] .block-control {
  width: calc(100% + 14px); }

.block-control {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px;
  position: relative;
  top: -14px;
  left: -14px;
  width: calc(100% + 28px);
  background: #f2f2f2; }
  .block-control p {
    font-size: 0.875em !important;
    margin: 12px 1.5em 16px 0;
    fill: #555758; }
    .block-control p svg {
      top: 4px;
      margin-right: 0.75em;
      position: relative;
      fill: #555758; }

.components-placeholder {
  margin-bottom: 0;
  background: #f6f6f6; }
  .components-placeholder .components-placeholder__label {
    margin-bottom: 0; }
  .components-placeholder .components-placeholder__fieldset p {
    font-size: 1em !important;
    margin: 12px 0;
    color: #454647;
    fill: #555758; }
    .components-placeholder .components-placeholder__fieldset p svg {
      margin-right: 1em;
      top: 4px;
      position: relative;
      fill: #555758; }

.wp-block-tainacan-modal {
  width: 50%; }
  @media only screen and (max-width: 1024px) {
    .wp-block-tainacan-modal {
      width: 75%; } }
  @media only screen and (max-width: 768px) {
    .wp-block-tainacan-modal {
      width: 100%; } }
  .wp-block-tainacan-modal.dynamic-modal {
    width: 90%;
    height: 90%;
    width: 80vw;
    height: 80vh; }
    .wp-block-tainacan-modal.dynamic-modal iframe {
      width: calc(100% + 32px);
      height: calc(100% - 128px);
      margin-left: -16px; }
    .wp-block-tainacan-modal.dynamic-modal .modal-footer-area {
      height: 68px;
      width: calc(100% + 32px);
      margin-left: -16px !important;
      padding: 1.2em 1.2em !important;
      border-top: 1px solid #cbcbcb; }
  .wp-block-tainacan-modal .spinner-container {
    min-height: 56px;
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #555758; }
    .wp-block-tainacan-modal .spinner-container .components-spineer {
      margin: 8px; }
  .wp-block-tainacan-modal .components-modal__header .components-icon-button {
    padding-right: 0; }
  .wp-block-tainacan-modal hr {
    margin: 5px 0.75em; }
  .wp-block-tainacan-modal .modal-search-area {
    display: flex;
    justify-content: center;
    margin-bottom: 14px; }
    .wp-block-tainacan-modal .modal-search-area .components-base-control {
      width: 60%; }
      @media only screen and (max-width: 1024px) {
        .wp-block-tainacan-modal .modal-search-area .components-base-control {
          width: 95%; } }
      .wp-block-tainacan-modal .modal-search-area .components-base-control:nth-child(2) {
        flex-shrink: 2; }
      .wp-block-tainacan-modal .modal-search-area .components-base-control .components-base-control__field {
        flex-wrap: wrap; }
      .wp-block-tainacan-modal .modal-search-area .components-base-control label.components-base-control__label {
        font-weight: 500;
        color: #454647;
        font-size: 1em;
        text-align: center; }
      .wp-block-tainacan-modal .modal-search-area .components-base-control input.components-text-control__input {
        padding: 5px 8px;
        height: 28px; }
  .wp-block-tainacan-modal .modal-radio-area-label {
    font-weight: 500;
    margin-left: 1.75em; }
  .wp-block-tainacan-modal .modal-checkbox-list,
  .wp-block-tainacan-modal .modal-radio-list .components-base-control__field {
    padding: 0;
    flex-wrap: wrap;
    display: flex;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 250px 250px;
    grid-template-columns: repeat(auto-fill, 250px);
    grid-gap: 0px;
    justify-content: space-evenly;
    list-style-type: none;
    margin: 12px;
    max-height: 50vh;
    overflow-y: auto;
    overflow-x: hidden; }
    .wp-block-tainacan-modal .modal-checkbox-list .components-base-control,
    .wp-block-tainacan-modal .modal-radio-list .components-base-control__field .components-base-control {
      overflow: hidden; }
    .wp-block-tainacan-modal .modal-checkbox-list svg.dashicon.components-checkbox-control__checked,
    .wp-block-tainacan-modal .modal-radio-list .components-base-control__field svg.dashicon.components-checkbox-control__checked {
      fill: black; }
    .wp-block-tainacan-modal .modal-checkbox-list .modal-checkbox-list-item,
    .wp-block-tainacan-modal .modal-checkbox-list .components-radio-control__option,
    .wp-block-tainacan-modal .modal-radio-list .components-base-control__field .modal-checkbox-list-item,
    .wp-block-tainacan-modal .modal-radio-list .components-base-control__field .components-radio-control__option {
      display: flex;
      justify-content: flex-start; }
      .wp-block-tainacan-modal .modal-checkbox-list .modal-checkbox-list-item img,
      .wp-block-tainacan-modal .modal-checkbox-list .components-radio-control__option img,
      .wp-block-tainacan-modal .modal-radio-list .components-base-control__field .modal-checkbox-list-item img,
      .wp-block-tainacan-modal .modal-radio-list .components-base-control__field .components-radio-control__option img {
        width: 24px;
        height: 24px;
        margin-right: 10px; }
      .wp-block-tainacan-modal .modal-checkbox-list .modal-checkbox-list-item label,
      .wp-block-tainacan-modal .modal-checkbox-list .components-radio-control__option label,
      .wp-block-tainacan-modal .modal-radio-list .components-base-control__field .modal-checkbox-list-item label,
      .wp-block-tainacan-modal .modal-radio-list .components-base-control__field .components-radio-control__option label {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        display: inline-block;
        max-width: 85%; }
        @media only screen and (max-width: 768px) {
          .wp-block-tainacan-modal .modal-checkbox-list .modal-checkbox-list-item label,
          .wp-block-tainacan-modal .modal-checkbox-list .components-radio-control__option label,
          .wp-block-tainacan-modal .modal-radio-list .components-base-control__field .modal-checkbox-list-item label,
          .wp-block-tainacan-modal .modal-radio-list .components-base-control__field .components-radio-control__option label {
            max-width: 80%; } }
  .wp-block-tainacan-modal .modal-loadmore-section {
    display: flex;
    align-items: baseline;
    justify-content: center; }
    .wp-block-tainacan-modal .modal-loadmore-section p {
      color: #555758;
      margin-right: 12px;
      margin-top: 2px; }
  .wp-block-tainacan-modal .modal-footer-area {
    border-top: 1px solid #e2e4e7;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding: 16px 16px 0 16px;
    margin: 0 -16px; }
    .wp-block-tainacan-modal .modal-footer-area p {
      padding: 0 12px;
      color: #454647; }

.edit-post-sidebar div.components-toolbar {
  border: none;
  justify-content: center; }

.wp-block-tainacan-search-bar {
  margin: 2em auto; }
  .wp-block-tainacan-search-bar .tainacan-search-container {
    width: 100%; }
    .wp-block-tainacan-search-bar .tainacan-search-container #tainacan-search-bar-block {
      height: 32px;
      max-width: 100%;
      display: flex;
      justify-content: center;
      align-items: stretch;
      margin: 0 auto;
      border: 1px solid #dbdbdb;
      transition: border-color ease 0.3s; }
      .wp-block-tainacan-search-bar .tainacan-search-container #tainacan-search-bar-block.is-aligned-left {
        margin-left: 0;
        justify-content: flex-start; }
      .wp-block-tainacan-search-bar .tainacan-search-container #tainacan-search-bar-block.is-aligned-right {
        margin-right: 0;
        justify-content: flex-end; }
      .wp-block-tainacan-search-bar .tainacan-search-container #tainacan-search-bar-block:hover, .wp-block-tainacan-search-bar .tainacan-search-container #tainacan-search-bar-block:focus, .wp-block-tainacan-search-bar .tainacan-search-container #tainacan-search-bar-block:active {
        border: 1px solid #545758; }
      .wp-block-tainacan-search-bar .tainacan-search-container #tainacan-search-bar-block input#tainacan-search-bar-block_input {
        width: 100%;
        min-width: 28px;
        margin: 0;
        border: none;
        padding: 4px 0.75em;
        text-overflow: ellipsis; }
      .wp-block-tainacan-search-bar .tainacan-search-container #tainacan-search-bar-block button {
        height: auto;
        display: flex;
        align-items: center;
        border: none;
        box-shadow: none;
        border-radius: 0;
        background: white;
        padding: 4px 1em;
        font-size: 1em; }
        .wp-block-tainacan-search-bar .tainacan-search-container #tainacan-search-bar-block button .icon {
          height: 28px; }
          .wp-block-tainacan-search-bar .tainacan-search-container #tainacan-search-bar-block button .icon svg {
            fill: #298596; }
      @media only screen and (max-width: 768px) {
        .wp-block-tainacan-search-bar .tainacan-search-container #tainacan-search-bar-block {
          margin-left: 0px;
          margin-right: 0px;
          max-width: 100% !important; }
          .wp-block-tainacan-search-bar .tainacan-search-container #tainacan-search-bar-block input#tainacan-search-bar-block_input {
            width: 100% !important; } }
  .wp-block-tainacan-search-bar .search-bar-collection-header-container .search-bar-collection-header-title {
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto; }
  @media only screen and (max-width: 768px) {
    .wp-block-tainacan-search-bar .search-bar-collection-header-container {
      flex-wrap: wrap !important; }
      .wp-block-tainacan-search-bar .search-bar-collection-header-container .search-bar-collection-header-title {
        text-align: center !important; } }
  .wp-block-tainacan-search-bar.is-style-alternate #tainacan-search-bar-block {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    border: none; }
    .wp-block-tainacan-search-bar.is-style-alternate #tainacan-search-bar-block.is-aligned-left {
      margin-left: 0;
      justify-content: flex-end; }
    .wp-block-tainacan-search-bar.is-style-alternate #tainacan-search-bar-block.is-aligned-right {
      margin-right: 0;
      justify-content: flex-start; }
    .wp-block-tainacan-search-bar.is-style-alternate #tainacan-search-bar-block:focus, .wp-block-tainacan-search-bar.is-style-alternate #tainacan-search-bar-block:active, .wp-block-tainacan-search-bar.is-style-alternate #tainacan-search-bar-block:hover {
      border: none; }
    .wp-block-tainacan-search-bar.is-style-alternate #tainacan-search-bar-block input#tainacan-search-bar-block_input {
      width: 35%;
      border-radius: 0;
      margin-left: -52px;
      padding-left: 52px;
      border: 1px solid transparent;
      background: rgba(250, 250, 250, 0.2);
      transition: border-color 0.4s ease, width 0.5s ease-in, background-color 0.3s ease, color 0.3s ease; }
      .wp-block-tainacan-search-bar.is-style-alternate #tainacan-search-bar-block input#tainacan-search-bar-block_input:focus, .wp-block-tainacan-search-bar.is-style-alternate #tainacan-search-bar-block input#tainacan-search-bar-block_input:active, .wp-block-tainacan-search-bar.is-style-alternate #tainacan-search-bar-block input#tainacan-search-bar-block_input:hover {
        width: 100%;
        border-color: #cbcbcb;
        background: #fafafa;
        box-shadow: none; }
      .wp-block-tainacan-search-bar.is-style-alternate #tainacan-search-bar-block input#tainacan-search-bar-block_input::placeholder {
        color: #cbcbcb; }
    .wp-block-tainacan-search-bar.is-style-alternate #tainacan-search-bar-block button {
      margin-right: 0.75em;
      padding: 0 0.35em;
      min-height: 28px;
      z-index: 2;
      border: none;
      background: transparent;
      cursor: pointer; }
      .wp-block-tainacan-search-bar.is-style-alternate #tainacan-search-bar-block button .icon svg {
        fill: #cbcbcb;
        transition: fill 0.4s ease; }
      .wp-block-tainacan-search-bar.is-style-alternate #tainacan-search-bar-block button:hover {
        background: transparent; }
    @media only screen and (max-width: 768px) {
      .wp-block-tainacan-search-bar.is-style-alternate #tainacan-search-bar-block {
        margin-left: 0px;
        margin-right: 0px;
        max-width: 100% !important; }
        .wp-block-tainacan-search-bar.is-style-alternate #tainacan-search-bar-block input#tainacan-search-bar-block_input {
          width: 100% !important; } }
  .wp-block-tainacan-search-bar.is-style-alternate .search-bar-collection-header-container .tainacan-search-container #tainacan-search-bar-block:focus input,
  .wp-block-tainacan-search-bar.is-style-alternate .search-bar-collection-header-container .tainacan-search-container #tainacan-search-bar-block:focus input::placeholder, .wp-block-tainacan-search-bar.is-style-alternate .search-bar-collection-header-container .tainacan-search-container #tainacan-search-bar-block:active input,
  .wp-block-tainacan-search-bar.is-style-alternate .search-bar-collection-header-container .tainacan-search-container #tainacan-search-bar-block:active input::placeholder, .wp-block-tainacan-search-bar.is-style-alternate .search-bar-collection-header-container .tainacan-search-container #tainacan-search-bar-block:hover input,
  .wp-block-tainacan-search-bar.is-style-alternate .search-bar-collection-header-container .tainacan-search-container #tainacan-search-bar-block:hover input::placeholder {
    color: #454647;
    border-width: 0; }
  .wp-block-tainacan-search-bar.is-style-alternate .search-bar-collection-header-container .tainacan-search-container #tainacan-search-bar-block:focus button .icon svg, .wp-block-tainacan-search-bar.is-style-alternate .search-bar-collection-header-container .tainacan-search-container #tainacan-search-bar-block:active button .icon svg, .wp-block-tainacan-search-bar.is-style-alternate .search-bar-collection-header-container .tainacan-search-container #tainacan-search-bar-block:hover button .icon svg {
    fill: #cbcbcb !important; }
  .wp-block-tainacan-search-bar.is-style-alternate .search-bar-collection-header-container .tainacan-search-container #tainacan-search-bar-block input#tainacan-search-bar-block_input {
    color: white; }
    .wp-block-tainacan-search-bar.is-style-alternate .search-bar-collection-header-container .tainacan-search-container #tainacan-search-bar-block input#tainacan-search-bar-block_input:focus, .wp-block-tainacan-search-bar.is-style-alternate .search-bar-collection-header-container .tainacan-search-container #tainacan-search-bar-block input#tainacan-search-bar-block_input:active, .wp-block-tainacan-search-bar.is-style-alternate .search-bar-collection-header-container .tainacan-search-container #tainacan-search-bar-block input#tainacan-search-bar-block_input:hover, .wp-block-tainacan-search-bar.is-style-alternate .search-bar-collection-header-container .tainacan-search-container #tainacan-search-bar-block input#tainacan-search-bar-block_input:focus::placeholder, .wp-block-tainacan-search-bar.is-style-alternate .search-bar-collection-header-container .tainacan-search-container #tainacan-search-bar-block input#tainacan-search-bar-block_input:active::placeholder, .wp-block-tainacan-search-bar.is-style-alternate .search-bar-collection-header-container .tainacan-search-container #tainacan-search-bar-block input#tainacan-search-bar-block_input:hover::placeholder {
      color: #454647; }
  .wp-block-tainacan-search-bar.is-style-alternate .search-bar-collection-header-container .tainacan-search-container #tainacan-search-bar-block button .icon svg {
    fill: #dbdbdb !important; }
  .wp-block-tainacan-search-bar.is-style-stylish #tainacan-search-bar-block {
    width: 100%;
    height: 53px;
    display: flex;
    flex-direction: row;
    border: none; }
    .wp-block-tainacan-search-bar.is-style-stylish #tainacan-search-bar-block:focus, .wp-block-tainacan-search-bar.is-style-stylish #tainacan-search-bar-block:active, .wp-block-tainacan-search-bar.is-style-stylish #tainacan-search-bar-block:hover {
      border: none; }
    .wp-block-tainacan-search-bar.is-style-stylish #tainacan-search-bar-block:hover input#tainacan-search-bar-block_input {
      width: 100%;
      padding-right: 52px;
      padding-left: 24px;
      border-width: 0; }
    .wp-block-tainacan-search-bar.is-style-stylish #tainacan-search-bar-block input#tainacan-search-bar-block_input {
      width: 0%;
      min-width: 0%;
      border-radius: 28px;
      margin-right: -56px;
      padding-right: 27px;
      padding-left: 26px;
      font-size: 1em;
      border-width: 0;
      background: #f2f2f2;
      transition: width 0.5s ease-in, padding 0.5s ease-in; }
      .wp-block-tainacan-search-bar.is-style-stylish #tainacan-search-bar-block input#tainacan-search-bar-block_input:focus, .wp-block-tainacan-search-bar.is-style-stylish #tainacan-search-bar-block input#tainacan-search-bar-block_input:active, .wp-block-tainacan-search-bar.is-style-stylish #tainacan-search-bar-block input#tainacan-search-bar-block_input:hover {
        width: 100%;
        padding-right: 52px;
        padding-left: 24px;
        border-width: 0; }
    .wp-block-tainacan-search-bar.is-style-stylish #tainacan-search-bar-block button {
      margin-left: 0.75em;
      padding: 0 0.35em;
      min-height: 28px;
      z-index: 2;
      border: none;
      background: transparent;
      cursor: pointer; }
      .wp-block-tainacan-search-bar.is-style-stylish #tainacan-search-bar-block button .icon svg {
        fill: black;
        transition: fill 0.4s ease; }
      .wp-block-tainacan-search-bar.is-style-stylish #tainacan-search-bar-block button:hover {
        background: transparent; }
  .wp-block-tainacan-search-bar.is-style-stylish .search-bar-collection-header-container:not(.is-aligned-right):not(.is-aligned-left) .tainacan-search-container {
    width: calc(100% - 4.1667% - 53px);
    width: calc(100% - 4.1667vw - 53px);
    bottom: calc(-50% + 38px);
    position: absolute; }
  .wp-block-tainacan-search-bar.is-style-stylish .search-bar-collection-header-container:not(.is-aligned-right):not(.is-aligned-left) .search-bar-collection-header-title {
    margin-bottom: 26px; }
  .wp-block-tainacan-search-bar.is-style-stylish .search-bar-collection-header-container.is-aligned-right .tainacan-search-container {
    width: calc(100% - 4.1667% - 26px);
    width: calc(100% - 4.1667vw - 26px);
    top: calc(-50% + 26px);
    right: calc(4.1667% + 26px);
    right: calc(4.1667vw + 26px);
    position: absolute; }
  .wp-block-tainacan-search-bar.is-style-stylish .search-bar-collection-header-container.is-aligned-left .tainacan-search-container {
    width: calc(100% - 1em - 26px);
    top: calc(-50% + 26px);
    left: calc(4.1667% + 26px);
    left: calc(4.1667vw + 26px);
    position: absolute; }
  .wp-block-tainacan-search-bar.is-style-stylish .search-bar-collection-header-container .tainacan-search-container #tainacan-search-bar-block input#tainacan-search-bar-block_input {
    background: white;
    border-width: 3px;
    border-style: solid;
    margin-right: -56px;
    padding-right: 24px;
    padding-left: 24px; }
    .wp-block-tainacan-search-bar.is-style-stylish .search-bar-collection-header-container .tainacan-search-container #tainacan-search-bar-block input#tainacan-search-bar-block_input:hover {
      border-width: 3px !important; }
  @media only screen and (max-width: 768px) {
    .wp-block-tainacan-search-bar.is-style-stylish .search-bar-collection-header-container .tainacan-search-container {
      width: calc(100% - 4.1667% - 53px) !important;
      width: calc(100% - 4.1667vw - 53px) !important;
      bottom: calc(-50% + 38px) !important;
      position: absolute !important; }
    .wp-block-tainacan-search-bar.is-style-stylish .search-bar-collection-header-container.is-aligned-right .search-bar-collection-header-title, .wp-block-tainacan-search-bar.is-style-stylish .search-bar-collection-header-container.is-aligned-left .search-bar-collection-header-title {
      margin-bottom: 0px !important; } }
  .wp-block-tainacan-search-bar .search-bar-collection-header-image {
    width: 100%;
    min-width: 160px;
    min-height: 125px;
    background-size: cover;
    background-position: center;
    background-color: #dbdbdb; }
  .wp-block-tainacan-search-bar .search-bar-collection-header-container {
    width: 100%;
    min-height: 125px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-grow: 2;
    padding: 0.5em 4.1667%;
    padding: 0.5em 4.1667vw;
    text-align: center;
    text-decoration: none !important; }
    .wp-block-tainacan-search-bar .search-bar-collection-header-container.is-aligned-left {
      min-height: 115px;
      text-align: left;
      flex-direction: row-reverse;
      flex-wrap: nowrap;
      justify-content: space-between; }
      .wp-block-tainacan-search-bar .search-bar-collection-header-container.is-aligned-left .search-bar-collection-header-title {
        text-align: right; }
    .wp-block-tainacan-search-bar .search-bar-collection-header-container.is-aligned-right {
      min-height: 115px;
      text-align: right;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between; }
      .wp-block-tainacan-search-bar .search-bar-collection-header-container.is-aligned-right .search-bar-collection-header-title {
        text-align: left; }
    .wp-block-tainacan-search-bar .search-bar-collection-header-container .search-bar-collection-header-title {
      width: 100%;
      color: white; }
      .wp-block-tainacan-search-bar .search-bar-collection-header-container .search-bar-collection-header-title h3 {
        margin: 0 auto;
        text-decoration: none;
        font-size: 1.3em;
        line-height: 1.5em;
        text-overflow: ellipsis;
        color: inherit; }
        .wp-block-tainacan-search-bar .search-bar-collection-header-container .search-bar-collection-header-title h3:hover {
          text-decoration: none; }
      .wp-block-tainacan-search-bar .search-bar-collection-header-container .search-bar-collection-header-title span.label {
        width: 100%;
        display: block;
        margin-top: -8px;
        font-weight: normal;
        font-size: 1em; }
    @media only screen and (max-width: 1024px) {
      .wp-block-tainacan-search-bar .search-bar-collection-header-container .search-bar-collection-header-title {
        margin-bottom: 1em; } }

/*# sourceMappingURL=tainacan-gutenberg-block-search-bar.css.map */
