.wp-block-tainacan-terms-list {
  margin: 1rem 0px; }
  .wp-block-tainacan-terms-list .components-spinner {
    position: absolute;
    right: 0; }
  .wp-block-tainacan-terms-list .block-control {
    display: flex;
    flex-direction: row;
    justify-content: center; }
  .wp-block-tainacan-terms-list ul.terms-list.terms-layout-grid,
  .wp-block-tainacan-terms-list ul.terms-list-edit.terms-layout-grid {
    padding: 0;
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fill, 220px);
    grid-gap: 0px;
    justify-content: space-evenly;
    list-style-type: none; }
    .wp-block-tainacan-terms-list ul.terms-list.terms-layout-grid li.term-list-item,
    .wp-block-tainacan-terms-list ul.terms-list-edit.terms-layout-grid li.term-list-item {
      position: relative;
      display: block;
      margin: 12px 12px 24px 12px;
      margin-bottom: 12px;
      width: 185px; }
      .wp-block-tainacan-terms-list ul.terms-list.terms-layout-grid li.term-list-item a,
      .wp-block-tainacan-terms-list ul.terms-list-edit.terms-layout-grid li.term-list-item a {
        color: #454647;
        font-weight: bold; }
      .wp-block-tainacan-terms-list ul.terms-list.terms-layout-grid li.term-list-item img,
      .wp-block-tainacan-terms-list ul.terms-list-edit.terms-layout-grid li.term-list-item img {
        height: auto;
        width: 185px;
        min-width: 185px;
        padding: 0px;
        margin-bottom: 10px; }
      .wp-block-tainacan-terms-list ul.terms-list.terms-layout-grid li.term-list-item a.term-without-name span,
      .wp-block-tainacan-terms-list ul.terms-list-edit.terms-layout-grid li.term-list-item a.term-without-name span {
        display: none; }
      .wp-block-tainacan-terms-list ul.terms-list.terms-layout-grid li.term-list-item:hover a,
      .wp-block-tainacan-terms-list ul.terms-list-edit.terms-layout-grid li.term-list-item:hover a {
        color: #454647;
        text-decoration: none; }
  .wp-block-tainacan-terms-list ul.terms-list-edit li.term-list-item {
    display: flex;
    align-items: flex-start; }
    .wp-block-tainacan-terms-list ul.terms-list-edit li.term-list-item button {
      position: absolute !important;
      background-color: rgba(255, 255, 255, 0.75);
      color: #454647;
      padding: 2px;
      margin-left: 5px;
      min-width: 14px;
      visibility: hidden;
      position: relative;
      opacity: 0;
      right: -12px;
      justify-content: center; }
    .wp-block-tainacan-terms-list ul.terms-list-edit li.term-list-item:hover button {
      visibility: visible;
      opacity: 1;
      right: 0px;
      transition: opacity linear 0.15s, right linear 0.15s; }
  @media only screen and (max-width: 498px) {
    .wp-block-tainacan-terms-list ul.terms-list.terms-layout-grid,
    .wp-block-tainacan-terms-list ul.terms-list-edit.terms-layout-grid {
      grid-template-columns: repeat(auto-fill, 100%); }
      .wp-block-tainacan-terms-list ul.terms-list.terms-layout-grid li.term-list-item,
      .wp-block-tainacan-terms-list ul.terms-list-edit.terms-layout-grid li.term-list-item {
        width: 100%; }
        .wp-block-tainacan-terms-list ul.terms-list.terms-layout-grid li.term-list-item img,
        .wp-block-tainacan-terms-list ul.terms-list-edit.terms-layout-grid li.term-list-item img {
          width: 100%; } }
  .wp-block-tainacan-terms-list ul.terms-list.terms-layout-list,
  .wp-block-tainacan-terms-list ul.terms-list-edit.terms-layout-list {
    padding: 0;
    display: block;
    list-style-type: none; }
    .wp-block-tainacan-terms-list ul.terms-list.terms-layout-list li.term-list-item,
    .wp-block-tainacan-terms-list ul.terms-list-edit.terms-layout-list li.term-list-item {
      position: relative;
      display: inline-block;
      margin: 12px 12px 24px 12px;
      margin-bottom: 12px;
      min-height: 54px;
      min-width: 22%;
      width: 22%; }
      .wp-block-tainacan-terms-list ul.terms-list.terms-layout-list li.term-list-item a,
      .wp-block-tainacan-terms-list ul.terms-list-edit.terms-layout-list li.term-list-item a {
        color: #454647;
        display: flex;
        align-items: center;
        height: 54px; }
      .wp-block-tainacan-terms-list ul.terms-list.terms-layout-list li.term-list-item img,
      .wp-block-tainacan-terms-list ul.terms-list-edit.terms-layout-list li.term-list-item img {
        height: auto;
        width: 54px;
        min-width: 54px;
        padding: 0px;
        margin-right: 20px; }
      .wp-block-tainacan-terms-list ul.terms-list.terms-layout-list li.term-list-item a.term-without-image img,
      .wp-block-tainacan-terms-list ul.terms-list-edit.terms-layout-list li.term-list-item a.term-without-image img {
        display: none; }
      .wp-block-tainacan-terms-list ul.terms-list.terms-layout-list li.term-list-item:hover a,
      .wp-block-tainacan-terms-list ul.terms-list-edit.terms-layout-list li.term-list-item:hover a {
        color: #454647;
        text-decoration: none; }
  .wp-block-tainacan-terms-list ul.terms-list-edit li.term-list-item button {
    position: absolute !important;
    background-color: rgba(255, 255, 255, 0.75);
    color: #454647;
    padding: 2px;
    margin-left: 5px;
    min-width: 14px;
    visibility: hidden;
    position: relative;
    opacity: 0;
    right: -12px;
    justify-content: center; }
  .wp-block-tainacan-terms-list ul.terms-list-edit li.term-list-item:hover button {
    visibility: visible;
    opacity: 1;
    right: 0px;
    transition: opacity linear 0.15s, right linear 0.15s; }
  @media only screen and (max-width: 1600px) {
    .wp-block-tainacan-terms-list ul.terms-list.terms-layout-list li.term-list-item,
    .wp-block-tainacan-terms-list ul.terms-list-edit.terms-layout-list li.term-list-item {
      min-width: 30%;
      width: 30%; } }
  @media only screen and (max-width: 1024px) {
    .wp-block-tainacan-terms-list ul.terms-list.terms-layout-list li.term-list-item,
    .wp-block-tainacan-terms-list ul.terms-list-edit.terms-layout-list li.term-list-item {
      min-width: 45%;
      width: 45%; } }
  @media only screen and (max-width: 768px) {
    .wp-block-tainacan-terms-list ul.terms-list.terms-layout-list li.term-list-item,
    .wp-block-tainacan-terms-list ul.terms-list-edit.terms-layout-list li.term-list-item {
      min-width: 100%;
      width: 100%; } }

.wp-block-tainacan-terms-modal {
  width: 50%; }
  @media only screen and (max-width: 1024px) {
    .wp-block-tainacan-terms-modal {
      width: 75%; } }
  @media only screen and (max-width: 768px) {
    .wp-block-tainacan-terms-modal {
      width: 100%; } }
  .wp-block-tainacan-terms-modal .modal-terms-search-area {
    display: flex;
    justify-content: center;
    margin-bottom: 24px; }
    .wp-block-tainacan-terms-modal .modal-terms-search-area .components-base-control {
      width: 60%; }
      @media only screen and (max-width: 1024px) {
        .wp-block-tainacan-terms-modal .modal-terms-search-area .components-base-control {
          width: 95%; } }
      .wp-block-tainacan-terms-modal .modal-terms-search-area .components-base-control label {
        text-align: center; }
  .wp-block-tainacan-terms-modal .modal-terms-list,
  .wp-block-tainacan-terms-modal .modal-taxonomies-list .components-base-control__field {
    padding: 0;
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fill, 250px);
    grid-gap: 0px;
    justify-content: space-evenly;
    list-style-type: none;
    margin: 12px; }
    .wp-block-tainacan-terms-modal .modal-terms-list .modal-terms-list-item,
    .wp-block-tainacan-terms-modal .modal-terms-list .components-radio-control__option,
    .wp-block-tainacan-terms-modal .modal-taxonomies-list .components-base-control__field .modal-terms-list-item,
    .wp-block-tainacan-terms-modal .modal-taxonomies-list .components-base-control__field .components-radio-control__option {
      display: flex;
      justify-content: flex-start; }
      .wp-block-tainacan-terms-modal .modal-terms-list .modal-terms-list-item img,
      .wp-block-tainacan-terms-modal .modal-terms-list .components-radio-control__option img,
      .wp-block-tainacan-terms-modal .modal-taxonomies-list .components-base-control__field .modal-terms-list-item img,
      .wp-block-tainacan-terms-modal .modal-taxonomies-list .components-base-control__field .components-radio-control__option img {
        max-width: 24px;
        margin-right: 10px; }
      .wp-block-tainacan-terms-modal .modal-terms-list .modal-terms-list-item label,
      .wp-block-tainacan-terms-modal .modal-terms-list .components-radio-control__option label,
      .wp-block-tainacan-terms-modal .modal-taxonomies-list .components-base-control__field .modal-terms-list-item label,
      .wp-block-tainacan-terms-modal .modal-taxonomies-list .components-base-control__field .components-radio-control__option label {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        display: inline-block;
        max-width: 85%; }
  .wp-block-tainacan-terms-modal .modal-terms-loadmore-section {
    display: flex;
    align-items: baseline;
    justify-content: center; }
    .wp-block-tainacan-terms-modal .modal-terms-loadmore-section p {
      color: #555758;
      margin-right: 12px; }
  .wp-block-tainacan-terms-modal .modal-terms-footer {
    border-top: 1px solid #e2e4e7;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding: 16px 16px 0 16px;
    margin: 0 -16px; }

/*# sourceMappingURL=tainacan-gutenberg-blocks-style.css.map */
