:root {
  --tainacan-block-gray0: #f6f6f6;
  --tainacan-block-gray1: #f2f2f2;
  --tainacan-block-gray2: #dbdbdb;
  --tainacan-block-gray3: #cbcbcb;
  --tainacan-block-gray4: #555758;
  --tainacan-block-gray5: #454647;
  --tainacan-block-primary: #298596; }

[data-align='full'] .tainacan-block-control {
  width: calc(100% + 14px); }

.tainacan-block-control {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px;
  position: relative;
  top: -14px;
  left: -14px;
  width: calc(100% + 28px);
  background: var(--tainacan-block-gray1, #f2f2f2); }
  .tainacan-block-control p {
    font-size: 0.875em !important;
    margin: 12px 1.5em !important;
    fill: var(--tainacan-block-gray4, #555758); }
    .tainacan-block-control p svg {
      top: 6px;
      margin-right: 0.75em;
      position: relative;
      fill: var(--tainacan-block-gray4, #555758); }
  .tainacan-block-control .components-base-control .components-base-control__field {
    margin-bottom: 0; }

.tainacan-block-placeholder.components-placeholder {
  align-items: center !important;
  margin-bottom: 0 !important;
  background: var(--tainacan-block-gray0, #f6f6f6); }
  .tainacan-block-placeholder.components-placeholder .components-placeholder__label {
    margin-bottom: 0; }
  .tainacan-block-placeholder.components-placeholder .components-placeholder__fieldset {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    width: 100%;
    max-width: 70%;
    flex-wrap: wrap;
    z-index: 1; }
    .tainacan-block-placeholder.components-placeholder .components-placeholder__fieldset p {
      font-size: 1em !important;
      margin: 12px;
      color: var(--tainacan-block-gray5, #454647);
      fill: var(--tainacan-block-gray4, #555758); }
      .tainacan-block-placeholder.components-placeholder .components-placeholder__fieldset p svg {
        margin-right: 1em;
        top: 4px;
        position: relative;
        fill: var(--tainacan-block-gray4, #555758); }

.wp-block-tainacan-modal {
  width: 50%; }
  @media only screen and (max-width: 1024px) {
    .wp-block-tainacan-modal {
      width: 75%; } }
  @media only screen and (max-width: 768px) {
    .wp-block-tainacan-modal {
      width: 100%; } }
  .wp-block-tainacan-modal.dynamic-modal {
    width: 90%;
    height: 90%;
    width: 80vw;
    height: 80vh; }
    .wp-block-tainacan-modal.dynamic-modal iframe {
      width: calc(100% + 32px);
      height: calc(100% - 128px);
      margin-left: -16px; }
    .wp-block-tainacan-modal.dynamic-modal .modal-footer-area {
      height: 68px;
      width: calc(100% + 32px);
      margin-left: -16px !important;
      padding: 1.2em 1.2em !important;
      border-top: 1px solid var(--tainacan-block-gray3, #cbcbcb); }
  .wp-block-tainacan-modal .spinner-container {
    min-height: 56px;
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--tainacan-block-gray4, #555758); }
    .wp-block-tainacan-modal .spinner-container .components-spineer {
      margin: 8px; }
  .wp-block-tainacan-modal .components-modal__header .components-button.has-icon,
  .wp-block-tainacan-modal .components-modal__header .components-icon-button {
    padding-right: 0; }
    .wp-block-tainacan-modal .components-modal__header .components-button.has-icon:hover,
    .wp-block-tainacan-modal .components-modal__header .components-icon-button:hover {
      background: transparent !important;
      border: none !important;
      box-shadow: none !important; }
  .wp-block-tainacan-modal hr {
    margin: 5px 0.75em; }
  .wp-block-tainacan-modal .components-select-control__input {
    padding: 4px 8px !important;
    margin: 0 !important;
    line-height: 1em; }
  .wp-block-tainacan-modal .modal-search-area {
    display: flex;
    justify-content: center;
    margin-bottom: 6px; }
    .wp-block-tainacan-modal .modal-search-area .components-base-control {
      width: 60%; }
      @media only screen and (max-width: 1024px) {
        .wp-block-tainacan-modal .modal-search-area .components-base-control {
          width: 95%; } }
      .wp-block-tainacan-modal .modal-search-area .components-base-control:nth-child(2) {
        flex-shrink: 2; }
      .wp-block-tainacan-modal .modal-search-area .components-base-control .components-base-control__field {
        flex-wrap: wrap; }
      .wp-block-tainacan-modal .modal-search-area .components-base-control label.components-base-control__label {
        font-weight: 500;
        color: var(--tainacan-block-gray5, #454647);
        font-size: 1em;
        text-align: center; }
      .wp-block-tainacan-modal .modal-search-area .components-base-control input.components-text-control__input {
        padding: 5px 8px;
        height: 28px; }
  .wp-block-tainacan-modal .modal-radio-area-label {
    font-weight: 500;
    margin-left: 1.75em; }
  .wp-block-tainacan-modal .modal-checkbox-list,
  .wp-block-tainacan-modal .modal-radio-list .components-base-control__field {
    padding: 0;
    flex-wrap: wrap;
    display: flex;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 250px 250px;
    grid-template-columns: repeat(auto-fill, 250px);
    grid-gap: 0px;
    justify-content: space-evenly;
    list-style-type: none;
    margin: 10px;
    padding: 2px;
    max-height: 37vh;
    overflow-y: auto;
    overflow-x: hidden; }
    .wp-block-tainacan-modal .modal-checkbox-list .components-base-control,
    .wp-block-tainacan-modal .modal-radio-list .components-base-control__field .components-base-control {
      overflow: hidden;
      padding-left: 1px; }
    .wp-block-tainacan-modal .modal-checkbox-list svg.components-checkbox-control__checked,
    .wp-block-tainacan-modal .modal-radio-list .components-base-control__field svg.components-checkbox-control__checked {
      fill: black; }
    .wp-block-tainacan-modal .modal-checkbox-list .modal-checkbox-list-item,
    .wp-block-tainacan-modal .modal-checkbox-list .components-radio-control__option,
    .wp-block-tainacan-modal .modal-radio-list .components-base-control__field .modal-checkbox-list-item,
    .wp-block-tainacan-modal .modal-radio-list .components-base-control__field .components-radio-control__option {
      display: flex;
      justify-content: flex-start; }
      .wp-block-tainacan-modal .modal-checkbox-list .modal-checkbox-list-item img,
      .wp-block-tainacan-modal .modal-checkbox-list .components-radio-control__option img,
      .wp-block-tainacan-modal .modal-radio-list .components-base-control__field .modal-checkbox-list-item img,
      .wp-block-tainacan-modal .modal-radio-list .components-base-control__field .components-radio-control__option img {
        width: 24px;
        height: 24px;
        margin-right: 10px; }
      .wp-block-tainacan-modal .modal-checkbox-list .modal-checkbox-list-item label,
      .wp-block-tainacan-modal .modal-checkbox-list .components-radio-control__option label,
      .wp-block-tainacan-modal .modal-radio-list .components-base-control__field .modal-checkbox-list-item label,
      .wp-block-tainacan-modal .modal-radio-list .components-base-control__field .components-radio-control__option label {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        display: inline-block;
        max-width: 85%; }
        @media only screen and (max-width: 768px) {
          .wp-block-tainacan-modal .modal-checkbox-list .modal-checkbox-list-item label,
          .wp-block-tainacan-modal .modal-checkbox-list .components-radio-control__option label,
          .wp-block-tainacan-modal .modal-radio-list .components-base-control__field .modal-checkbox-list-item label,
          .wp-block-tainacan-modal .modal-radio-list .components-base-control__field .components-radio-control__option label {
            max-width: 80%; } }
  .wp-block-tainacan-modal .modal-loadmore-section {
    display: flex;
    align-items: baseline;
    justify-content: center; }
    .wp-block-tainacan-modal .modal-loadmore-section p {
      color: var(--tainacan-block-gray4, #555758);
      margin-right: 12px;
      margin-top: 2px; }
  .wp-block-tainacan-modal .modal-footer-area {
    border-top: 1px solid #e2e4e7;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding: 16px 16px 0 16px;
    margin: 0 -16px; }
    .wp-block-tainacan-modal .modal-footer-area p {
      padding: 0 12px;
      color: var(--tainacan-block-gray5, #454647); }

/*# sourceMappingURL=tainacan-gutenberg-block-common-styles.css.map */
