@import '../../gutenberg-blocks-style.scss';

.edit-post-sidebar div.components-toolbar {
    border: none;
    justify-content: center;
}
.wp-block-tainacan-search-bar {
    margin: 2rem auto;

    .tainacan-search-container {
        width: 100%;

        #taincan-search-bar-block {
            height: 32px;
            max-width: 100%;
            display: flex;
            justify-content: center;
            align-items: stretch;
            margin: 0 auto;
            border: 1px solid #dbdbdb;
            transition: border-color ease 0.3s;

            &.is-aligned-left {
                margin-left: 0;
                justify-content: flex-start;
            }
            &.is-aligned-right {
                margin-right: 0;
                justify-content: flex-end;
            }
            &:hover,
            &:focus,
            &:active {
                border: 1px solid #545758;
            }

            input#taincan-search-bar-block_input {
                width: 100%;
                min-width: 28px;
                margin: 0;
                border: none;
                padding: 4px 0.75rem;
                text-overflow: ellipsis;
            }
            button {
                height: auto;
                display: flex;
                align-items: center;
                border: none;
                box-shadow: none;
                border-radius: 0;
                background: white;
                padding: 4px 1rem;
                font-size: 1rem;

                .icon {
                    height: 28px;                    
                    svg { 
                        fill: #298596; 
                    }
                }
            }

            @media only screen and (max-width: 768px) {
                margin-left: 0px;
                margin-right: 0px;
                max-width: 100% !important;
                
                input#taincan-search-bar-block_input  {
                    width: 100% !important;
                }
            } 
        }
    }
    .search-bar-collection-header-container {
        .search-bar-collection-header-title {
            max-width: 1400px;
            margin-left: auto;
            margin-right: auto;
        }
        @media only screen and (max-width: 768px) {
            flex-wrap: wrap !important;

            .search-bar-collection-header-title {
                text-align: center !important;
            }
        }
    }

    &.is-style-alternate {
        #taincan-search-bar-block {
            width: 100%;
            display: flex;
            flex-direction: row-reverse;
            border: none;

            &.is-aligned-left {
                margin-left: 0;
                justify-content: flex-end;
            }
            &.is-aligned-right {
                margin-right: 0;
                justify-content: flex-start;
            }            
            &:focus,
            &:active,
            &:hover {
                border: none;
            }
            input#taincan-search-bar-block_input  {
                width: 35%;
                border-radius: 0;
                margin-left: -52px;
                padding-left: 52px;
                border: 1px solid transparent;
                background: rgba(250, 250, 250, 0.2);
                transition: border-color 0.4s ease, width 0.5s ease-in, background-color 0.3s ease, color 0.3s ease;

                &:focus,
                &:active,
                &:hover {
                    width: 100%;
                    border-color: #cbcbcb;
                    background:rgba(250, 250, 250, 1);
                    box-shadow: none;
                }
            }

            button {
                margin-right: 0.75rem;
                padding: 0 0.35rem;
                min-height: 28px;
                z-index: 2;
                border: none;
                background: transparent;
                cursor: pointer;

                .icon {
                    svg { 
                        fill: #cbcbcb; 
                        transition: fill 0.4s ease;
                    }
                }
                &:hover {
                    background: transparent;     
                }
            }

            @media only screen and (max-width: 768px) {
                margin-left: 0px;
                margin-right: 0px;
                max-width: 100% !important;

                input#taincan-search-bar-block_input  {
                    width: 100% !important;
                }
            } 
        }

        // This style has particular alignments properties.
        .search-bar-collection-header-container {
            .tainacan-search-container {
                #taincan-search-bar-block {
                    &:focus,
                    &:active,
                    &:hover {
                        input,
                        input::placeholder { 
                            color: #454647; 
                            border-width: 0;
                        }
                        button .icon {
                            svg { 
                                fill: #cbcbcb !important; 
                            }
                        }
                    }

                    input#taincan-search-bar-block_input {
                        color: white;
                        &::placeholder { color: white; }

                        &:focus,
                        &:active,
                        &:hover,
                        &:focus::placeholder,
                        &:active::placeholder,
                        &:hover::placeholder {
                            color: #454647;
                        }

                    }
                    button .icon {
                        svg { 
                            fill: #dbdbdb !important; 
                        }
                    }
                }
            }
        }
    }

    &.is-style-stylish {
        #taincan-search-bar-block {
            width: 100%;
            height: 53px;
            display: flex;
            flex-direction: row;
            border: none;

            &:focus,
            &:active,
            &:hover {
                border: none;
            }

            &:hover input#taincan-search-bar-block_input {
                width: 100%;
                padding-right: 52px;
                padding-left: 24px;
                border-width: 0;
            }

            input#taincan-search-bar-block_input {
                width: 0%;
                min-width: 0%;
                border-radius: 28px;
                margin-right: -56px;
                padding-right: 27px;
                padding-left: 26px;
                font-size: 1rem;
                border-width: 0;
                background: #f2f2f2;
                transition: width 0.5s ease-in;

                &:focus,
                &:active,
                &:hover {
                    width: 100%;
                    padding-right: 52px;
                    padding-left: 24px;
                    border-width: 0;
                }
            }

            button {
                margin-left: 0.75rem;
                padding: 0 0.35rem;
                min-height: 28px;
                z-index: 2;
                border: none;
                background: transparent;
                cursor: pointer;

                .icon {
                    svg { 
                        fill: black; 
                        transition: fill 0.4s ease;
                    }
                }
                &:hover {
                   background: transparent;     
                }
            }

            @media only screen and (max-width: 768px) {

            } 
            
        }

        // This style has particular alignments properties.
        .search-bar-collection-header-container {

            &:not(.is-aligned-right):not(.is-aligned-left) {
                .tainacan-search-container {
                    width: calc(100% - 4.1667% - 53px);
                    width: calc(100% - 4.1667vw - 53px);
                    bottom: calc(-50% + 38px);
                    position: absolute;
                }
                .search-bar-collection-header-title {
                    margin-bottom: 26px;
                }
            }
            &.is-aligned-right {
                .tainacan-search-container {
                    width: calc(100% - 4.1667% - 26px);
                    width: calc(100% - 4.1667vw - 26px);
                    top: calc(-50% + 26px);
                    right: calc(4.1667% + 26px);
                    right: calc(4.1667vw + 26px);
                    position: absolute;
                }
            }

            &.is-aligned-left {
                .tainacan-search-container {
                    width: calc(100% - 1rem - 26px);
                    top: calc(-50% + 26px);
                    left: calc(4.1667% + 26px);
                    left: calc(4.1667vw + 26px);
                    position: absolute;
                }
            }

            .tainacan-search-container #taincan-search-bar-block input#taincan-search-bar-block_input {
                background: white;
                border-width: 3px;
                border-style: solid;
                margin-right: -56px;
                padding-right: 24px;
                padding-left: 24px;

                &:hover {
                    border-width: 3px !important;
                }
            }

            @media only screen and (max-width: 768px) { 
                .tainacan-search-container {
                    width: calc(100% - 4.1667% - 53px) !important;
                    width: calc(100% - 4.1667vw - 53px) !important;
                    bottom: calc(-50% + 38px) !important;
                    position: absolute !important;
                }
                &.is-aligned-right,
                &.is-aligned-left {
                    .search-bar-collection-header-title {
                        margin-bottom: 0px !important;
                    }
                }
            }
        }
    }

    // Collection header
    .search-bar-collection-header-image {
        width: 100%;
        min-width: 160px;
        min-height: 125px;
        background-size: cover;
        background-position: center;
        background-color: #dbdbdb;
    }
    .search-bar-collection-header-container {
        width: 100%;
        min-height: 125px;
        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        flex-grow: 2;
        padding: 0.5rem 4.1667%;
        padding: 0.5rem 4.1667vw;
        text-align: center;
        text-decoration: none !important;

        &.is-aligned-left {
            min-height: 115px;
            text-align: left;
            flex-direction: row-reverse;
            flex-wrap: nowrap;
            justify-content: space-between;

            .search-bar-collection-header-title { text-align: right; }
        }
        &.is-aligned-right {
            min-height: 115px;
            text-align: right;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-between;

            .search-bar-collection-header-title { text-align: left; }
        }

        .search-bar-collection-header-title {
            width: 100%; 
            color: white;
            
            h3 { 
                margin: 0 auto;
                text-decoration: none;
                font-size: 1.3rem;
                line-height: 1.5rem;
                text-overflow: ellipsis;
                color: inherit;
                &:hover {
                    text-decoration: none;
                }
            }
            span.label { 
                width: 100%;
                display: block;
                margin-top: -8px;
                font-weight: normal; 
                font-size: 1rem;
            }
        }

        @media only screen and (max-width: 1024px) { 
            .search-bar-collection-header-title { 
                margin-bottom: 1rem; 
            }
        }
    }
}
