@import '../../gutenberg-blocks-style.scss';

.wp-block-tainacan-search-bar {
    margin: 2rem 0px;

    .tainacan-search-container {
        form#taincan-search-bar-block {
            width: 800px;
            height: 32px;
            max-width: 100%;
            display: flex;
            justify-content: center;
            align-items: stretch;
            margin: 0 auto;
            border: 1px solid #dbdbdb;
            transition: border-color ease 0.3s;

            input#taincan-search-bar-block_input {
                width: 100%;
                margin: 0;
                border: none;
                padding: 4px 0.75rem;
                &:focus,
                &:active {
                    border: 1px solid #545758;
                    border-right: none;
                }
            }
            button {
                height: auto;
                display: flex;
                align-items: center;
                border: none;
                border-radius: 0;
                background: #f2f2f2;
                padding: 4px 1rem;
                font-size: 1rem;
                transition: background ease 0.3s;

                &:hover {
                    background: #dbdbdb;
                }
                .icon {
                    height: 28px;                    
                    svg { 
                        fill: #298596; 
                    }
                }
            }
        }
    }

    &.is-style-alternate {
        form#taincan-search-bar-block {
            width: 100%;
            display: flex;
            flex-direction: row-reverse;
            border: none;

            input#taincan-search-bar-block_input  {
                width: 35%;
                border-radius: 0;
                margin-left: -52px;
                padding-left: 52px;
                border: 1px solid white;
                transition: border-color 0.7s ease, width 0.5s ease-in;

                &:focus,
                &:active,
                &:hover {
                    width: 100%;
                    border: 1px solid #cbcbcb;
                    box-shadow: none;
                }
            }

            button {
                margin-right: 0.75rem;
                padding: 0 0.35rem;
                min-height: 28px;
                z-index: 2;
                border: none;
                background: transparent;
                cursor: pointer;
                .icon {
                    svg { 
                    fill: #cbcbcb; 
                    transition: fill 0.4s ease;
                    }
                }
                &:hover .icon svg { fill: #545758; }

            }

            @media only screen and (max-width: 768px) {
                flex-wrap: wrap;

                .search-button {
                    order: 4;
                    position: absolute;
                    margin-top: 37px;
                }
                input {
                    width: 100% !important;
                    order: 5;
                    margin-top: 8px;
                    margin-left: 0px !important;
                    padding-left: 4px !important;
                    border-color: #dbdbdb !important;
                }
            } 
        }
    }
}
