// COMMON TO MOST BLOCKS
// Control and placeholder region ----------------------------------------------------
[data-align='full'] .block-control {
    width: calc(100% + 14px);
}
.block-control {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px;
    position: relative;
    top: -14px;
    left: -14px;
    width: calc(100% + 28px);
    background: #f2f2f2;

    p {
        font-size: 0.875rem !important; 
        margin: 12px 1.5rem 16px 0; 
        fill: #555758;

        svg {
            top: 4px;
            margin-right: 0.75rem;
            position: relative;
            fill: #555758;
        }
    }
}
.components-placeholder__fieldset p {
    font-size: 0.875rem !important;
    margin-top: -2px;
    fill: #555758;

    svg {
        margin-right: 1rem; 
        top: 4px;
        position: relative;
        fill: #555758;
    }
}

// Grid mixin for display: grid compatibility
@mixin display-grid {
    flex-wrap: wrap;
    display: flex;
    display: -ms-grid;
    display: grid;
}
@mixin grid-child ($col-start, $col-end, $row-start, $row-end) {
    -ms-grid-column: $col-start;
    -ms-grid-column-span: $col-end - $col-start;
    -ms-grid-row: $row-start;
    -ms-grid-row-span: $row-end - $row-start;
    grid-column: #{$col-start}/#{$col-end};
    grid-row: #{$row-start}/#{$row-end};
}
  
// Generic style for selection modals ---------------------------
.wp-block-tainacan-modal {
    width: 50%;

    @media only screen and (max-width: 1024px) {  width: 75% }
    @media only screen and (max-width: 768px) { width: 100%; }

    // Iframe for dynamic modal
    &.dynamic-modal {
        width: 90%;
        height: 90%;
        width: 80vw;
        height: 80vh;

        iframe {
            width: calc(100% + 32px);
            height: calc(100% - 128px);
            margin-left: -16px;
        }

        .modal-footer-area {
            height: 68px;
            width: calc(100% + 32px);
            margin-left: -16px !important;
            padding: 1.2rem 1.2rem !important;
            border-top: 1px solid #cbcbcb;
        }
    }

    // Spinner
    .spinner-container {
        min-height: 56px;
        padding: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #555758;
        .components-spineer { margin: 8px; }
    }

    .components-modal__header .components-icon-button {
        padding-right: 0;
    }

    hr {
        margin: 5px 0.75rem;
    }

    .modal-search-area {
        display: flex;
        justify-content: center;
        margin-bottom: 14px;

        .components-base-control {
            width: 60%;

            @media only screen and (max-width: 1024px) {  width: 95% }
            &:nth-child(2) {
                flex-shrink: 2;
            }
            .components-base-control__field {
                flex-wrap: wrap;
            }
            label.components-base-control__label {
                font-weight: 500;
                color: #454647;
                font-size: 0.875rem;
                text-align: center;
            }
            input.components-text-control__input {
                padding: 5px 8px;
                height: 28px;
            }
        }
    }

    .modal-radio-area-label {
        font-weight: 500;
        margin-left: 1.75rem;
    }

    .modal-checkbox-list,
    .modal-radio-list .components-base-control__field {
        padding: 0;
        @include display-grid;
        -ms-grid-columns: 250px 250px;
        grid-template-columns: repeat(auto-fill, 250px);
        grid-gap: 0px;
        justify-content: space-evenly;
        list-style-type: none;
        margin: 12px;
        max-height: 50vh;
        overflow-y: auto;
        overflow-x: hidden;

        .components-base-control {
            overflow: hidden;
        }
    
        .modal-checkbox-list-item,
        .components-radio-control__option {
            display: flex;
            justify-content: flex-start;

            img {
                width: 24px;
                height: 24px;
                margin-right: 10px;
            }
            label {
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                display: inline-block;
                max-width: 85%;

                @media only screen and (max-width: 768px) { max-width: 80%; }
            }
        }
    }
    .modal-loadmore-section {
        display: flex;
        align-items: baseline;
        justify-content: center;
        
        p {
            color: #555758;
            margin-right: 12px;
            margin-top: 2px;
        }
    }
    .modal-footer-area {
        border-top: 1px solid #e2e4e7;
        display: flex;
        align-items: baseline;
        justify-content: space-between;
        padding: 16px 16px 0 16px;
        margin: 0 -16px;

        p {
            padding: 0 12px;
            color: #454647;
        }
    }
}