@import '../../gutenberg-blocks-style.scss';

.wp-block-tainacan-facets-list {
    margin: 2em auto;

    // Spinner
    .spinner-container {
        min-height: 56px;
        padding: 1em;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #555758;
    }

    // Skeleton loading
    @-webkit-keyframes skeleton-animation {
        0%{opacity: 1.0}
        50%{opacity: 0.2}
        100%{opacity: 1.0}
    }
    @-moz-keyframes skeleton-animation {
        0%{opacity: 1.0}
        50%{opacity: 0.2}
        100%{opacity: 1.0}
    }
    @-o-keyframes skeleton-animation {
        0%{opacity: 1.0}
        50%{opacity: 0.2}
        100%{opacity: 1.0}
    }
    @keyframes skeleton-animation {
        0%{opacity: 1.0}
        50%{opacity: 0.2}
        100%{opacity: 1.0}
    }
    .skeleton {
        border-radius: 2px;
        background: #f2f2f2;

        -webkit-animation: skeleton-animation 1.8s ease infinite;
        -moz-animation: skeleton-animation 1.8s ease infinite;
        -o-animation: skeleton-animation 1.8s ease infinite;
        animation: skeleton-animation 1.8s ease infinite;
    }

    // Collection header
    .facets-collection-header {
        display: flex;
        width: 100%;
        align-items: stretch;
        text-decoration: none !important;
        &:hover {
            text-decoration: none;
        }

        .collection-name {
            width: auto;
            min-width: 350px;
            flex-grow: 1;
            padding: 1em 100px 1em 1em;
            text-align: right;
            line-height: 1.5em;
            min-height: 165px;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            background-color: #454647;

            h3 { 
                color: white; 
                text-decoration: none;
                font-size: 1.3em;
                margin: 0;
                &:hover {
                    text-decoration: none;
                }
            }
            span.label { 
                font-weight: normal; 
                font-size: 0.75em;
            }

            &.only-collection-name {
                justify-content: center;
                padding: 1em; 
                h3 {
                    text-align: center;
                    font-size: 1.75em;
                }
            }
        }
        .collection-thumbnail {
            height: 145px;
            width: 145px;
            background-size: cover;
            background-position: center;
            border-radius: 80px;
            border: 4px solid white;
            margin: 10px;
            flex-shrink: 0;
            position: relative;
            margin-left: -155px; 
            left: 82px;
            background-color: #dbdbdb;
        }
        .collection-header-image {
            width: auto;
            min-width: 150px;
            min-height: 165px;
            flex-grow: 2;
            background-size: cover;
            background-position: center;
            background-color: #dbdbdb;
        }

        @media only screen and (max-width: 1024px) { 
            flex-wrap: wrap-reverse;

            .collection-name {
                width: 100% !important;
                min-width: 100% !important;
                justify-content: center !important;
                text-align: center !important;
                padding: 64px 1em 0em 1em;
                h3 { margin-bottom: 1em; }
            }
            .collection-thumbnail {
                left: calc(-50% + 78px) !important;
                top: -78px !important;
            }
            .collection-header-image {
                background-color: transparent;
            }
        }
    }

    // Search control bar
    .facets-search-bar {
        width: 100%;
        display: flex;
        align-items: center;
        border-bottom: 1px solid #cbcbcb;
        padding: 1.00em 0.5em 0.75em 0.5em;

        @media only screen and (max-width: 768px) {
            flex-wrap: wrap;

            .search-button {
                order: 4;
                position: absolute;
                margin-top: 37px;
            }
            input {
                width: 100% !important;
                order: 5;
                margin-top: 8px;
                margin-left: 0px !important;
                padding-left: 4px !important;
                border-color: #dbdbdb !important;
            }
        } 

        button {
            margin-right: 0.75em;
            padding: 0 0.35em;
            min-height: 28px;
            z-index: 2;
            border: none;
            background: transparent;
            cursor: pointer;

            svg { 
                fill: #cbcbcb; 
                transition: fill 0.4s ease;
            }
            &:hover svg { fill: #545758; }
            &:focus, &:active { border: none; box-shadow: none; }
            &.sorting-button-selected svg {
                fill: #545758;
            }
            &.next-button {
                margin-right: 0em;
                padding: 0;

                svg { fill: #298596; }
            }
            &.previous-button {
                margin-left: auto;
                margin-right: 1em;
                padding: 0;

                svg { fill: #298596; }
            }
            &[disabled] svg {
                fill: #f2f2f2;
                cursor: not-allowed;
            }
        }
        input {
            height: 32px;
            width: 20%;
            border-radius: 0;
            margin-left: -52px;
            padding-left: 52px;
            border: 1px solid white;
            transition: border-color 0.7s ease, width 0.5s ease-in;

            &:focus,
            &:active,
            &:hover {
                width: 100%;
                border: 1px solid #cbcbcb;
                box-shadow: none;
            }
        }
    }

    // Grid View Mode ----------------------------------------------------
    ul.facets-list.facets-layout-grid,
    ul.facets-list-edit.facets-layout-grid {
        padding: 0;
        @include display-grid;
        -ms-grid-columns: 220px 220px 220px 220px 220px;
        grid-template-columns: repeat(auto-fill, 220px);
        grid-gap: 0px;
        justify-content: space-evenly;
        list-style-type: none;

        li.facet-list-item {
            position: relative;
            display: block;
            margin: 12px;
            width: 185px;

            a { 
                color: #454647; 
                font-weight: bold;
                line-height: normal;
            }

            img {
                height: auto;
                width: 185px;
                min-width: 185px;
                padding: 0px;
                margin-bottom: 0.5em;
            }

            span.facet-item-count {
                color: #cbcbcb;
            }

            &.facet-without-image img {
                display: none;
            }

            &:hover a { 
                color: #454647; 
                text-decoration: none;
            }
        }
    }
    ul.facets-list-edit li.facet-list-item {
        display: flex;
        align-items: flex-start;

        button {
            position: absolute !important;
            background-color: rgba(255, 255, 255, 0.75);
            color: #454647;
            padding: 2px;
            margin-left: 5px;
            min-width: 14px;
            visibility: hidden;
            position: relative;
            opacity: 0;
            right: -14px;
            top: 0px;
            justify-content: center;
            z-index: 999;
        }

        &:hover button {
            visibility: visible;
            background-color: rgba(255, 255, 255, 1) !important;
            opacity: 1;
            right: -8px;
            top: -8px;
            border: 1px solid #cbcbcb;
            border-radius: 12px;
            transition: opacity linear 0.15s, right linear 0.15s;
        }
        &:hover button:hover {
            background-color: rgba(255, 255, 255, 1) !important;
            border: 1px solid #cbcbcb !important;
        }
    }
    @media only screen and (max-width: 498px) { 
        
        ul.facets-list.facets-layout-grid,
        ul.facets-list-edit.facets-layout-grid {
            grid-template-columns: repeat(auto-fill, 100%);

            li.facet-list-item { 
                width: 100%;
                img { width: 100%; }
            }
        }
    }

    // List View Mode ----------------------------------------------------
    ul.facets-list.facets-layout-list,
    ul.facets-list-edit.facets-layout-list {
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        list-style-type: none;

        li.facet-list-item {
            position: relative;
            margin: 12px 12px 24px 12px;
            margin-bottom: 12px;
            min-height: 54px;
            min-width: calc(20% - 24px);
            width: calc(20% - 24px);

            a { 
                color: #454647; 
                height: auto;
                display: flex;
                align-items: center;
                word-break: break-all;
                word-break: break-word;
            }

            img {
                height: auto;
                width: 54px;
                min-width: 54px;
                padding: 0px;
                margin-right: 20px;
            }

            &.facet-without-image { 
                min-height: 0.875em;
                a {
                    height: 0.875em;
                }
                img {
                    display: none;
                }
            }
            span.facet-item-count {
                color: #cbcbcb;
                word-break: break-all;
            }

            &:hover a { 
                color: #454647; 
                text-decoration: none;
            }

            @media only screen and (max-width: 1600px) { 
                min-width: calc(25% - 24px);
                width: calc(25% - 24px);
            }

            @media only screen and (max-width: 1024px) { 
                min-width: calc(33.333% - 24px);
                width: calc(33.333% - 24px);
            }
    
            @media only screen and (max-width: 768px) { 
                min-width: calc(50% - 24px);
                width: calc(50% - 24px);
            }
    
            @media only screen and (max-width: 498px) { 
                min-width: calc(100% - 24px);
                width: calc(100% - 24px);
            }

        }
    }

    // Cloud View Mode ----------------------------------------------------
    ul.facets-list.facets-layout-cloud,
    ul.facets-list-edit.facets-layout-cloud {
        padding: 0;
        display: block;
        list-style-type: none;
        text-align: center;

        li.facet-list-item {
            position: relative;
            display: inline-block;
            margin: 5px 12px;
            line-height: normal;
            vertical-align: middle;

            a { 
                color: #454647; 
                // overflow: hidden;
                // text-overflow: ellipsis;
                // white-space: nowrap;
                display: inline;
                min-height: 54px;
            }

            img {
                height: auto;
                width: 54px;
                min-width: 54px;
                padding: 0px;
                margin-right: 20px;
            }

            &.facet-without-image img {
                display: none;
            }
            span.facet-item-count {
                color: #cbcbcb;
            }

            &:hover a { 
                color: #298596;
                text-decoration: none;
            }
        }
    }

    .show-more-button {
        margin: 12px auto;
        padding: 0.25em;
        display: block;
        background: #298596;
        border: none;
        height: 24px;
        width: 24px;
        cursor: pointer;

        &[disabled] {
            background-color: #cbcbcb;
        }
        
        i>svg {
            fill: white;
        }
    }
}
