@import '../../gutenberg-blocks-style.scss';

.wp-block-tainacan-faceted-search {
    margin: 2em auto;

    // Spinner
    .spinner-container {
        min-height: 56px;
        padding: 1em;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #555758;
    }

    // Skeleton loading
    @-webkit-keyframes skeleton-animation {
        0%{opacity: 1.0}
        50%{opacity: 0.2}
        100%{opacity: 1.0}
    }
    @-moz-keyframes skeleton-animation {
        0%{opacity: 1.0}
        50%{opacity: 0.2}
        100%{opacity: 1.0}
    }
    @-o-keyframes skeleton-animation {
        0%{opacity: 1.0}
        50%{opacity: 0.2}
        100%{opacity: 1.0}
    }
    @keyframes skeleton-animation {
        0%{opacity: 1.0}
        50%{opacity: 0.2}
        100%{opacity: 1.0}
    }
    .skeleton {
        border-radius: 2px;
        background: #f2f2f2;

        -webkit-animation: skeleton-animation 1.8s ease infinite;
        -moz-animation: skeleton-animation 1.8s ease infinite;
        -o-animation: skeleton-animation 1.8s ease infinite;
        animation: skeleton-animation 1.8s ease infinite;
    }
    .preview-warning {
        width: 100%;
        font-size: 0.875em;
        font-style: italic;
        color: #898d8f;
        text-align: center;
        margin: 4px auto;
    }
    .items-list-placeholder {
        min-height: 400px;
        width: 100%;
        background-color: #f2f2f2;

        .search-control,
        .filters,
        .items,
        .pagination {
            background-color: white;
            padding: 12px;
            margin: 6px;
            border-radius: 6px;
        }
    }
}
