@import '../../gutenberg-blocks-style.scss';

.wp-block-tainacan-faceted-search {
    margin: 2em auto;

    // Spinner
    .spinner-container {
        min-height: 56px;
        padding: 1em;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #555758;
    }

    // Skeleton loading
    @-webkit-keyframes skeleton-animation {
        0%{opacity: 1.0}
        50%{opacity: 0.2}
        100%{opacity: 1.0}
    }
    @-moz-keyframes skeleton-animation {
        0%{opacity: 1.0}
        50%{opacity: 0.2}
        100%{opacity: 1.0}
    }
    @-o-keyframes skeleton-animation {
        0%{opacity: 1.0}
        50%{opacity: 0.2}
        100%{opacity: 1.0}
    }
    @keyframes skeleton-animation {
        0%{opacity: 1.0}
        50%{opacity: 0.2}
        100%{opacity: 1.0}
    }
    .skeleton {
        border-radius: 2px;
        background: #f2f2f2;

        -webkit-animation: skeleton-animation 1.8s ease infinite;
        -moz-animation: skeleton-animation 1.8s ease infinite;
        -o-animation: skeleton-animation 1.8s ease infinite;
        animation: skeleton-animation 1.8s ease infinite;
    }
    .preview-warning {
        width: 100%;
        font-size: 0.875em;
        font-style: italic;
        color: #898d8f;
        text-align: center;
        margin: 4px auto;
    }
    .items-list-placeholder {
        min-height: 400px;
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        border-radius: 4px;
        border: 1px solid rgba(200,200,200, 0.3);
        overflow: hidden;

        .search-control,
        .filters,
        .items,
        .pagination {
            background-color: var(--tainacan-background-color, white);
            border: 1px solid rgba(200,200,200, 0.3);
            padding: 12px;
            margin: 0px;
            border-radius: 1px;
        }
        .search-control {
            flex: 0 0 15%;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .below-search-control {
            position: relative;
            display: flex;
            flex-wrap: nowrap;
            flex-direction: row;
            flex: 1 0 auto;

            .filters {
                flex: 0 1 var(--tainacan-filter-menu-width-theme, 20%);
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                padding: 40px 20px 60px 15px;

                .fake-text {
                    margin: 15%;
                    width: 80%;
                }
            }
            .aside-filters {
                display: flex;
                flex-wrap: nowrap;
                flex-direction: column;
                flex: 1 0 auto;

                .items {
                    flex: 1 0 auto;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-evenly;
                }

                .pagination {
                    flex: 0 1 5%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }
            }
        }
        .fake-text {
            background-color: rgba(200,200,200, 0.3);
            height: 5px;
            width: 15%;
            border-radius: 2px;
        }
        .fake-searchbar {
            background-color: rgba(200,200,200, 0.3);
            height: 10px;
            width: 18%;
            border-radius: 3px;

            .fake-advanced-searchbar {
                display: block;
                background-color: rgba(200,200,200, 0.3);
                height: 4px;
                border-radius: 3px;
                width: 70%;
                position: relative;
                bottom: -14px;
            }
        }
        .fake-hide-button {
            display: block;
            background-color: rgba(200,200,200, 0.3);
            height: 14px;
            width: 16px;
            border-radius: 3px;
            position: absolute;
            left: 0px;
            top: 42px;
        }
        .fake-button {
            background-color: rgba(200,200,200, 0.3);
            height: 10px;
            width: 12%;
            border-radius: 3px;
        }
        .fake-buttons-group {
            flex: 0 0 15%;
            display: flex;
            justify-content: space-evenly;
        }
        .fake-item {
            flex: 0 0 46%;
            margin: 6px;
            background-color: var(--tainacan-item-hover-background-color, rgba(200,200,200, 0.2));

            .fake-item-header {
                display: block;
                height: 20px;
                width: 100%;
                position: relative;
                top: 0;
                background-color: var(--tainacan-item-heading-hover-background-color, rgba(200,200,200, 0.3));
            }
        }
    }

    .theme-items-list {
        max-width: 100% !important;
    }
}
