@import "./admin/scss/_variables.scss";
@import "./admin/scss/_custom_variables.scss";

.tainacan-pages-container #wpcontent {
    padding-left: 0;
}
.tainacan-pages-container #wpbody-content {
    padding-bottom: 0;
}
#tainacan-page-container {
    display: flex;
    width: 100%;
    font-family: var(--tainacan-font-family);
    font-size: 16px;
    height: calc(100vh - var(--wp-admin--admin-bar--height, 32px));
    background-color: var(--tainacan-turquoise1);

    & > * {
        flex-grow: 1;
        padding: 1rem;

        @media screen and (max-width: 1024px) {
            padding: 0.5rem;
        }
    }

    #tainacan-navigation-menu {
        max-height: 100%;
        overflow-y: auto;
        flex-basis: var(--tainacan-admin-navigation-sidebar, 228px);
        min-width: var(--tainacan-admin-navigation-sidebar, 228px);
        max-width: var(--tainacan-admin-navigation-sidebar, 228px);
        padding: 1rem;
        background-color: var(--tainacan-turquoise2);

        header {
            display: flex;
            align-items: baseline;

            h1 > a {
                background-color: transparent !important;
            }
            .plugin-version {
                color: var(--tainacan-turquoise5);
                font-size: 0.625rem;
                font-weight: normal;
            }
        }

        a,
        button {
            width: 100%;
            display: flex;
            align-items: center;
            text-align: start;
            box-sizing: border-box;
            border-radius: 8px;
            padding: 0.5rem;
            font-size: 1em;
            font-weight: 500;
            border: none;
            cursor: pointer;
            text-decoration: none !important;
            background-color: transparent;
            color: var(--tainacan-black);

            &[aria-current="page"],
            &:hover:not(:disabled),
            &:focus:not(:disabled) {
                background-color: var(--tainacan-turquoise3);
                background-color: color-mix(in srgb, var(--tainacan-turquoise3) 50%, transparent);
            }
            &:focus:not(:disabled) {
                box-shadow: 0 0 0 2px var(--tainacan-turquoise5);
                outline: 3px solid #0000;
            }

            &:has(.icon) {
                white-space: nowrap;
            }
            .menu-text {
                white-space: normal;
                display: inline-block;
                vertical-align: middle;
            }
            .icon {
                display: inline-flex;
                align-items: center;
                width: 1.25em;
                height: 1.25em;
                margin-right: 0.5rem;
                font-size: 1.25rem;
                color: var(--tainacan-gray5);
            }
        }
        
        .menu-item-has-children {
            position: relative;

            &:not(.is-open) > ul {
                display: none;
                visibility: hidden;
            }
            button::after {
                position: absolute;
                right: 0;
                content: '';
                color: var(--tainacan-gray3);
                font-size: 1rem;
                content: '';
                width: 1.5em;
                height: 1.5em;
                background-image: url('data:image/svg+xml,<svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.976713 0H9.01734C9.57359 0 9.85171 0.671875 9.45796 1.06563L5.43921 5.0875C5.19546 5.33125 4.79859 5.33125 4.55484 5.0875L0.536088 1.06563C0.142338 0.671875 0.420463 0 0.976713 0Z" fill="%23505253" fill-opacity="0.5"/></svg>');
                background-repeat: no-repeat;
                background-position: center;
                transition: transform 0.3s;
            }
            button[aria-expanded="true"]::after {
                transform: rotateX(180deg);
            }
            button[aria-expanded="false"]::after,
            button[aria-expanded=""]::after {
                transform: rotateX(0deg);
            }
            ul {
                border-left: 1px dashed var(--tainacan-turquoise3);
                margin: 0.5em 0 1em 0.75rem;
                padding-left: 0.5rem;

                li a,
                li button {
                    font-size: 0.875em;

                    .menu-text {
                        max-width: calc(100% - 0.75rem);
                    }
                    .icon {
                        font-size: 1.125rem;
                    }
                }

                &#tainacan_admin {
                    .icon {
                        color: var(--tainacan-blue5);
                    }
                }
                &#tainacan_collection_links {
                    .icon {
                        color: var(--tainacan-turquoise5);
                    }
                }
            }
        }
    }

    .tainacan-page-container-content {
        background-color: var(--tainacan-background-color);
        border-radius: var(--tainacan-page-container-border-radius, 16px) var(--tainacan-page-container-border-radius, 16px) 0 0;
        margin-top: var(--tainacan-page-container-margin-top, 3rem);
        margin-left: var(--tainacan-page-container-margin-x, 1rem);
        margin-right: var(--tainacan-page-container-margin-x, 1rem);
        padding: var(--tainacan-page-container-padding-y, 1rem) var(--tainacan-page-container-padding-x, 2rem);
        box-shadow: var(--tainacan-page-container-box-shadow, 0px 0px 8px 0px #01295C33 );
        max-height: calc(100vh - var(--wp-admin--admin-bar--height, 32px) - var(--tainacan-page-container-margin-top, 3rem));
        overflow: auto;

        & > .wrap {
            margin: 0;
        }
    }
}