@import "./admin/scss/_variables.scss";
@import "./admin/scss/_custom_variables.scss";

.tainacan-pages-container #wpcontent {
    padding-left: 0;
}
#tainacan-page-container {
    display: flex;
    width: 100%;
    background-color: var(--tainacan-turquoise1);

    & > * {
        flex-grow: 1;
    }

    #tainacan-navigation-menu {
        flex-basis: 228px;
        max-width: 228px;
        padding: 1rem;
        background-color: var(--tainacan-turquoise2);

        a {
            padding: 0.5rem 1rem;
            &[aria-current="page"],
            &:hover,
            &:focus {
                background-color: var(--tainacan-turquoise3);
            }
        }
        
        .menu-item-has-children {
            &:not(.is-open) > ul {
                display: none;
                visibility: hidden;
            }
        }
    }
}