.wp-block-tainacan-item-metadatum__metadatum-value {
    margin-top: 1em;
    margin-bottom: 1em;
    overflow-wrap: break-word;
    word-wrap: break-word;
}

.tainacan-leaflet-map-container {
    display: block;
    height: 320px;
    width:100%;

    .tainacan-coordinates,
    .multivalue-separator {
        opacity: 0;
    }
}