.item-gallery-edit-container {
    .tainacan-media-component {
        .swiper-slide,
        .swiper-button-prev,
        .swiper-button-next {
            cursor: not-allowed !important;
        } 
    } 
    .preview-warning {
        width: 100%;
        font-size: 0.875rem;
        font-style: italic;
        color: inherit;
        text-align: center;
        margin: 0 auto;
        padding: 8px 2px 2px 2px;
    }
    .tainacan-gallery-main-placeholder {
        position: relative;
        min-height: var(--tainacan-media-main-carousel-height, 60vh);
        max-width: var(--tainacan-media-main-carousel-width, 100%);
        margin: 0 auto 1em auto;
    }
    .tainacan-gallery-thumbnails-placeholder {
        display: flex;
        flex-wrap: nowrap;
        justify-content: center;
        gap: 20px;
        list-style: none !important;
        margin: 0px auto !important;
        padding: 0px !important;
        max-width: var(--tainacan-media-thumbs-carousel-width, 100%);
        width: var(--tainacan-media-thumbs-carousel-width, 100%);
        overflow-x: auto;
        overflow-y: hidden;

        li {
            height: var(--tainacan-media-thumbs-carousel-item-size, 136px);
            min-width: var(--tainacan-media-thumbs-carousel-item-size, 136px);
            flex-basis: var(--tainacan-media-thumbs-carousel-item-size, 136px);
            position: relative;
        }
    }
}
.tainacan-media-component {
    --swiper-theme-color: var(--tainacan-secondary, #298596);
    --swiper-navigation-size: 44px;
    --tainacan-media-metadata-color: var(--tainacan-label-color, #454647); 
    --tainacan-media-background: var(--tainacan-background-color, transparent);
    --tainacan-media-main-carousel-height: 60vh;
    --tainacan-media-main-carousel-width: 100%;
    --tainacan-media-thumbs-carousel-width: 100%;
    --tainacan-media-thumbs-carousel-item-size: 136px;

    height: auto;
    display: block;
    background-color: var(--tainacan-media-background, transparent);
    box-sizing: border-box;

    &:not(.alignfull):not(.alignwide) {
        width: 100%;
    }

    .swiper-slide,
    .swiper-slide::after,
    .swiper-slide::before {
        box-sizing: border-box;
    }
}

/* Style valid for both cases of carousel, main and thumbs */
.tainacan-media-component__swiper-main,
.tainacan-media-component__swiper-thumbs {
    .swiper-button-prev:not(.swiper-button-has-svg)::after,
    .swiper-rtl .swiper-button-next:not(.swiper-button-has-svg)::after {
        content: 'previous';
    }
    .swiper-button-next:not(.swiper-button-has-svg)::after,
    .swiper-button-prev:not(.swiper-button-has-svg)::after {
        font-family: "TainacanIcons";
        opacity: 0.7;
        transition: opacity ease 0.2s;
    }
    &:hover {
        .swiper-button-next::after,
        .swiper-button-prev::after {
            opacity: 1;
        }
    }
    .swiper-button-next.swiper-button-has-svg::after,
    .swiper-button-prev.swiper-button-has-svg::after {
        display: none;
    }
    .swiper-button-next.swiper-button-has-svg svg,
    .swiper-button-prev.swiper-button-has-svg svg {
        min-width: calc(var(--swiper-navigation-size) * 1.35);
        min-height: calc(var(--swiper-navigation-size) * 1.35);
        fill: currentColor;
    }
    ul.swiper-wrapper { 
        list-style: none;
        padding: 0;
    }
}

.tainacan-media-component__swiper-main {
    width: 100%;
    max-width: var(--tainacan-media-main-carousel-width, 100%);

    ul.swiper-wrapper { 
        display: flex;
        align-items: center;
        margin: 0;

        &[data-pswp-uid]:not([data-pswp-uid='']) li.swiper-slide .swiper-slide-content {
            cursor: zoom-in !important;
            iframe,
            video,
            audio {
                pointer-events: none;
            }
            a {
                cursor: zoom-in !important;
            }
            .tainacan-item-file-download a {
                cursor: pointer !important;
            }
        }
    }
    li.swiper-slide {
        box-sizing: border-box;
        height: 100%;
        max-width: 100%;
        //min-width: 100%;
        padding: 0 var(--swiper-navigation-size, 44px);
        opacity: 1.0;
        transition: opacity 0.2s linear;

        &:not(.swiper-slide-active) {
            opacity: 0.75;
        }

        .swiper-slide-metadata {
            text-align: center;
            font-size: 0.875em;
            margin-bottom: 1em;
            
            &.hide-name .swiper-slide-metadata__name {
                display: none;
                visibility: hidden;
            }
            &.hide-description .swiper-slide-metadata__description {
                display: none;
                visibility: hidden;
            }
            &.hide-caption .swiper-slide-metadata__caption {
                display: none;
                visibility: hidden;
            }
            &.hide-name.hide-description.hide-caption br {
                display: none;
                visibility: hidden;
            }
            &.hide-name.hide-description.hide-caption {
                display: none;
                visibility: hidden;
            }
        }

        .swiper-slide-metadata__name {
            font-size: 1em;
            font-weight: bold;
            color: var(--tainacan-media-metadata-color, #454647);
            opacity: 0.75;
        }
        .swiper-slide-metadata__caption {
            font-size: 0.9375em;
            color: var(--tainacan-media-metadata-color, #454647);
        }
        .swiper-slide-metadata__caption {
            font-size: 0.875em;
            color: var(--tainacan-media-metadata-color, #454647);
            opacity: 0.85;
        }
    }

    .swiper-slide-content {
        width: 100%;
        height: 100%;
        display: block;
        text-align: center;

        .tainacan-content-embed {
            width: 100%;
            height: auto;

            &.tainacan-has-aspect-ratio {
                max-width: calc((var(--tainacan-media-main-carousel-height, 60vh) * 2) / 1); /* Default to 2:1 aspect ratio. */
                margin-left: auto;
                margin-right: auto;
            }
            &.tainacan-embed-aspect-21-9 {
                max-width: calc((var(--tainacan-media-main-carousel-height, 60vh) * 21) / 9);
            }
            &.tainacan-embed-aspect-18-9 {
                max-width: calc((var(--tainacan-media-main-carousel-height, 60vh) * 18) / 9);
            }
            &.tainacan-embed-aspect-16-9 {
                max-width: calc((var(--tainacan-media-main-carousel-height, 60vh) * 16) / 9);
            }
            &.tainacan-embed-aspect-4-3 {
                max-width: calc((var(--tainacan-media-main-carousel-height, 60vh) * 4) / 3);
            }
            &.tainacan-embed-aspect-1-1 {
                max-width: var(--tainacan-media-main-carousel-height, 60vh);
            }
            &.tainacan-embed-aspect-3-4 {
                max-width: calc((var(--tainacan-media-main-carousel-height, 60vh) * 3) / 4);
            }
            &.tainacan-embed-aspect-9-16 {
                max-width: calc((var(--tainacan-media-main-carousel-height, 60vh) * 9) / 16);
            }
            &.tainacan-embed-aspect-1-2 {
                max-width: calc((var(--tainacan-media-main-carousel-height, 60vh) * 1) / 2);
            }
        }
        iframe {
            max-height: var(--tainacan-media-main-carousel-height, 60vh);
            max-width: 100%;
            margin-left: auto;
            margin-right: auto;
            border: none;
            display: block;
            background-image: url('../images/preloader.gif');
            background-repeat: no-repeat;
            background-position: center;
        }
        a:first-of-type,
        p:first-of-type {
            z-index: 99;
            background: var(--tainacan-media-background, #ffffff);
            border-radius: 3px;
            word-wrap: break-word;
            padding: 1rem 2rem;
            display: block;
        }
        audio {
            background: black;
            min-height: 38px;
            border-radius: 20px;
            width: 100%;
            height: auto;
            max-height: var(--tainacan-media-main-carousel-height, 60vh);
        }
        video {
            min-height: 56px;
            width: 100%;
            height: auto;
            max-height: var(--tainacan-media-main-carousel-height, 60vh);
        }
        img {
            width: auto;
            max-height: var(--tainacan-media-main-carousel-height, 60vh);
            max-width: 100%;
            height: auto;
        }
        .twitter-tweet {
            margin-left: auto;
            margin-right: auto;
        }
    }
}
.tainacan-media-component__swiper-thumbs {
    width: 100%;
    max-width: var(--tainacan-media-thumbs-carousel-width, 100%);

    ul.swiper-wrapper { 
        max-width: calc(100% - var(--swiper-navigation-size, 44px) - var(--swiper-navigation-size, 44px));
        margin: 0 var(--swiper-navigation-size, 44px);

        &[data-pswp-uid]:not([data-pswp-uid='']) li.swiper-slide {
            cursor: zoom-in;
        }
    }

    li.swiper-slide {
        text-align: center;
        vertical-align: top;
        word-break: break-word;
        font-size: 0.875em;
        max-width: calc(var(--tainacan-media-thumbs-carousel-item-size, 136px) + 17px);
        
        @media only screen and (max-width: 380px) {
            margin: 10px 0;
        }

        img {
            width: var(--tainacan-media-thumbs-carousel-item-size, 136px);
            height: var(--tainacan-media-thumbs-carousel-item-size, 136px);
            max-width: var(--tainacan-media-thumbs-carousel-item-size, 136px);
            max-height: var(--tainacan-media-thumbs-carousel-item-size, 136px);
            object-fit: cover;
            object-position: center;
            border-bottom-width: 6px;
            border-bottom-style: solid;
            background-color: var(--tainacan-media-background, transparent);
            border-bottom-color: rgba(255,255,255, 0.0);
            opacity: 0.85;
            transition: opacity 0.3s ease, border-bottom-color 0.3s ease;

            &:focus,
            &:hover {
                opacity: 0.95;
                outline: none;
                border-bottom-color: var(--swiper-theme-color, #298596);
            }
        }
        &.swiper-slide-thumb-active {
            .swiper-slide-metadata__name {
                font-weight: bold;
            }
            img {
                opacity: 1.0;
                border-bottom-color: var(--swiper-theme-color, #298596);
            }
        }
        .swiper-slide-metadata__name {
            font-size: 1em;
            color: var(--tainacan-media-metadata-color, #454647);
            opacity: 0.75;
            word-break: break-word;
        }
        .swiper-slide-metadata__caption {
            font-size: 0.9375em;
            color: var(--tainacan-media-metadata-color, #454647);
            word-break: break-word;
        }
        .swiper-slide-metadata__caption {
            font-size: 0.875em;
            color: var(---tainacan-media-metadata-color, #454647);
            opacity: 0.85;
            word-break: break-word;
        }
        .swiper-slide-metadata {
            text-align: center;
            display: block;
            margin-top: 0.5rem;

            &.hide-name .swiper-slide-metadata__name {
                display: none;
                visibility: hidden;
            }
            &.hide-description .swiper-slide-metadata__description {
                display: none;
                visibility: hidden;
            }
            &.hide-caption .swiper-slide-metadata__caption {
                display: none;
                visibility: hidden;
            }
            &.hide-name.hide-description.hide-caption br {
                display: none;
                visibility: hidden;
            }
            &.hide-name.hide-description.hide-caption {
                display: none;
                visibility: hidden;
            }
        }
        a {
            width: 100%;
            max-width: var(--tainacan-media-thumbs-carousel-item-size, 136px);
            text-align: center;
            word-break: break-word;
        }
        a,
        a:focus,
        a:hover {
            outline: none;
            text-decoration: none;
            color: var(--tainacan-gray5, #454647);
        }
    }

    .swiper-start-border {
        position: absolute;
        height: 100%;
        width: calc(32px + var(--swiper-navigation-size, 44px));
        background-image: linear-gradient(90deg, var(--tainacan-media-background, #ffffff) 25%, transparent);
        top: 0;
        left: 0;
        z-index: 1;
    }
    .swiper-end-border {
        position: absolute;
        height: 100%;
        width: calc(32px + var(--swiper-navigation-size, 44px));
        background-image: linear-gradient(90deg, transparent, var(--tainacan-media-background, #ffffff) 75%);
        top: 0;
        right: 0;
        z-index: 1;
    }
}
.tainacan-media-component__swiper-main+.tainacan-media-component__swiper-thumbs {
    ul.swiper-wrapper {
        margin-bottom: 1rem;
    }
    li.swiper-slide {
        cursor: pointer;
    }
}

// Photoswip zoom ---------------------------------
.tainacan-photoswipe-layer {
    --pswp-bg: var(--tainacan-lightbox-background, #1d1d1d);
    --pswp-error-text-color: var(--tainacan-lightbox-text-color, #fafafa);
    --pswp-icon-color: var(--tainacan-lightbox-text-color, #fafafa);
    --pswp-icon-color-secondary: var(--tainacan-lightbox-background-contrast, #4f4f4f);
    --pswp-icon-stroke-color: var(--tainacan-lightbox-background-contrast, #4f4f4f);

    &.has-light-color-scheme {
        --tainacan-lightbox-background: #fafafa;
        --tainacan-lightbox-text-color: #202020;
        --tainacan-lightbox-background-contrast: #dbdbdb; 
    }

    .pswp__counter {
        min-width: 50px;
    }
    .pswp__name {
        display: block;
        height: 30px;
        line-height: 30px;
        margin: 15px auto;
        color: var(--pswp-icon-color);
        text-shadow: 1px 1px 3px var(--pswp-icon-color-secondary);
        max-width: calc(100% - 220px);
        width: 100%;
        padding: 0 12px;
        text-align: center;
        font-size: 0.875em;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        transition: opacity 0.1s ease;
    
        &:hover {
            opacity: 1.0;
        }
    }
    .pswp__caption {
        position: fixed;
        padding: 8px;
        width: 100%;
        display: flex;
        justify-content: center;
        bottom: 0;
        opacity: 0.75;
        transition: opacity 0.4s ease, bottom 0.2s ease;

        &:hover {
            opacity: 1.0;
        }

        .pswp__caption-inner {
            background-color: var(--pswp-bg);
            color: var(--pswp-icon-color);
            text-shadow: 1px 1px 3px var(--pswp-icon-color-secondary);
            max-width: 920px;
            padding: 12px;
            line-height: 20px;
            text-align: center;
            font-size: 1em;
            border-radius: 4px;
            
            .pswp__figure_caption {
                font-size: 0.875em;
                font-style: italic;
                display: block;
            }
            .pswp__figure_caption+.pswp__description {
                margin-bottom: 1.5em;
            }
            .pswp__description {
                font-size: 0.9375em;
                display: block;
            }
        }
    }
    &.pswp--zoomed-in {
        .pswp__name {
            opacity: 0.0;
        }
        .pswp__caption {
            bottom: -40px;
            opacity: 0.0;
        }
    }
    .pswp__button--arrow--left::before,
    .pswp__button--arrow--right::before {
        background-color: transparent;
    }
    
    .pswp__container {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        .attachment-without-image {
            width: 100%;
            height: calc(100% - 60px);
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            padding: 60px;
            margin-top: 30px;
            margin-bottom: 30px;

            &>iframe:not(.wp-embedded-content) {
                width: 90vw;
                height: calc(100vh - 120px);
                border: none;
                margin: 60px;
                display: block;
                background-image: url('../images/preloader.gif');
                background-repeat: no-repeat;
                background-position: center;
            }
        }
        // PDFs file that come from document instead of attachments
        .pswp__zoom-wrap>iframe#iframePDF {
            width: 90vw;
            height: calc(100vh - 120px);
            border: none;
            margin: 60px auto;
            display: block;
            background-image: url('../images/preloader.gif');
            background-repeat: no-repeat;
            background-position: center;
        }
        .pswp__zoom-wrap {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .tainacan-content-embed {
            width: 100%;
            height: auto;

            &.tainacan-has-aspect-ratio {
                max-width: calc((90vh * 2) / 1); /* Default to 2:1 aspect ratio. */
                margin-left: auto;
                margin-right: auto;
            }
            &.tainacan-embed-aspect-21-9 {
                max-width: calc((90vh * 21) / 9);
            }
            &.tainacan-embed-aspect-18-9 {
                max-width: calc((90vh * 18) / 9);
            }
            &.tainacan-embed-aspect-16-9 {
                max-width: calc((90vh * 16) / 9);
            }
            &.tainacan-embed-aspect-4-3 {
                max-width: calc((90vh * 4) / 3);
            }
            &.tainacan-embed-aspect-1-1 {
                max-width: 90vh;
            }
            &.tainacan-embed-aspect-9-16 {
                max-width: calc((90vh * 9) / 16);
            }
            &.tainacan-embed-aspect-1-2 {
                max-width: calc((90vh * 1) / 2);
            }
        }
        .pswp__content>.tainacan-content-embed:not(.attachment-without-image) {
            margin-top: 60px;
        }
        a:first-of-type,
        p:first-of-type ,
        article:first-of-type {
            z-index: 99;
            padding: 1rem 4.33337vw;
            background: var(--tainacan-media-background, #ffffff);
            border-radius: 3px;
            word-wrap: break-word;
        }
        audio {
            background: black;
            min-height: 38px;
            border-radius: 20px;
            min-width: 80%;
            max-width: 80%;
        }
        video {
            min-height: 56px;
            max-width: 80%;
        }
        iframe {
            border: none;
        }
    }
}