button.link-style,
button.link-style:focus
button.link-style:active {
    border: none;
    outline: none;
    cursor: pointer;
    font-size: inherit;
    color: $secondary;
    padding: 0;
    margin: 0;
    font-weight: normal;
    background: transparent;

    &:hover {
        text-decoration: underline;
    }
}
.button {
    border-radius: 6px !important;
    font-weight: normal;
    padding: 2px 15px !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    height: inherit !important;
    box-shadow: none !important;
    display: inline-flex !important;
    cursor: pointer;
    background-color: white;
    text-shadow: none !important;

    &.is-secondary:hover, &.is-secondary:focus {
        background: $secondary !important;
    }
    &.is-primary:hover, &.is-primary:focus {
        background: $turquoise3 !important;
    }
    &.is-success:hover, &.is-success:focus {
        background: $success !important;
    }
    &.is-white:hover, &.is-white:focus, &.is-outlined:hover, &.is-outlined:focus {
        background: $white !important;
    }
    &:active {
        -webkit-transform: none !important;
        transform: none !important;
    }
    &.is-outlined {
        color: $turquoise5;
        background-color: white !important;
        border-color: $gray4 !important;
    }
    &.is-outlined:hover {
        color: $turquoise5 !important;
    }
    &:focus {
        outline: 0px;
    }
    &[disabled], &:hover[disabled] {
        border: none !important;
        cursor: not-allowed !important;
        color: $gray4 !important;
        background-color: $gray2 !important;
        text-shadow: none !important;
    }
    &.is-outlined[disabled], &.is-outlined:hover[disabled] {
        border: 1px solid $gray2 !important;
        color: $gray4 !important;
        background-color: white !important;
    }
    &.is-white[disabled] {
        background-color: white !important;
    }
}
.button.is-small {
    height: 1.625rem !important;
    line-height: 0.75rem;
}
.button:not(.is-small):not(.is-medium):not(.is-large) {
    height: 1.875rem !important;
    font-size: 0.875rem !important;
    line-height: 1.5rem;
}