.b-checkbox.checkbox {
   
    input[type="checkbox"] {
        box-shadow: none !important;
    }

    input[type="checkbox"] + .check {
        width: 12px;
        height: 12px;
        flex-shrink: 0;
        border-radius: 2px;
        display: inline-block;
        border: 1px solid $gray4;
        transition: background 150ms ease-out;
        box-shadow: none !important;
    }

    &:focus input[type="checkbox"] + .check, 
    &:active input[type="checkbox"] + .check, 
    &:hover input[type="checkbox"] + .check {
        box-shadow: none !important;
        border-color: $gray4 !important;
    }
    input[type="checkbox"]:checked + .check {
        background: white url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1 1'%3E%3Cpath style='fill:rgb(69,70,71)' d='M 0.04038059,0.6267767 0.14644661,0.52071068 0.42928932,0.80355339 0.3232233,0.90961941 z M 0.21715729,0.80355339 0.85355339,0.16715729 0.95961941,0.2732233 0.3232233,0.90961941 z'%3E%3C/path%3E%3C/svg%3E") no-repeat center center !important;
        border-color: $gray4 !important;
    }
}
