.tainacan-cards-container {
    min-height: 50vh;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-shrink: 1;
    justify-content: space-between;
    align-content: baseline;
    animation-name: item-appear;
    animation-duration: 0.5s;

    .selected-card {
        background-color: $turquoise1;
        .metadata-title {
            background-color: $turquoise2;
        }
    }

    .tainacan-card {
        background-color: $gray0;
        padding: 0px;
        margin-top: 0.75rem;
        margin-bottom: 1.25rem;
        flex-basis: 0;
        min-width: 48%;
        min-height: 125px;
        cursor: pointer;
        text-decoration: none !important;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        @media screen and (max-width: 768px) {
            max-width: 100%;
            min-width: 100%;
        }

        img {
            width: 125px;
            height: 125px;
            border-radius: 0px;
        }

        &.new-card {
            .list-metadata { 
                text-align: center;
                color: $turquoise5;
                max-width: calc(100% - 46px); 
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 100%;
            }
            .menu-list { 
                flex-wrap: nowrap; 
                flex-direction: column;
                width: 46px;
            }
        }

        &.first-card {
            .list-metadata { 
                text-align: center;
                color: $turquoise5;
                max-width:100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
        }

        .metadata-title {
            width: 100%;
            overflow: hidden;
            padding: 0.75rem 1rem;
            p {
                color: black !important;
                font-size: 0.875rem !important; 
                margin-bottom: 0;
            }
        }
        &:hover .metadata-title {
            p { text-decoration: none !important; }
        }
        
        .menu-list {
            width: 84px;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            
            li {
                width: 50%;
                text-align: center;
                a { color: $turquoise5; }

                svg.taxonomies-icon,
                svg.activities-icon {
                    fill: $turquoise5;
                }
            }
        }
    
    }
}


