.dropdown, .autocomplete {
    .dropdown-trigger{
        .button {
            border: none;
            align-items: center;
            .icon {
                color: $secondary;
                align-items: center;
            }
            .gray-icon {
                padding-right: 0 !important;
            }
        }
        .button.is-primary, .button.is-secondary, .button.is-success {
            .icon {
                color: $white;
            }
        }
        .dropdown.is-disabled {
            cursor: default;
        }
    }
    .dropdown-menu {
        padding: 0px;
        margin-top: 0;
        border-radius: 0px;
        min-width: 6rem;
        border: none;
        
        .dropdown-content {
            padding: 0px;
            border-radius: 0px !important;
            max-height: 240px;
            overflow-y: auto;
            box-shadow: none;
            border: 1px solid $gray3;

            .dropdown-item {
                display: block;
                text-decoration: none;
                padding: 0.375rem 1rem;
                font-size: 0.8125rem;
                color: $tainacan-input-color !important;

                label { margin-bottom: 0; }
                &.control { font-size: 0.8125rem !important; }
                .b-checkbox { width: 100% };
                &:hover { background-color: $gray2; }
                .is-small { color: $gray4; }
                &.is-active { background-color: $turquoise2; }

                .media-left {
                    margin-right: 0.5rem;
                }
                .media-content {
                    display: flex;
                    width: 80%;

                    .ellipsed-text {
                        overflow-x: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        margin-right: 3px;
                    }
                }
            }
        } 
    }
    &.is-mobile-modal {
        @media screen and (max-width: 1088px) {
            .dropdown-content {
                max-height: 100vh;
            }
            .dropdown-menu {
                border-radius: 4px;
                .dropdown-item {
                    padding: 0.75rem !important;
                }
            }  
        }
    }
}

// This dropdown has a particular way of dealing with scroll
.metadata-options-dropdown {
    .dropdown-content {
        max-height: unset !important;
    }
}
.taginput-container .mdi-magnify::before, 
.autocomplete .mdi-magnify::before {
    content: 'search';
    display: inline-block;
    font: normal normal normal 20px/1 "TainacanIcons";
    font-size: inherit;
    text-rendering: auto;
    vertical-align: middle;
    line-height: inherit;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 20px;
}

.taginput-container {
    padding: 0px !important;
    background-color: white !important;

    &:focus, &:active {
        border: none !important;
    }
    .autocomplete .icon {
        height: 2.2em !important;
        .mdi-magnify::before {
            margin-top: -3px;
        }
    }
    .input { 
        margin-bottom: 0px !important; 
        height: 1.85rem !important;
        text-overflow: ellipsis;
    }
    .input.has-selected, .input:focus, .input:active {
        background-color: white;
        border: 1px solid $gray2 !important;
    }
    .tags {
        margin:  0.17rem 0.25rem 0.08rem 0.25rem !important;
    }
    .tag {
        background: white;
        padding-right: 0;
        padding-left: 0.5em;

        &.is-delete {
            color: $gray4;
            &::after {
                height: 30% !important;
                width: 1px !important;
            } 
            &::before {
                width: 30% !important;
                height: 1px !important;
            } 
            &:hover, &:focus {
                background-color: white;
                color: black;
            }
        }
    }
}
.selected-list-box {
    padding: 4px 6px 0px 6px;
    border-color: $gray2;
    border-width: 0px 1px 1px 1px;
    border-style: solid;
    background-color: white;
    display: flex;
    font-size: 0.75rem;

    .tags {
        margin: 4px 6px 0px 6px;
    }
    .tag {
        background: white;
        padding-right: 0;
        padding-left: 0.5em;

        &.is-delete {
            color: $gray4;
            &::after {
                height: 30% !important;
                width: 1px !important;
            } 
            &::before {
                width: 30% !important;
                height: 1px !important;
            } 
            &:hover, &:focus {
                background-color: white;
                color: black;
            }
        }
    }
}