.dropdown, .autocomplete {
    .dropdown-trigger{
        .button {
            border: none;
            .icon {
                color: $secondary;
                align-items: start;
            }
        }
        .button.is-primary, .button.is-secondary, .button.is-success {
            .icon {
                color: $white;
            }
        }
    }
    .dropdown-menu {
        padding: 0px;
        border-radius: 0px;
        min-width: 6rem;
        .dropdown-content {
            padding: 6px 0px;
            border-radius: 0px !important;
            .dropdown-item {
                display: block;
                text-decoration: none;
                padding: 0.375rem 1rem;
                font-size: 0.8125rem;
                color: $tainacan-input-color !important;
                label { margin-bottom: 0; }
                &.control { font-size: 0.8125rem !important; }
                .b-checkbox { width: 100% };
                &:hover { background-color: $gray2; }
                .is-small { color: $gray4; }
                &.is-active { background-color: $turquoise2; }

                .media-content {
                    overflow-x: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    max-width: 150px;
                }
            }
        } 
    }
    &.is-mobile-modal {
        @media screen and (max-width: 1088px) {
            .dropdown-menu {
                border-radius: 4px;
                .dropdown-item {
                    padding: 0.75rem !important;
                }
            }  
        }
    }
}

.taginput-container {
    padding: 0px !important;
    background-color: white !important;

    &:focus, &:active {
        border: none !important;
    }
    .autocomplete .icon {
        height: 2.2em !important;
    }
    .input { 
        margin-bottom: 0px !important; 
        height: 1.85rem !important;
        text-overflow: ellipsis;
    }
    .input.has-selected, .input:focus, .input:active {
        background-color: white;
        border: 1px solid $gray2 !important;
    }
    .tags {
        margin:  0.17rem 0.25rem 0.08rem 0.25rem !important;
    }
    .tag {
        background: white;
        padding-right: 0;
        padding-left: 0.5em;

        &.is-delete {
            color: $gray4;
            &::after {
                height: 30% !important;
                width: 1px !important;
            } 
            &::before {
                width: 30% !important;
                height: 1px !important;
            } 
            &:hover, &:focus {
                background-color: white;
                color: black;
            }
        }
    }
}
.selected-list-box {
    padding: 4px 6px 0px 6px;
    border-color: $gray2;
    border-width: 0px 1px 1px 1px;
    border-style: solid;
    background-color: white;
    display: flex;
    font-size: 0.75rem;

    .tags {
        margin: 4px 6px 0px 6px;
    }
    .tag {
        background: white;
        padding-right: 0;
        padding-left: 0.5em;

        &.is-delete {
            color: $gray4;
            &::after {
                height: 30% !important;
                width: 1px !important;
            } 
            &::before {
                width: 30% !important;
                height: 1px !important;
            } 
            &:hover, &:focus {
                background-color: white;
                color: black;
            }
        }
    }
}