#filters-mobile-modal {
    // top: 95px;
    @keyframes slide-menu {
        from {
            -ms-transform: translate(-100%, 0); /* IE 9 */
            -webkit-transform: translate(-100%, 0); /* Safari */
            transform: translate(-100%, 0);
        }
        to {
            -ms-transform: translate(0, 0); /* IE 9 */
            -webkit-transform: translate(0, 0); /* Safari */
            transform: translate(0, 0);
        }
    }

    animation-name: slide-menu;
    animation-duration: 0.3s;
    animation-timing-function: ease-out;

    @keyframes appear {
        from {
            opacity: 0.0;
            visibility: hidden;
        }
        to {
            opacity: 1.0;
            visibility: visible;
        }
    }

    .modal-background {
        animation-name: appear;
        animation-duration: 0.6s;
        animation-timing-function: ease-in;
    }

    .modal-close {
        right: calc(8.3333333% + 20px);
        background-color: $gray1;

        &:hover {
            background-color: $gray1;   
        }
        &::before, &::after {
            background-color: $secondary;
        }
    }
    .modal-content {
        background-color: white;
        margin: 0 8.3333333% 0 0;
        padding: 24px $page-side-padding;
        border-radius: 0;
        height: 100%;
        max-height: 100%;
        overflow-y: auto;

        h3 {
            font-size: 100%;
        }
    }
}