#filters-mobile-modal {  

    .modal-close {
        right: calc(8.3333333% + 20px);
        background-color: white;

        &::before, &::after {
            background-color: $secondary;
        }
    }
    .modal-content {
        background-color: white;
        margin: 0 8.3333333% 0 0;
        padding: 24px $page-side-padding 24px 8.3333333%;
        border-radius: 0;
        height: 100%;
        max-height: 100%;
        overflow-y: auto;

        h3 {
            font-size: 100%;
        }
    }
}