.input, .textarea {
    font-size: 14px;
    border: none;
    border-radius: 1px !important;
    box-shadow: none !important;

    &:focus, &:active {
        box-shadow: none !important;
        background-color: white;
        border: 1px solid $gray2 !important;
    }    
    &[disabled] {
        color: $gray4 !important;
        background-color: $gray2 !important;
    }
    &::placeholder,
    &::-ms-input-placeholder,
    &:-ms-input-placeholder,
    &:-moz-placeholder,
    &::-moz-placeholder,
    &::-webkit-input-placeholder {
        color: $gray4 !important;
    }
}
