.input, .textarea {
    font-size: 14px;
    border: none;
    border-radius: 1px !important;
    box-shadow: none !important;

    &:focus, &:active {
        box-shadow: none !important;
        background-color: white;
        border: 1px solid $tainacan-input-background !important;
    }    
    &[disabled] {
        color: $tainacan-placeholder-color;
        background-color: $tainacan-input-background;
    }
}
