// Tainacan modals
.modal .animation-content {
    width: 100%;
}

.modal {
    display: inline-block;
}

.tainacan-modal-title {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
    justify-content: space-between;
    align-items: flex-end;

    h1, h2 {
        font-size: 20px;
        font-weight: 500;
        color: $blue5;
        display: inline-block;
        width: 90%;
        margin-right: auto;
    }
    a.back-link{
        font-weight: 500;
        float: right;
        margin-top: 5px;
    }
    hr{
        margin: 3px 0 4px 0;
        height: 1px;
        background-color: $secondary;
        border-top: 0;
        width: 100%;
    }
}
.tainacan-modal-content {
    background-color: white;
    padding: 40px 50px;
    position: relative;

    figure {
        margin: 0;
        text-align: center;
    }
    .attachment {
        width: 100%;
    }

    .form-submit {
        padding: 40px 0em 0.4em 0em !important;
    }
}
// Bulma modals customized for Tainacan (custom-dialog.vue)
.dialog {
    .modal-background {
        background-color: rgba(0, 0, 0, 0.70);
    }
    .modal-card {
        background-color: white;
        color: $secondary;
        border-radius: 10px;
        flex-wrap: wrap;
        flex-direction: row;
        padding: 35px;
        margin: 0 auto !important;

        .modal-card-head, .modal-card-body, .modal-card-foot {
            background-color: white;
            color: $gray5;
            border: none;
            padding-bottom: 12px;
        } 
        .modal-custom-icon {
            background-color: $gray1;
            border-radius: 50px;
            height: 80px;
            width: 80px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .modal-card-head {
            h1 { 
                color: $gray5; 
            }
            font-weight: normal;
            padding: 0;
            margin-bottom: 12px;
        }
        .modal-card-body {
            padding: 0px 0px 0px 16px;
            width: 50%;
        }
        .modal-card-foot {
            justify-content: space-between;
            padding: 24px 0px 0px 0px;
            width: 100%;

            .button {
                border-radius: 6px !important;
                font-weight: normal;
                padding: 2px 15px !important;
                margin-top: 0px !important;
                margin-bottom: 0px !important;
                height: inherit !important;
                box-shadow: none !important;
                display: inline-flex !important;
                cursor: pointer;
                height: 30px !important;
                line-height: 20px !important;
                font-size: 14px !important;
            }
            .button.is-success {
                border: none;
            }
            .button:not(.is-success) {
                background-color: white;
                color: $blue5;
                border: 1px solid $gray4;
            }
        }
    }
}

// WordPress Media Modal customization
.wp-core-ui {
    a:focus{ box-shadow: none; }
}
.media-modal-backdrop {
    z-index: 9999999 !important;
}
.media-modal {
    left: 100px;
    top: 100px;
    bottom: 100px;
    right: 100px;
    background-color: white;
    z-index: 99999999999 !important;
}
// .media-modal {
//     left: 100px;
//     top: 100px;
//     bottom: 100px;
//     right: 100px;
//     background-color: white;
//     z-index: 99999999999 !important;
    
//     .media-modal-content {
//         background-color: white;
//         margin: 42px 60px;
//         box-shadow: none;
//     }

//     .media-frame-title {
//         border-bottom: 1px solid #298596 !important;
//         margin-bottom: 60px !important;  
//         box-shadow: none !important;
        
//         h1, h2 {
//             font-size: 20px;
//             font-weight: 500;
//             color: $blue5;
//             display: inline-block;
//             margin-bottom: 3px;
//         }
//     }

//     .media-frame-router {
//         margin-top: 28px;
//         a.media-menu-item.active {
//             border-top: none;
//             border-left: none;
//             border-right: none;
//             border-bottom: 3px solid $turquoise3;
//         }
//     }

//     .media-frame-content {
//         margin-top: 30px; 

//         .attachments-browser .attachments, .media-toolbar {
//             padding: 12px;
//             right: 270px;

//             .media-toolbar-primary {
//                 max-width: 30%;
//             }
//             .media-toolbar-secondary {
//                 max-width: 70%;
//             }
//             .attachment {
//                 padding: 12px;
//             }
//             .attachment.details {
//                 box-shadow: inset 0 0 0 3px #fff, inset 0 0 0 14px $turquoise2;
//             }
//             .attachment.details .check, .wp-core-ui .attachment.selected .check:focus, .wp-core-ui .media-frame.mode-grid .attachment.selected .check {
//                 background-color: $turquoise2;
//                 box-shadow: 0 0 0 1px #fff,0 0 0 2px $turquoise2;
//             }
//         }
//         .media-sidebar {
//             background-color: white;
//             width: 238px;
//         }

//         .crop-content{
//             .imgareaselect-outer {
//                 background-color: white;
//                 opacity: 0.6;
//             }
//         }
//     }

//     .media-frame-toolbar .media-toolbar {
//         bottom: initial;
//         margin-top: -1px;
//         padding: 28px 0px;
//     }

//     .media-button.button-primary {
//         background-color: $success;
//         border: none;
//         box-shadow: none;
//         color: #fff;
//         text-decoration: none;
//         text-shadow: none;
//     }
//     .media-button.button-primary[disabled] {
//         color: #66c6e4 !important;
//         background: $success !important;
//         border-color: none!important;
//         box-shadow: none !important;
//         text-shadow: none !important;
//         cursor: default;
//     }
//     .media-button.button-secondary {
//         color: $blue5;
//         border-color: #999;
//         background: white;
//         box-shadow: none;
//         vertical-align: middle;
//     }
//     .button-hero {
//         background-color: $secondary;
//         border: none;
//         box-shadow: none;
//         color: #fff;
//         text-decoration: none;
//         text-shadow: none;
//         font-size: 14px;
//         height: 46px;
//         line-height: 20px !important;
//         padding: 0 36px;

//         &:hover{
//             background-color: #339daf;
//             color: white;
//         }
//     }

// }
