.pagination-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.85em !important;
    font-weight: normal !important;
    border-top: 1px solid $gray3;
    padding-top: 0;
    padding-bottom: 0;
    margin-left: $page-side-padding;
    margin-right: $page-side-padding;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    color: $gray4;

    @media screen and (max-width: 768px) {
        flex-wrap: wrap;
    }

    .shown-items { 
        // flex-grow: 1; 
    }

    .go-to-page .dropdown-menu {
        min-width: 3.5rem;

        .dropdown-content{
            max-height: 160px;
            overflow: scroll;
            padding: 0;
        }
    }
    
    .items-per-page { 
        flex-grow: 1;
        margin-top: 0.35em;

        @media screen and (max-width: 768px) {
            flex-grow: 2;
            text-align: center;
            
            .field { 
                display: inline-flex; 
                align-items: baseline;
            }
        }

        .field-label {
            flex-grow: 5;
            margin-right: 0.5em;

            .label {
                font-size: 0.85rem !important;
                font-weight: normal !important;
                color: $gray4;
            }
        }
        select {
            font-size: 0.85rem;
            border: none !important;
        } 
    }

    .pagination { 
        // flex-grow: 1; 

        ul {
            margin-bottom: 0px;
            padding: 0px;
        }

        &.is-small {
            font-size: 0.85rem;
        }

        a[disabled="disabled"] {
            color: $gray4;
        }
        .pagination-link, .pagination-previous, .pagination-next {
            background-color: transparent;
            color: $secondary;
            border: none;
        }
        .pagination-link:active {
            box-shadow: none;
        }
        .pagination-link.is-current {
            color: $gray4 !important;
        }
        .pagination-link::after:not(:last-child) {
            content: ',';
            color: $gray4;
        }
        .mdi::before {
            display: inline-block;
            font: normal normal normal 20px/1 "TainacanIcons";
            font-size: inherit;
            text-rendering: auto;
            vertical-align: middle;
            line-height: inherit;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }
        .mdi-chevron-left::before {
            content: "arrowleft" !important;
            transform: none !important;
        }
        .mdi-chevron-right::before {
            content: "arrowright" !important;
            transform: none !important;
        }
        .mdi-24px::before {
            font-size: 24px !important;
        }
        
        @media screen and (max-width: 768px) {
            .pagination-list { order: 2; }
            .pagination-next { order: 3; }
        }
        
    }
}