// Repository-level pages
// This garantees that any component inside a .repository-level-page
// will have a blue color instead of a turquoise.
.repository-level-page {

    margin-top: 94px; 
    height: $page-height !important;

    @media screen and (max-width: 769px) {
        margin-top: 42px;
    }

    .is-primary:not(.upload-draggable), .is-primary:hover, .is-primary:focus {
        background-color: $blue4 !important;
        color: white !important;
    }
    .is-secondary, .is-secondary:hover, .is-secondary:focus {
        background-color: $blue5 !important;
        color: white !important;
    }
    .has-text-primary, .has-text-primary:hover, .is-has-text-primary:focus {
        color: $blue4 !important;
    }
    a, a:hover,
    .has-text-secondary, .has-text-secondary:hover, .is-has-text-secondary:focus {
        color: $blue3 !important;
    }
    .tainacan-page-title hr{
        background-color: $blue3;
    }
    .button[disabled]:not(.is-white), .button:hover[disabled]:not(.is-white) {
        border: none !important;
        cursor: not-allowed !important;
        color: $gray4 !important;
        background-color: $gray2 !important;
    }
    .button.is-outlined {
        color: $blue5 !important;
    }
    .tabs {
        li.is-active a {
            border-bottom: 5px solid $blue5;
            color: $blue5; 
        }
    }
    .select:not(.is-multiple)::after {
        color: $blue5;

        option:checked, option:hover {
            background-color: $gray2 !important;
        }
    }
    .tainacan-table {
        tr.selected-row { 
            background-color: $blue1 !important; 
            .checkbox-cell .checkbox, .actions-cell .actions-container {
                background-color: $blue2 !important;
            }
        }
    }
    .dropdown-trigger {
        .button .icon {
            color: $blue5;
        }
    }
    .dropdown-menu .dropdown-content {
        .dropdown-item.is-active { background-color: $blue2; }
    }

    .switch {
        &:hover input[type="checkbox"]:checked + .check {
            background-color: $blue2;
        }
        input[type="checkbox"]:checked + .check {
            border: 2px solid $blue5;
    
            &::before {
                background-color: $blue5;
            }
        }
        &.is-small {
            input[type="checkbox"]:checked + .check {
                border: 1.5px solid $blue5;
            }
        }
    }
    #filter-menu-compress-button {
        background-color: $blue1 !important;
        color: $blue5 !important;
    }
}