.select {
    padding-top: 0px !important;
    select {
        border: none;
        border-radius: 1px !important;
        font-weight: normal;
        font-size: 0.875rem !important;
        height: 30px !important;
        padding: 2px 25px 2px 15px!important;
        margin-top: 0px !important;
        margin-bottom: 0px !important;
        color: $tainacan-input-color;
        option:checked, option:hover {
            background-color: $gray2 !important;
        }
        &:focus, &:active {
            box-shadow: none !important;
            text-decoration: none !important;
        }
        &[disabled] {
            background-color: white !important;
        }
    }
    &:not(.is-loading)::after {
        content: "arrowdown" !important;
        font: normal normal normal 20px/1 "TainacanIcons";
        border: none !important;
        transform: none !important;
        margin-top: -15px !important;
        right: 15px !important;
        color: $secondary !important;
        display: flex !important;
        align-items: initial;
    }  
    &.is-loading.is-small::after {
        font-size: 0.875rem;
    }     
}