// Tabs 
.tabs {
    a {
        font-size: 0.8125rem;
        margin-bottom: -3px !important;
        &:hover{
            border-bottom-color: transparent;
            text-decoration: none;
        }
    }
    li.is-active a {
        border-bottom: 5px solid $turquoise5;
        color: $turquoise5; 
    }
}