// Tabs 
.tabs {
    a {
        font-size: 13px;
        margin-bottom: -3px;
        &:hover{
            border-bottom-color: transparent;
            text-decoration: none;
        }
    }
    li.is-active a {
        border-bottom: 5px solid $primary;
        color: $primary; 
    }
}