// Input components used in forms are gray in Tainacan
.tainacan-form {
    color: $tainacan-input-color;
    width: 100%;

    .form-submit {
        justify-content: space-between !important;
        padding: 12px 0px ;
        margin-bottom: 0px;
        width: 100%;

        .button {
            border-width: 1px;
            padding: 2px 30px !important;
        }
        &.has-only-save {
            justify-content: end !important;
        }
    }
    .field:not(:last-child) {
        margin-bottom: 1.5rem;
    }
    .field>.field:not(:last-child) {
        margin-bottom: 0.5rem;
    }
    .label { 
        font-weight: bold;
        font-size: 14px; 
        display: inline-block;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        vertical-align: top;
    }
    .required-metadatum-asterisk {
        color: $gray3;
        &.is-danger {
            color: $danger;
        }
    }
    .input, .textarea { 
        &.is-danger {
          background-color: $red1;  
        }
    }
    .control{
        &.has-icons-right {
            .icon {
                height: 2.0em;
                .mdi-alert-circle::before {
                    content: "\F156" !important;
                    font-size: 16px !important;
                }
            }
        }
    }
    .radio, .checkbox {
        align-items: center;
        margin-bottom: 0;

        width: 100%;
        
        &.is-danger {
            border-color: $danger;
        }   
    }
    .control-label { // The value part in checkbox, radio and switches
        color: $tainacan-input-color;
        padding-left: 0.8em;
        font-size: 12px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
    .select {
        
        select {
            color: $tainacan-input-color;
            background-color: white !important;
            border: 1px solid $gray2 !important;
            &:focus>option:checked, &:focus>option:hover {
                background-color: $turquoise1 !important;
            }
        }   
    }
    .dropdown {
        width: 100%;
        .dropdown-trigger { width: 100% }
        .button {
            justify-content: space-between;
            width: 100%;
            border: 1px solid $gray2 !important;
            border-radius: 0 !important;
            padding: 2px 14px 2px 18px !important
        }
    }
    .two-columns-dropdown {
        &>.dropdown-menu>.dropdown-content {
            display: flex;
            flex-wrap: wrap;

            .dropdown-item {
                width: 50%;
            }
        }
    }
    .upload-draggable {
        color: $gray4;
        transition: color 0.2s background-color 0.2s;
        border-radius: 0 !important;
        border-color: $gray2;
    }
}