// Input components used in forms are gray in Tainacan
.tainacan-form {
    color: $tainacan-input-color;
    width: 100%;

    .form-submit {
        justify-content: space-between !important;
        padding: 12px 0px ;
        margin-bottom: 0px;
        width: 100%;

        .button {
            border-width: 1px;
            padding: 2px 30px !important;
        }
        &.has-only-save {
            justify-content: end !important;
        }
    }
    .field:not(:last-child) {
        margin-bottom: 1.5rem;
    }
    .field>.field:not(:last-child) {
        margin-bottom: 0.5rem;
    }
    .label { 
        font-weight: bold;
        font-size: 0.875rem; 
        display: inline-block;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        vertical-align: top;
    }
    .section-label>label {
        cursor: default;
    }
    .required-metadatum-asterisk {
        color: $gray5;
        position: relative;
        top: -3px;
        
        &.is-danger {
            color: $danger;
        }
    }
    .input, .textarea { 
        &.is-danger {
          background-color: $red1;  
        }
    }
    .b-numberinput {
        height: 30px;
        
        .control {
            margin-right: 0 !important;
        }
        div.control {
            flex-shrink: 1;
            order: -1;
        }
        button, 
        input {
            height: 30px !important;
        }
        button.is-primary,
        button.is-primary:hover,
        button.is-primary:focus,
        button.is-primary:active {
            border: 1px solid $gray2;
            background-color: $gray1 !important;
            color: $secondary !important;
            padding: 0 0.6rem !important;
            border-radius: 0 !important;

            .mdi::before {
                display: inline-block;
                font: normal normal normal 20px/1 "TainacanIcons";
                font-size: inherit;
                text-rendering: auto;
                vertical-align: middle;
                line-height: inherit;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                transform: none !important;
                font-size: 20px;
                margin-top: -2px;
            }
            .mdi-plus::before {
                content: "plus" !important;
            } 
            .mdi-minus::before {
                content: "minus" !important;
            } 
        }
    }
    .control {
        &.has-icons-right {
            .icon {
                height: 2.0em;
                .mdi-alert-circle::before {
                    content: "\F156" !important;
                    font-size: 1rem !important;
                }
            }
        }
    }
    .radio, .checkbox {
        align-items: center;
        margin-bottom: 5px;

        width: 100%;
        
        &.is-danger {
            border-color: $danger;
        }   
    }
    .control-label { // The value part in checkbox, radio and switches
        color: $tainacan-input-color;
        padding-left: 0.8em;
        font-size: 0.75rem;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
    .select {
        
        select {
            color: $tainacan-input-color;
            background-color: white !important;
            border: 1px solid $gray2 !important;
            &:focus>option:checked, &:focus>option:hover {
                background-color: $turquoise1 !important;
            }
        }   
    }
    .dropdown {
        width: 100%;
        .dropdown-trigger { width: 100% }
        .button {
            justify-content: space-between;
            width: 100%;
            border: 1px solid $gray2 !important;
            border-radius: 0 !important;
            padding: 2px 14px 2px 18px !important
        }
    }
    .two-columns-dropdown {
        &>.dropdown-menu>.dropdown-content {
            display: flex;
            flex-wrap: wrap;

            .dropdown-item {
                width: 50%;
            }
        }
    }
    .upload-draggable {
        color: $gray4;
        transition: color 0.2s background-color 0.2s;
        border-radius: 0 !important;
        border-color: $gray2;
        padding: 1.25rem;
    }
    .autocomplete {
        .dropdown-menu {
            width: 100%;
        }
        .dropdown-item {
            white-space: initial !important;
        }
    }

    .form-hook-region {
        background-color: $gray1;
        padding: 1rem 1.875rem 2rem 1.875rem;

        h4 {
            font-weight: 600;
            color: #298596;
            margin-bottom: 6px;
        }
        hr {
            margin-top: 8px;
            height: 1px;
            background-color: #298596;
        }
    }
}