// Import Bulma's core and variables
@import "../../../node_modules/bulma/sass/utilities/initial-variables";
@import "../../../node_modules/bulma/sass/utilities/functions";

// Tainacan custom colors
$primary: #2cb4c1;
$primary-invert: findColorInvert($primary);
$secondary: #298596;
$secondary-invert: findColorInvert($secondary);
$tertiary: #01295c;
$tertiary-invert: findColorInvert($tertiary);

$primary-light:#c1dae0;
$primary-lighter: #e6f6f8;
$primary-dark: #55A0AF;
$primary-darker: darken($primary-dark, 5%);

$success: #25a189;
$success-invert: findColorInvert($success);

$separator-color: #2b98a4;
$tainacan-input-color: #1d1d1d;
$tainacan-input-background: #e5e5e5;
$tainacan-placeholder-color: #898d8f;
$draggable-border-color: #d8d8d8;

$gray: #b1b1b1; 
$gray-invert: findColorInvert($gray);
$gray-light: #898d8f; 
$gray-light-invert: findColorInvert($gray-light);

$danger: #a23939; 
$danger-invert: findColorInvert($danger);

@import "../../../node_modules/bulma/sass/utilities/derived-variables.sass";

// Setup $colors to use as bulma classes
$colors: (
    "white": ($white, $black),
    "black": ($black, $white),
    "light": ($light, $light-invert),
    "dark": ($dark, $dark-invert),
    "primary": ($primary, $primary-invert),
    "secondary": ($secondary, $secondary-invert),
    "info": ($info, $info-invert),
    "success": ($success, $success-invert),
    "warning": ($warning, $warning-invert),
    "danger": ($danger, $danger-invert)
);
$addColors: ( 
    "gray": ($gray, $gray-invert),
    "gray-light": ($gray-light, $gray-light-invert),
    "tertiary": ($tertiary, $tertiary-invert),
);
$colors: map-merge($colors, $addColors);

// Small size
$size-small: 0.85em; // 0.75em on Bulma.

// Tainacan Header and side menus
$header-height: 53px;
$subheader-height: 82px;
$side-menu-width: 180px;
$filter-menu-width: 200px;
$page-height: calc(100% - 53px);

// Overall Pages padding:
$page-side-padding: 4.166666667%;//82px;
$table-side-padding: 4.166666667%;
$page-top-padding: 25px;
$page-small-side-padding: 25px;
$page-small-top-padding: 25px;

$page-mobile-side-padding: 1em;
$page-mobile-top-padding: 1em;

// Links
$link: $secondary;
$link-invert: $secondary;
$link-focus-border: $secondary; 

// Placeholder
$text-light: $tainacan-placeholder-color;

// Table
$table-head-cell-color: $gray-light;
$table-head-cell-border-width: 0 0 1px !important;
$table-row-active-color: #e5e5e5;
$table-foot-cell-color: $gray-light;
$table-foot-cell-border-width: 1px 0 0 !important;
$table-cell-padding: 1.0em 0.75em;

 
// Bulma's modal (needs to be greather than taincan-admin-app)
$modal-z: 9999999;