// Import Bulma's core and variables
@import "../../../node_modules/bulma/sass/utilities/initial-variables";
@import "../../../node_modules/bulma/sass/utilities/functions";

// Tainacan custom colors
$primary: #2cb4c1;// #25a189;
$primary-invert: findColorInvert($primary);
$secondary: #298596;
$secondary-invert: findColorInvert($secondary);
$tertiary: #1f2f56;
$tertiary-invert: findColorInvert($tertiary);

$primary-light:#A5CDD7;
$primary-lighter: lighten($primary-light, 15%);
$primary-dark: #55A0AF;
$primary-darker: darken($primary-dark, 5%);

$separator-color: #2a6e77;
$header-color: #ececec;
$tainacan-input-color: #f0f0f0;
$draggable-border-color: #d8d8d8;

$gray: #898d8f; 
$gray-invert: findColorInvert($gray);
$gray-light: #898d8f; 
$gray-light-invert: findColorInvert($gray-light);

@import "../../../node_modules/bulma/sass/utilities/derived-variables.sass";

// Setup $colors to use as bulma classes
$colors: (
    "white": ($white, $black),
    "black": ($black, $white),
    "light": ($light, $light-invert),
    "dark": ($dark, $dark-invert),
    "primary": ($primary, $primary-invert),
    "secondary": ($secondary, $secondary-invert),
    "info": ($info, $info-invert),
    "success": ($success, $success-invert),
    "warning": ($warning, $warning-invert),
    "danger": ($danger, $danger-invert)
);
$addColors: ( 
    "gray": ($gray, $gray-invert),
    "gray-light": ($gray-light, $gray-light-invert),
    "tertiary": ($tertiary, $tertiary-invert),
);
$colors: map-merge($colors, $addColors);

// Small size
$size-small: 0.85em; // 0.75em on Bulma.

// Tainacan Header and side menus
$header-height: 78px;
$side-menu-width: 222px;
$page-height: calc(100% - 78px);

// Overall Pages padding:
$page-side-padding: 4em;
$page-top-padding: 1.5em;
$page-small-side-padding: 2em;
$page-small-top-padding: 1.5em;

$page-mobile-side-padding: 1em;
$page-mobile-top-padding: 0.5em;

// Links
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary; 

// Table
$table-head-cell-color: $gray-light;
$table-head-cell-border-width: 0 0 1px !important;
$table-row-active-color: #e5e5e5;
$table-foot-cell-color: $gray-light;
$table-foot-cell-border-width: 1px 0 0 !important;
$table-cell-padding: 1.0em 0.75em;

 
// Bulma's modal (needs to be greather than taincan-admin-app)
$modal-z: 9999999;