// Import Bulma's core and variables
@import "../../../node_modules/bulma/sass/utilities/initial-variables";
@import "../../../node_modules/bulma/sass/utilities/functions";

// Tainacan custom colors
$primary: #2cb4c1;// #25a189;
$primary-invert: findColorInvert($primary);
$secondary: #298596;
$secondary-invert: findColorInvert($secondary);
$tertiary: #1f2f56;
$tertiary-invert: findColorInvert($tertiary);

$primary-light:#A5CDD7;
$primary-lighter: lighten($primary-light, 15%);
$primary-dark: #55A0AF;
$primary-darker: darken($primary-dark, 5%);

$separator-color: #2a6e77;
$gray: #898d8f; 
$gray-invert: findColorInvert($gray);
$gray-light: #898d8f; 
$gray-light-invert: findColorInvert($gray-light);

@import "../../../node_modules/bulma/sass/utilities/derived-variables.sass";

// Setup $colors to use as bulma classes
$colors: (
    "white": ($white, $black),
    "black": ($black, $white),
    "light": ($light, $light-invert),
    "dark": ($dark, $dark-invert),
    "primary": ($primary, $primary-invert),
    "secondary": ($secondary, $secondary-invert),
    "info": ($info, $info-invert),
    "success": ($success, $success-invert),
    "warning": ($warning, $warning-invert),
    "danger": ($danger, $danger-invert)
);
$addColors: ( 
    "gray": ($gray, $gray-invert),
    "gray-light": ($gray-light, $gray-light-invert),
    "tertiary": ($secondary, $secondary-invert),
);
$colors: map-merge($colors, $addColors);