#close-fullscren-button {
    border-radius: 50px;
    color: white;
    background-color: transparent;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem;
    cursor: pointer;
    z-index: 9999999999;

    &:focus, &:active {
        outline: none;
    }
}
.metadata-menu {
    position: absolute;
    z-index: 10;
    width: 20.83%;
    min-width: 180px;
    min-height: 100%;
    height: 100%;
    padding: $page-side-padding 25px $page-side-padding $page-side-padding;
    float: left;
    overflow-y: auto;
    overflow-x: hidden;
    visibility: visible;
    display: block;
    transition: visibility ease 0.5s, display ease 0.5s;

    @media screen and (max-width: 768px) {
        width: 100%;
        padding: $page-small-side-padding !important;
        
        h3 {
            margin-top: 0 !important;
        }
    }
    @media screen and (min-width: 769px) {
        top: 0px !important;
    }

    h3 {
        font-size: 100%;
        margin-top: 0px;
    }

    .collapse-all {
        font-size: 12px;
        display: inline-flex;
        align-items: center;
        margin-bottom: 1rem;

        .icon {
            vertical-align: bottom;
        }
    }

    // Overrides bootstrap behavior
    .collapse:not(.show) {
        display: initial;
    }

    .field {        
        margin-bottom: 0px !important;
        border-bottom: 1px solid $gray2;
        padding: 1rem 0px 0.2rem 0px;

        .label {
            cursor: pointer;
            font-size: 14px;
            font-weight: 500;
            margin-bottom: 0.75rem !important;
            display: inline-flex;
            align-items: center;

            span {
                margin-right: 5px;
                margin-left: -5px;
            }
        }
        .content {
            font-size: 0.75rem;
        }
    }

    .checkbox {
        margin-bottom: 5px;
        align-items: baseline;
    }

}

#metadata-compress-button {
    position: absolute;
    z-index: 99;
    top: 120px;
    left: 0;
    max-width: 33px;
    height: 26px;
    width: 33px;
    border: none;
    background-color: $gray5;
    color: white;
    padding: 0;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    cursor: pointer;
    transition: top 0.3s;

    &:focus, &:active {
        outline: none;
    }

    .icon {
        margin-top: 1px;
    }

    @media screen and (max-width: 768px) {
        max-width: 100%;
        width: auto;
        padding: 3px 6px 3px 0px;
        height: 24px;

        .icon {
            position: relative;
            top: -3px;
        }
        .text {
            position: relative;
            top: -6px;
        }
    }
}

.spaced-to-right {
    margin-left:  20.83%;

    .arrow-left {
        left: 20.83% !important;
    }

    @media screen and (max-width: 768px) {
        margin-left: 0px !important;
    }
}

.tainacan-slide-main-view {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: calc(100vh - 142px);
    margin-bottom: 1rem;

    .slide-main-content {
        position: relative;
        min-height: 82vh;
        max-height: 82vh;
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: center;

        &>div, 
        &>div audio,
        &>div img,
        &>div video,
        &>div.tainacan-embed-container {
            width: 100%;
            max-width: 82vh;
            text-align: center;
            color: white;
        }
    }
}
.slide-title-area {
    width: 100%;
    position: relative;
    top: -85px;
    margin-bottom: -85px;
    background-color: rgba(0,0,0,0.5);
    padding: 1rem $page-side-padding;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1 {
        color: white;
        font-size: 2rem;
        font-weight: normal;
    }

    .play-button {
        cursor: pointer;
        border: 0;
        background: transparent;

        .icon {
            border-radius: 100px;
            background: white;
            border: 3px solid black;
        }
        &:focus, &:active {
            outline: 0;
            border: 0;
        }
    }
}
.slide-control-arrow {
    cursor: pointer;
    background-color: transparent;
    border: none !important;
    height: 3.5rem;
    width: 2.8rem;
    text-align: center;
    vertical-align: middle;
    position: absolute;
    z-index: 9;

    &:focus, &:active {
        border: none;
        outline: none;
    }
    .icon {
        height: 3.5rem;
        width: 2.5rem;
        text-align: center;

        .mdi::before {
            line-height: 5rem;
            font-size: 5rem;
            color: $turquoise5;
        }
    }
    &.arrow-left { 
        left: 0; 
        margin-left: $page-side-padding;
        
    }
    &.arrow-right { 
        right: 0;     
        margin-right: $page-side-padding;
    }
    &.slide-group-arrow {
        top: calc(50% - 33px);

        .icon {
            height: 2.5rem;
            width: 1.5rem;
        
            .mdi::before {
                line-height: 3rem;
                font-size: 3rem;
                color: white;
            }
        }
    }
}
#tainacan-slide-container {
    padding: 0 $page-side-padding;
    display: flex;
    flex-wrap: nowrap;
    overflow: auto;
    flex-grow: 1;
    flex-shrink: 1;
    justify-content: space-evenly;
    animation-name: item-appear;
    animation-duration: 0.5s;

    .selected-record {
        background-color: $turquoise1;
        .metadata-title {
            background-color: $turquoise2;
        }
        .media {
            background-color: $turquoise1;
        }
    }

    .tainacan-slide-item {    
        margin: 0.75rem;

        &.active-item img {
            border-bottom: 4px solid $turquoise5 !important;
        }
        &:hover img{
            border-bottom: 4px solid $gray2;
        }

        img {
            width: 100%;//85px;
            height: auto;
            border-radius: 0px;
            padding: 0 0 6px 0;
            border-bottom: 4px solid transparent; 
            transition: border-bottom 0.4s;
        }
    }
}

