.tainacan-grid-container {
    min-height: 50vh;
    padding: 0;
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fill, 285px);
    grid-gap: 0px;
    justify-content: space-evenly;
    animation-name: item-appear;
    animation-duration: 0.5s;

    .selected-grid-item {
        background-color: $turquoise1;
    }

    .tainacan-grid-item {
        max-width: 255px;
        flex-basis: 0;
        margin: 15px;
        text-align: center;

        &:hover {
            background-color: $gray2;
        }

        .grid-item-checkbox {
            position: absolute;
            margin-top: 9px;
            margin-left: 1rem;
        }
        .actions-area {
            position: relative;
            float: right;
            width: 100%;
            height: 30px;
            display: flex;
            justify-content: flex-end;
            visibility: hidden;
            opacity: 0;
            padding: 3px 8px;
            transition: visibility 0.2s, opacity 0.2s;
            margin-top: -31px;
            background-color: $gray2;

            a {
                margin-left: 12px;
            }
        }
        &:hover .actions-area { 
            visibility: visible;
            opacity: 1.0;
            background-color: $gray2 !important;
        }

        img {
            min-width: 255px;
            max-width: 255px;
            height: auto;
            border-radius: 0px;
            margin-bottom: -5px;
        }

        .metadata-title {
            flex-shrink: 0;
            margin-bottom: 6px;
            margin-top: 6px;
            margin-right: 6px;
            margin-left: 24px;
            padding: 6px 1rem;
            min-height: 30px;
            cursor: pointer;

            p{ 
                font-size: 0.875rem; 
                text-overflow: ellipsis;
                white-space: nowrap; 
                overflow: hidden;
                text-align: left;
            }
        } 
    
    }
}


