.tainacan-masonry-container {
    min-height: 50vh;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-shrink: 1;
    justify-content: space-evenly;
    animation-name: appear;   
    animation-duration: 0.5s;

    .selected-masonry-item {
        background-color: $turquoise1;
    }

    .tainacan-masonry-item {
        display: block;
        width: 100%;
        flex-basis: 0;
        margin-bottom: 25px;
        text-align: center;
        text-decoration: none;
        transition: background-color 0.3s;

        &:hover {
            background-color: $gray2;
        }

        .masonry-item-checkbox {
            position: absolute;
            margin-top: 8px;
            margin-left: 1rem;
        }
        .actions-area {
            position: relative;
            float: right;
            width: 100%;
            display: flex;
            justify-content: flex-end;
            visibility: hidden;
            opacity: 0;
            padding: 2px 8px;
            transition: visibility 0.2s, opacity 0.2s;
            margin-top: -29px;
            background-color: $gray2;

            a {
                margin-left: 12px;
            }
        }
        &:hover .actions-area { 
            visibility: visible;
            opacity: 1.0;
        }
        &.selected-grid-item {
            .actions-area {
                background-color: $turquoise1;
            }
        }

        .tainacan-masonry-item-thumbnail {
            background-size: cover;
            background-color: #f6f6f6;
            background-blend-mode: multiply;
            border-radius: 0px;
            // transition: background-color 0.3s;

            &:hover {
                cursor: pointer;
                // background-color: white;
            } 
        
            img {
                width: 100%;
                height: auto;    
                transition: height 0.2s ease;
                display: block;
            }
            img:not(.skeleton) {
                visibility: hidden;
            }

            // Masonry skeleton is white due to 
            // background-blend-mode
            .skeleton {
                background: #fff;
                color: transparent !important;
            }
        }

        .metadata-title {
            flex-shrink: 0;
            margin: 0px 6px 0px 24px;
            padding: 10px 1rem;
            min-height: 41px;
            cursor: pointer;

            p { 
                font-size: 0.875rem !important;
                color: black !important; 
                text-align: left !important;
                margin-bottom: 0 !important;
                word-break: break-word;
            }
        } 
    
    }
}


