.tainacan-cards-container {
    min-height: 50vh;
    padding: 0;
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fill, 455px);
    grid-gap: 0px;
    justify-content: space-evenly;
    animation-name: appear;
    animation-duration: 0.5s;

    @media screen and (max-width: 480px) {    
        width: 91.666666667%;  
        grid-template-columns: repeat(auto-fill, 100%);
    }

    .selected-card {
        background-color: $turquoise1;
        .metadata-title {
            background-color: $turquoise2;
        }
    }
    .tainacan-card {
        padding: 0px;
        flex-basis: 0;
        margin: 15px;
        max-width: 425px;
        min-width: 425px;
        min-height: 210px;
        max-height: 210px;
        cursor: pointer;
        text-decoration: none !important;

        @media screen and (max-width: 480px) {
            max-width: 100%;
            min-width: 100%;
            min-height: 171px;
            max-height: 171px;

            img {
                width: 130px !important;
                height: 130px !important;
            }
            .skeleton {
                width: 130px !important;
                height: 130px !important;
            }
            .card-thumbnail {
                width: 130px !important;
                height: 130px !important;
            }
        }

        &:hover {
            background-color: $gray1 !important;
        }

        .card-checkbox {
            position: absolute;
            margin-left: 1.0rem;
            margin-top: 7px;
        }
        .actions-area {
            position: relative;
            float: right;
            top: -7px;
            padding-right: 12px;
            //width: 80px;
            display: flex;
            justify-content: space-between;
            visibility: hidden;
            opacity: 0;
            transition: visibility 0.2s, opacity 0.2s;
        }
        &:hover .actions-area {
            visibility: visible;
            opacity: 1.0;
        }

        .card-line {
            height: 1px;
            background-color: $gray2;
            margin-left: -44px;
            margin-right: -44px;
            opacity: 0;
            visibility: hidden;
        }
        img {
            width: 170px;
            height: 170px;
            border-radius: 0px;
            visibility: hidden;
        }
        .card-thumbnail {
            width: 170px;
            height: 170px;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            margin: 0;
        }
        .skeleton {
            width: 170px;
            height: 170px;
            position: absolute;
            z-index: -1;
            background-color: #e0e0e0;
        }
        .metadata-title {
            flex-shrink: 0;
            padding: 0.6rem 4.75rem 0.5rem 2.75rem;
            margin-bottom: -25px;
            min-height: 40px;
            font-size: 0.875rem !important; 
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            color: black !important;
            p {
                color: black !important;
                font-size: 0.875rem !important; 
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                margin-bottom: 0;
            }
        }
        &:hover .metadata-title {
            background-color: $gray2 !important;
            p { text-decoration: none !important; }
        }

        .media {
            width: 100%;
            display: flex;
            margin: 0 !important;

            .list-metadata {
                padding: 0.75rem 1.375rem;
                flex: 1;
                width: 100%;
                height: 170px;
                color: $gray4;

                p.metadata-description {
                    font-size: 0.6875rem !important;
                    overflow: hidden;
                    margin-bottom: 1rem;
                    max-height: 152px;
                }

                .metadata-author-creation {
                    font-size: 0.6875rem !important;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                    margin-bottom: 0;
                }
   
            }
        }
    
    
    }
}


