.tainacan-records-container {
    min-height: 50vh;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-shrink: 1;
    justify-content: space-evenly;
    animation-name: item-appear;
    animation-duration: 0.5s;

    .selected-record {
        background-color: $turquoise1;
        .metadata-title {
            background-color: $turquoise2;
        }
    }

    .tainacan-record {
        padding: 0px;
        flex-basis: 0;
        margin: 0 auto 42px auto;
        width: 100%;
        max-width: 425px;
        min-height: 100px;
        cursor: pointer;
        text-decoration: none;
        display: block;

        &:hover {
            background-color: #f2f2f2 !important;
        }

        .record-checkbox {
            position: absolute;
            margin-left: 1.0rem;
            margin-top: 9px;
        }
        .actions-area {
            position: relative;
            float: right;
            top: -7px;
            padding-right: 12px;
            width: 80px;
            display: flex;
            justify-content: space-between;
            visibility: hidden;
            opacity: 0;
            transition: visibility 0.2s, opacity 0.2s;
        }
        &:hover .actions-area {
            visibility: visible;
            opacity: 1.0;
        }

        .record-line {
            height: 1px;
            background-color: $gray2;
            margin-left: -44px;
            margin-right: -44px;
            opacity: 0;
            visibility: hidden;
        }
        .thumbnail {
            float: right;
            margin: 0 0 1.5rem 1.5rem;
        }
        img {
            width: 120px;
            height: auto;
            border-radius: 0px;
        }
        .metadata-title {
            flex-shrink: 0;
            padding: 0.75rem 4.75rem 0.75rem 2.75rem;
            margin-bottom: -27px;
            min-height: 42px;
            font-size: 0.875rem !important; 
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            color: black;

            p {
                font-size: 0.875rem !important; 
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }
        }
        &:hover .metadata-title {
            background-color: $gray2 !important;
        }

        .media {
            width: 100%;

            .list-metadata {
                padding: 0.75rem 1.375rem;
                flex: 1;
                font-size: 0.6875rem;
                color: $gray4;
                overflow: hidden;
                width: 100%;
            
                .metadata-label {
                    font-size: 0.75rem;
                    margin-bottom: 0.2rem;
                    font-weight: 700;
                    color: #454647;
                }

                .metadata-value {
                    margin-bottom: 1rem;
                    color: $gray4;
                }
   
            }
        }
    
    
    }
}


