.tainacan-cards-container {
    min-height: 200px;
    padding: 0;

    .selected-card {
        background-color: $primary-lighter;
    }

    .tainacan-card {
        padding: 16px 44px 24px 44px;

        .card-checkbox {
            position: absolute;
            margin-left: -28px;
            margin-top: -2px;
        }
        .actions-area {
            position: relative;
            float: right;
            top: -37px;
            right: -30px;
            width: 60px;
            display: flex;
            justify-content: space-between;
            visibility: hidden;
            opacity: 0;
            transition: visibility 0.2s, opacity 0.2s;
        }
        &:hover .actions-area {
            visibility: visible;
            opacity: 1.0;
        }

        img {
            width: 130px;
            height: auto;
            border-radius: 2px;
            margin-right: 1.5rem;
        }

        .metadata-title {
            flex-shrink: 0;
            font-size: 0.875rem;
            margin-bottom: 0.875rem;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
        .media {
            .media-body {
                flex: 1;
                font-size: 0.6875rem;
                color: gray;
                overflow: hidden;
            
                .metadata-label {
                    font-size: 0.75rem;
                    line-height: 1.0;
                    margin-bottom: 0.2rem;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                    font-weight: 500;
                    color: $gray-light;
                }

                .metadata-value {
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                    margin-bottom: 1rem;
                }
   
            }
        }
    
    
    }
}


