#close-fullscren-button {
    border-radius: 50px;
    color: white;
    background-color: transparent;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem;
    cursor: pointer;
    z-index: 9999999999;

    &:focus, &:active {
        outline: none;
    }
}
.metadata-menu {
    position: absolute;
    z-index: 10;
    width: 20.83%;
    min-width: 180px;
    min-height: 100%;
    height: 100%;
    padding: $page-side-padding;
    float: left;
    overflow-y: auto;
    overflow-x: hidden;
    visibility: visible;
    display: block;
    transition: visibility ease 0.5s, display ease 0.5s;

    @media screen and (max-width: 768px) {
        width: 100%;
        padding: $page-small-side-padding !important;
        
        h3 {
            margin-top: 0 !important;
        }
    }
    @media screen and (min-width: 769px) {
        top: 0px !important;
    }

    h3 {
        font-size: 100%;
        margin-top: 48px;
    }

    .label {
        font-size: 0.75rem;
        font-weight: normal;
    }

    .checkbox {
        margin-bottom: 5px;
        align-items: baseline;
    }

}

#metadata-compress-button {
    position: absolute;
    z-index: 99;
    top: 120px;
    left: 0;
    max-width: 23px;
    height: 21px;
    width: 23px;
    border: none;
    background-color: $turquoise1;
    color: $turquoise5;
    padding: 0;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    cursor: pointer;
    transition: top 0.3s;

    &:focus, &:active {
        outline: none;
    }

    .icon {
        margin-top: -1px;
    }

    @media screen and (max-width: 768px) {
        max-width: 100%;
        width: auto;
        padding: 3px 6px 3px 0px;
        height: 24px;

        .icon {
            position: relative;
            top: -3px;
        }
        .text {
            position: relative;
            top: -6px;
        }
    }
}

.spaced-to-right {
    margin-left:  20.83%;

    @media screen and (max-width: 768px) {
        margin-left: 0px !important;
    }
}

.tainacan-slide-main-view {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 82vh;
    margin-bottom: 1rem;

    .slide-main-content {
        img {
            height: 100%;
            width: auto;
            max-width: 100%;
        }
    }

    .slide-control-arrow {
        cursor: pointer;
        background-color: transparent;
        border: none !important;
        height: 3.5rem;
        width: 3.5rem;
        text-align: center;
        vertical-align: middle;

        &:focus, &:active {
            border: none;
            outline: none;
        }
        .icon {
            height: 3.5rem;
            width: 2.5rem;
            text-align: center;

            .mdi::before {
                line-height: 5rem;
                font-size: 5rem;
                color: $turquoise5;
            }
        }
    }
}
.slide-title-area {
    width: 100%;
    position: relative;
    top: -80px;
    margin-bottom: -80px;
    background-color: rgba(0,0,0,0.5);
    padding: 1rem 0;

    h1 {
        color: white;
        font-size: 2rem;
        font-weight: normal;
    }
}
.tainacan-slide-container {
    padding: 0;
    display: flex;
    flex-wrap: nowrap;
    overflow: auto;
    flex-grow: 1;
    flex-shrink: 1;
    justify-content: space-evenly;
    animation-name: item-appear;
    animation-duration: 0.5s;

    .selected-record {
        background-color: $turquoise1;
        .metadata-title {
            background-color: $turquoise2;
        }
        .media {
            background-color: $turquoise1;
        }
    }

    .tainacan-slide-item {
        padding: 0 0 0.25rem 0;
        margin: 0.75rem;
        border-bottom: 4px solid transparent; 
        transition: border-bottom 0.2s;

        &.active-item {
            border-bottom: 4px solid $turquoise5 !important;
        }
        &:hover {
            border-bottom: 4px solid $gray2;
        }
        img {
            width: 80px;
            height: auto;
            border-radius: 0px;
        }
        .metadata-title {
            flex-shrink: 0;
            padding: 0.5rem 4.75rem 0.5rem 2.75rem;
            margin-bottom: -27px;
            min-height: 40px;
            font-size: 0.875rem !important; 
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            color: black;

            p {
                line-height: 1.7;
                font-size: 0.875rem !important; 
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                transition: background-color 0.3s;
            }
        }    
    
    }
}


