.tainacan-slide-main-view {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 65vh;
    margin-bottom: 1rem;

    .slide-control-arrow {
        background-color: transparent;
        border: none !important;
        height: 3.5rem;
        width: 3.5rem;
        text-align: center;
        vertical-align: middle;

        &:focus, &:active {
            border: none;
            outline: none;
        }
        .icon {
            height: 3.5rem;
            width: 3.5rem;
            text-align: center;

            .mdi::before {
                line-height: 5rem;
                font-size: 5rem;
                color: $turquoise5;
            }
        }
    }
}

.tainacan-slide-container {
    padding: 0;
    display: flex;
    flex-wrap: nowrap;
    overflow: auto;
    flex-grow: 1;
    flex-shrink: 1;
    justify-content: space-evenly;
    animation-name: item-appear;
    animation-duration: 0.5s;

    .selected-record {
        background-color: $turquoise1;
        .metadata-title {
            background-color: $turquoise2;
        }
        .media {
            background-color: $turquoise1;
        }
    }

    .tainacan-slide-item {
        padding: 0 0 0.25rem 0;
        margin: 0.75rem;
        border-bottom: 4px solid transparent; 
        transition: border-bottom 0.2s;

        &.active-item {
            border-bottom: 4px solid $turquoise5 !important;
        }
        &:hover {
            border-bottom: 4px solid $gray2;
        }
        img {
            width: 80px;
            height: auto;
            border-radius: 0px;
        }
        .metadata-title {
            flex-shrink: 0;
            padding: 0.5rem 4.75rem 0.5rem 2.75rem;
            margin-bottom: -27px;
            min-height: 40px;
            font-size: 0.875rem !important; 
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            color: black;

            p {
                line-height: 1.7;
                font-size: 0.875rem !important; 
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                transition: background-color 0.3s;
            }
        }    
    
    }
}


