.tainacan-grid-container {
    min-height: 50vh;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-shrink: 1;
    justify-content: space-evenly;
    animation-name: item-appear;
    animation-duration: 0.5s;

    .selected-grid-item {
        background-color: $turquoise1;
    }

    .tainacan-grid-item {
        max-width: 258px;
        flex-basis: 0;
        margin: 1rem 1.5rem 1.5rem 1.5rem;
        text-align: center;
        height: 100%;

        &:hover {
            background-color: $gray2;
        }

        .grid-item-checkbox {
            position: absolute;
            margin-top: 9px;
            margin-left: 1rem;
        }
        .actions-area {
            position: relative;
            float: right;
            width: 100%;
            display: flex;
            justify-content: flex-end;
            visibility: hidden;
            opacity: 0;
            padding: 8px;
            transition: visibility 0.2s, opacity 0.2s;
            margin-top: -43px;
            background-color: $gray2;
            border-bottom-left-radius: 2px;
            border-bottom-right-radius: 2px;

            a {
                margin-left: 12px;
            }
        }
        &:hover .actions-area { 
            visibility: visible;
            opacity: 1.0;
        }
        &.selected-grid-item {
            .actions-area {
                background-color: $turquoise1;
            }
        }

        img {
            min-width: 258px;
            max-width: 258px;
            height: auto;
            border-radius: 0px;
            margin-bottom: -5px;
        }

        .metadata-title {
            flex-shrink: 0;
            margin-bottom: 6px;
            margin-top: 6px;
            margin-right: 6px;
            margin-left: 24px;
            padding: 6px 1rem;
            min-height: 30px;
            cursor: pointer;

            p{ 
                font-size: 0.875rem; 
                text-overflow: ellipsis;
                white-space: nowrap; 
                overflow: hidden;
                text-align: left;
            }
        } 
    
    }
}


