.tainacan-cards-container {
    min-height: 50vh;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-shrink: 1;
    justify-content: space-evenly;
    animation-name: item-appear;
    animation-duration: 0.5s;

    .selected-card {
        background-color: $turquoise1;
        .metadata-title {
            background-color: $turquoise2;
        }
    }

    .tainacan-card {
        padding: 0px;
        flex-basis: 0;
        margin: 15px;
        max-width: 425px;
        min-width: 425px;
        min-height: 210px;
        max-height: 210px;
        cursor: pointer;

        @media screen and (max-width: 480px) {
            max-width: 100%;
            min-width: 100%;
            min-height: 176px;
            max-height: 176px;

            img {
                width: 130px !important;
                height: 130px !important;
            }
        }

        &:hover {
            background-color: $gray1 !important;
        }

        .card-checkbox {
            position: absolute;
            margin-left: 1.0rem;
            margin-top: 7px;
        }
        .actions-area {
            position: relative;
            float: right;
            top: -5px;
            padding-right: 12px;
            width: 80px;
            display: flex;
            justify-content: space-between;
            visibility: hidden;
            opacity: 0;
            transition: visibility 0.2s, opacity 0.2s;
        }
        &:hover .actions-area {
            visibility: visible;
            opacity: 1.0;
        }

        .card-line {
            height: 1px;
            background-color: $gray2;
            margin-left: -44px;
            margin-right: -44px;
            opacity: 0;
            visibility: hidden;
        }
        img {
            width: 170px;
            height: 170px;
            border-radius: 0px;
        }
        .metadata-title {
            flex-shrink: 0;
            padding: 0.6rem 4.75rem 0.5rem 2.75rem;
            margin-bottom: -27px;
            min-height: 40px;
            font-size: 0.875rem !important; 
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            p {
                font-size: 0.875rem !important; 
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                margin-bottom: 0;
            }
        }
        &:hover .metadata-title {
            background-color: $gray2 !important;
        }

        .media {
            width: 100%;

            .list-metadata {
                padding: 0.75rem 1.375rem;
                flex: 1;
                width: 100%;
                height: 170px;
                color: $gray4;

                p.metadata-description {
                    font-size: 0.6875rem !important;
                    overflow: hidden;
                    margin-bottom: 1rem;
                    max-height: 152px;
                }

                .metadata-author-creation {
                    font-size: 0.6875rem !important;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                    margin-bottom: 0;
                }
   
            }
        }
    
    
    }
}


