// Tainacan custom colors and bulma's core
@import "./_variables.scss";

// Import Bulma and Buefy styles
@import "../../assets/css/fonts/materialdesignicons.css";
@import "../../../node_modules/bulma/bulma.sass";
@import "../../../node_modules/buefy/src/scss/buefy.scss";

// Roboto font
$family-sans-serif: 'Roboto', sans-serif;

// Clears wordpress content
body.tainacan-admin-page #adminmenumain, body.tainacan-admin-page #wpfooter, body.tainacan-admin-page #wp-auth-check-wrap {
    display: none;
}
html {
    overflow-y: hidden;
}

#tainacan-admin-app {
    background: #ffffffff;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    z-index: 999999;
    overflow-y: auto;
    margin: 0px !important; 
    font-family: $family-sans-serif;
}

// Link (hover is the same color as secondary
a:hover {
    color: $secondary;
}

/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

.primary-page {
    margin-top: $header-height; 
    height: $page-height !important;

    @media screen and (max-width: 769px) {
        margin-top: 0; 
    }
}
.page-container {
    padding: $page-top-padding $page-side-padding;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    
    @media screen and (max-width: 769px) {
        padding: $page-mobile-top-padding $page-mobile-side-padding;
    }
}
.page-container-small{
    height: calc(100% - 82px);
    overflow-y: auto;
}
.page-container-narrow{
    padding: $page-small-top-padding $page-small-side-padding;
    
    @media screen and (max-width: 769px) {
        padding: $page-mobile-top-padding $page-mobile-side-padding;
    }
}


// Modal
.tainacan-page-title, .tainacan-modal-title {
    h1, h2 {
        font-size: 20px;
        font-weight: 500;
        color: $tertiary;
        display: inline-block;
    }
    a.back-link{
        font-weight: 500;
        float: right;
        margin-top: 5px;
    }
    hr{
        margin: 3px 0px 4px 0px; 
        height: 1px;
        background-color: $secondary;
    }
    margin-bottom: 60px;
}

.tainacan-modal-content {
    background-color: white;
    padding: 52px 80px;

    .form-submit {
        padding: 80px 0em 0.4em 0em !important;
    }
}

.modal-background {
    background-color: rgba(0, 0, 0, 0.70);
}


// Custom ScrollBar (will work only in Chrome, Opera, Safari, webkit browsers)
/* width */
::-webkit-scrollbar {
    width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
    opacity: 0.5;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
    opacity: 0.5;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

// Buefy notices (toast, snackbar...)
.notices {
    z-index: 99999999999999 !important;
}

// Input components used in forms are gray in Tainacan
.tainacan-form {
    color: $tainacan-input-color;
    .form-submit {
        justify-content: space-between !important;
        padding: 1em 1.2em 0.4em 1.2em;
        margin-bottom: 0px;
        .button {
            border-width: 1px;
            padding: 2px 30px !important;
        }
        &.has-only-save {
            justify-content: end !important;
        }
    }
    .label { 
        font-weight: bold;
        font-size: 14px; 
        display: inline-block;
    }
    .required-field-asterisk {
        color: $gray;
        &.is-danger {
            color: $danger;
        }
    }
    .input, .textarea {

        background-color: $tainacan-input-background;
        color: $tainacan-input-color;
        transition: background-color 0.1s;

        &.is-danger {
          background-color: #e7dede;  
        }

    }
    .control{
        &.has-content {
            .input, .textarea {
                background-color: white;
                border: 1px solid $tainacan-input-background;
            }
        }
        &.has-icons-right {
            .icon {
                height: 2.0em;
                .mdi-alert-circle::before {
                    content: "\F156" !important;
                    font-size: 16px !important;
                }
            }
        }
    }
    .radio, .checkbox {
        margin-bottom: 0.2em;
        &.is-danger {
            border-color: $danger;
        }   
    }
    .control-label { // The value part in checkbox, radio and switches
        color: $tainacan-input-color;
        padding-left: 0.8em;
        font-size: 12px;
    }
    .select {
        
        select {
            font-size: 14px;
            color: $tainacan-input-color;
            background-color: white !important;
            border: 1px solid $tainacan-input-background;
            &:focus>option:checked, &:focus>option:hover {
                background-color: $primary-lighter !important;
            }
        }
        &.is-empty select{
            background-color: $tainacan-input-background !important;
        }
        &:not(.is-multiple)::after {
            margin-top: -0.6em;
            right: 0.95em;
            color: $primary;
        }       
    }
}

// Some components have a different style in listing pages
.button {
    border-radius: 6px !important;
    font-weight: normal;
    padding: 2px 15px !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    height: inherit !important;
    box-shadow: none !important;
    display: inline-flex !important;

    &.is-secondary:hover, &.is-secondary:focus {
        background: $secondary !important;
    }
    &.is-primary:hover, &.is-primary:focus {
        background: $primary !important;
    }
    &.is-success:hover, &.is-success:focus {
        background: $success !important;
    }
    &.is-white:hover, &.is-white:focus, &.is-outlined:hover, &.is-outlined:focus {
        background: $white !important;
    }
    &:active {
        -webkit-transform: none !important;
        transform: none !important;
    }
    &.is-outlined {
        color: #150e38 !important;
        background-color: white;
        border-color: $gray-light !important;
    }
    &:focus {
        outline: 0px;
    }
}
.button.is-small {
    height: 26px !important;
    line-height: 12px;
}
.button:not(.is-small):not(.is-medium):not(.is-large) {
    height: 30px !important;
    line-height: 20px !important;
    font-size: 14px !important;
}
.input, .textarea {
    font-size: 14px;
    border: none;
    border-radius: 1px !important;
    box-shadow: none !important;

    &:focus, &:active {
        box-shadow: none !important;
        background-color: white;
        border: 1px solid $tainacan-input-background !important;
    }    
}

.select {
    padding-top: 0px !important;
    select {
        border: none;
        border-radius: 1px !important;
        font-weight: normal;
        font-size: 14px !important;
        height: 30px !important;
        padding: 2px 25px 2px 15px!important;
        margin-top: 0px !important;
        margin-bottom: 0px !important;
        color: $tainacan-input-color;
        option:checked, option:hover {
            background-color: $primary-lighter !important;
        }
        &:focus, &:active {
            box-shadow: none !important;
            text-decoration: none !important;
        }
    }
    &:not(.is-multiple)::after {
        content: "\F35D" !important;
        font: normal normal normal 24px/1 "Material Design Icons" !important;
        border: none !important;
        transform: none !important;
        margin-top: -15px !important;
        right: 10px !important;
        color: $primary;
        display: flex !important;
        align-items: initial;
    }       
}
.dropdown, .autocomplete {
    .dropdown-trigger{
        .button {
            border: none;
            .icon {
                color: $secondary;
                align-items: start;
            }
        }
        .button.is-primary, .button.is-secondary, .button.is-success {
            .icon {
                color: $white;
            }
        }
    }
    .dropdown-menu {
        .dropdown-content {
            border-radius: 0px !important;
            .dropdown-item {
                .b-checkbox { width: 100% };
                &:hover {
                    background-color: $primary-lighter;
                }
                .is-small {
                    color: gray;
                }
            }
        } 
    }
}
.taginput-container {
    padding: 0 !important;
    background-color: white !important;

    &:focus, &:active {
        border: none !important;
    }
    .input { margin-bottom: 0px !important; }
    .input.has-selected, .input:focus, .input:active {
        background-color: white;
        border: 1px solid $tainacan-input-background !important;
    }
    .tag {
        background: white;
        padding-right: 0;
        padding-left: 0.5em;

        &.is-delete {
            color: $gray-light;
            &::after {
                height: 30% !important;
                width: 1px !important;
            } 
            &::before {
                width: 30% !important;
                height: 1px !important;
            } 
            &:hover, &:focus {
                background-color: white;
                color: black;
            }
        }
    }
}
.selected-list-box {
    padding: 4px 0px;
    border: 1px solid $tainacan-input-background;
    background-color: white;
    display: flex;
    font-size: 12px;

    .tags {
        margin-right: 8px;
    }
    .tag {
        background: white;
        padding-right: 0;
        padding-left: 0.5em;

        &.is-delete {
            color: $gray-light;
            &::after {
                height: 30% !important;
                width: 1px !important;
            } 
            &::before {
                width: 30% !important;
                height: 1px !important;
            } 
            &:hover, &:focus {
                background-color: white;
                color: black;
            }
        }
    }
}
.switch {
    input[type="checkbox"] + .check {
        background-color: $gray-light;
        border: 2px solid $gray-light;
        width: 2.7em;
        height: 1.7em;

        &::before {
            background-color: white;
            box-shadow: none;
        }
    } 
    &:hover input[type="checkbox"]:checked + .check {
        background-color: $primary-light;
    }

    input[type="checkbox"]:checked + .check {
        border: 2px solid $secondary;
        background-color: transparent;

        &::before {
            background-color: $secondary;
            transform: translate3d(78%, 0, 0);
        }
    }
    &:hover input[type="checkbox"] + .check {
        background-color: $gray-light;
    }

    &:focus input[type="checkbox"] + .check,
    &:focus input[type="checkbox"]:checked + .check {
        box-shadow: none;
    }

    &.is-small {
        font-size: 9px;

        input[type="checkbox"] + .check {
            border: 1.5px solid $gray-light;
            width: 2.55em;
            height: 1.7em;

            &::before {
                width: 1.0em;
                height: 1.0em;
            }
        }
        input[type="checkbox"]:checked + .check {
            border: 1.5px solid $secondary;

            &::before {
                transform: translate3d(84%, 0, 0);
            }
        }
    }

}
.b-checkbox.checkbox {

    input[type="checkbox"] {
        box-shadow: none !important;
    }

    input[type="checkbox"] + .check {
        width: 12px;
        height: 12px;
        flex-shrink: 0;
        border-radius: 0;
        display: inline-block;
        border: 1px solid $gray-light;
        transition: background 150ms ease-out;
        box-shadow: none !important;
    }

    &:focus input[type="checkbox"] + .check, 
    &:active input[type="checkbox"] + .check, 
    &:hover input[type="checkbox"] + .check {
        box-shadow: none !important;
        border-color: $gray-light !important;
    }
    input[type="checkbox"]:checked + .check {
        background: white url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1 1'%3E%3Cpath style='fill:%23000' d='M 0.04038059,0.6267767 0.14644661,0.52071068 0.42928932,0.80355339 0.3232233,0.90961941 z M 0.21715729,0.80355339 0.85355339,0.16715729 0.95961941,0.2732233 0.3232233,0.90961941 z'%3E%3C/path%3E%3C/svg%3E") no-repeat center center !important;
        border-color: $gray-light !important;
    }
}
.b-radio.radio {

    input[type="radio"] + .check {
        width: 13px !important;
        height: 13px !important;
        border: 1px solid $gray-light !important;    
    }
    input[type="radio"] + .check::before {
        background: black !important;
        width: 7px !important;
        height: 7px !important;
    }
    &:focus input[type="radio"] + .check,
    &:active input[type="radio"] + .check,
    &:hover input[type="radio"] + .check {
        box-shadow: none !important;
    }
    input[type="radio"]:checked + .check {
        border-color: $gray-light !important;
    }
    &:focus input[type="radio"]:checked + .check {
        box-shadow: none !important;
    }

}

// Tables
.table-container {
    padding: 0 $table-side-padding;
    position: relative;

    .table-wrapper {
        width: 100%;
        height: calc(100% - 40px);
        overflow: auto;
        .table {
            tbody {
                td { border-bottom: 0px solid $gray-light !important; }
            }
            .th-wrap {
                font-size: 12px !important;
                font-weight: normal !important;
            }
        }
        margin-bottom: 0px !important;
    }
}
.pagination-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.85em !important;
    font-weight: normal !important;
    border-top: 1px solid $gray;
    padding: 0em 1.0em;
    color: $gray-light;

    .shown-items { 
        flex-grow: 1; 
    }

    .items-per-page { 
        flex-grow: 3;
        margin-top: 0.35em;
        .field-label {
            flex-grow: 5;
            margin-right: 0.5em;
            .label {
                font-size: 1em !important;
                font-weight: normal !important;
                color: $gray-light;
            }
        }
        select {
            font-size: 0.85em;
        } 
    }

    .pagination { 
        flex-grow: 1; 
        a[disabled="disabled"] {
            color: $gray-light;
        }
        .pagination-link, .pagination-previous, .pagination-next {
            background-color: transparent;
            color: $secondary;
            border: none;
        }
        .pagination-link.is-current {
            color: $gray-light;
        }
        .pagination-link::after:not(:last-child) {
            content: ',';
            color: $gray-light;
        }
        .mdi-chevron-left::before {
            content: "\F40A";
            font-size: 17px;
            transform: rotate(180deg);
        }
        .mdi-chevron-right::before {
            content: "\F40A";
            font-size: 17px;
        }
    }
}

// Tabs 
.tabs {
    a {
        font-size: 13px;
        margin-bottom: -3px;
        &:hover{
            border-bottom-color: transparent;
        }
    }
    li.is-active a {
        border-bottom: 5px solid $primary;
        color: $primary; 
    }
}

// WordPress Media Modal customization
.wp-core-ui {
    a:focus{ box-shadow: none; }
}
.media-modal-backdrop {
    z-index: 9999999 !important;
}
.media-modal {
    left: 100px;
    top: 100px;
    bottom: 100px;
    right: 100px;
    background-color: white;
    z-index: 99999999999 !important;
}
// .media-modal {
//     left: 100px;
//     top: 100px;
//     bottom: 100px;
//     right: 100px;
//     background-color: white;
//     z-index: 99999999999 !important;
    
//     .media-modal-content {
//         background-color: white;
//         margin: 42px 60px;
//         box-shadow: none;
//     }

//     .media-frame-title {
//         border-bottom: 1px solid #298596 !important;
//         margin-bottom: 60px !important;  
//         box-shadow: none !important;
        
//         h1, h2 {
//             font-size: 20px;
//             font-weight: 500;
//             color: $tertiary;
//             display: inline-block;
//             margin-bottom: 3px;
//         }
//     }

//     .media-frame-router {
//         margin-top: 28px;
//         a.media-menu-item.active {
//             border-top: none;
//             border-left: none;
//             border-right: none;
//             border-bottom: 3px solid $primary;
//         }
//     }

//     .media-frame-content {
//         margin-top: 30px; 

//         .attachments-browser .attachments, .media-toolbar {
//             padding: 12px;
//             right: 270px;

//             .media-toolbar-primary {
//                 max-width: 30%;
//             }
//             .media-toolbar-secondary {
//                 max-width: 70%;
//             }
//             .attachment {
//                 padding: 12px;
//             }
//             .attachment.details {
//                 box-shadow: inset 0 0 0 3px #fff, inset 0 0 0 14px $primary-light;
//             }
//             .attachment.details .check, .wp-core-ui .attachment.selected .check:focus, .wp-core-ui .media-frame.mode-grid .attachment.selected .check {
//                 background-color: $primary-light;
//                 box-shadow: 0 0 0 1px #fff,0 0 0 2px $primary-light;
//             }
//         }
//         .media-sidebar {
//             background-color: white;
//             width: 238px;
//         }

//         .crop-content{
//             .imgareaselect-outer {
//                 background-color: white;
//                 opacity: 0.6;
//             }
//         }
//     }

//     .media-frame-toolbar .media-toolbar {
//         bottom: initial;
//         margin-top: -1px;
//         padding: 28px 0px;
//     }

//     .media-button.button-primary {
//         background-color: $success;
//         border: none;
//         box-shadow: none;
//         color: #fff;
//         text-decoration: none;
//         text-shadow: none;
//     }
//     .media-button.button-primary[disabled] {
//         color: #66c6e4 !important;
//         background: $success !important;
//         border-color: none!important;
//         box-shadow: none !important;
//         text-shadow: none !important;
//         cursor: default;
//     }
//     .media-button.button-secondary {
//         color: $tertiary;
//         border-color: #999;
//         background: white;
//         box-shadow: none;
//         vertical-align: middle;
//     }
//     .button-hero {
//         background-color: $secondary;
//         border: none;
//         box-shadow: none;
//         color: #fff;
//         text-decoration: none;
//         text-shadow: none;
//         font-size: 14px;
//         height: 46px;
//         line-height: 20px !important;
//         padding: 0 36px;

//         &:hover{
//             background-color: #339daf;
//             color: white;
//         }
//     }

// }
