/* theme color */
$--color-primary: teal;

/* icon font path, required */
//$--font-path: '../../../node_modules/element-theme-chalk/lib/fonts';

@import "../../../node_modules/element-ui/packages/theme-chalk/src/index";

body.tainacan-admin-page #adminmenumain {
    display: none;
}

#tainacan-admin-app {
    background: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    z-index: 99999999999;
    overflow-y: auto;
}