// Tainacan custom colors and bulma's core
@import "./_variables.scss";

// Import Bulma and Buefy styles
@import "../../assets/css/fonts/materialdesignicons.css";
@import "../../../node_modules/bulma/bulma.sass";
@import "../../../node_modules/buefy/src/scss/buefy.scss";

// Import Tainacan custom styles
@import "../scss/_tainacan-form.scss";
@import "../scss/_buttons.scss";
@import "../scss/_selects.scss";
@import "../scss/_inputs.scss";
@import "../scss/_checkboxes.scss";
@import "../scss/_radios.scss";
@import "../scss/_switches.scss";
@import "../scss/_dropdown-and-autocomplete.scss";
@import "../scss/_tabs.scss";
@import "../scss/_tables.scss";
@import "../scss/_tooltips.scss";
@import "../scss/_pagination.scss";
@import "../scss/_modals.scss";
@import "../scss/_tags.scss";
@import "../scss/_notices.scss";
@import "../scss/_filters-menu-modal.scss";
@import "../scss/_repository-level-overrides.scss";

// Clears wordpress content
body.tainacan-admin-page #adminmenumain, body.tainacan-admin-page #wpfooter, body.tainacan-admin-page #wp-auth-check-wrap {
    display: none;
}
html {
    overflow-y: hidden;
}
#tainacan-admin-app {
    background: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    z-index: 999999;
    overflow-y: auto;
    margin: 0px !important; 
    font-family: $family-sans-serif;
}

// Link (hover is the same color as secondary
a:hover {
    color: $secondary;
    text-decoration: underline;
}
.add-link {
    display: inline;
    font-size: 0.75rem; 
    &.disabled {
        pointer-events: none;
        cursor: default;
        color: $gray2 !important;

        .icon {
            color: $gray2 !important;
        }
    }
}

// Generic page container
.page-container {
    padding: $page-top-padding $page-side-padding;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}
// Used for pages with collection subheader
.page-container-small {
    height: calc(100% - 42px);
    overflow-y: auto;
    transition: height 0.6s;
}
// Used for pages with subheader in mobile
.page-container-narrow{
    padding: $page-small-top-padding $page-small-side-padding;
    
    @media screen and (max-width: 769px) {
        padding: $page-mobile-top-padding $page-mobile-side-padding;
    }
}

// Buefy notices (toast, snackbar...)
.notices {
    z-index: 99999999999999 !important;
}

audio, video {
    width: 100%;
}
