/* theme color */
$--color-primary:#25a189;
$--color-secondary: #01295c;

/* icon font path, required */
//$--font-path: '../../assets/css/fonts/material-icons.css';

.el-select-dropdown, .el-popper {
    z-index: 9999999 !important;
}

.el-loading-mask{
    z-index: 99999999 !important;
}

@import "../../assets/css/fonts/material-icons.css";
@import "../../../node_modules/element-ui/packages/theme-chalk/src/index";

body.tainacan-admin-page #adminmenumain {
    display: none;
}

#tainacan-admin-app {
    background: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    z-index: 999999;
    overflow-y: auto;
}