// Tainacan custom colors and bulma's core
@import "./_variables.scss";

// Import Bulma and Buefy styles
@import "../../assets/css/fonts/materialdesignicons.css";
@import "../../../node_modules/bulma/bulma.sass";
@import "../../../node_modules/buefy/src/scss/buefy.scss";

// Roboto font
$family-sans-serif: 'Roboto', sans-serif;

// Clears wordpress content
body.tainacan-admin-page #adminmenumain, body.tainacan-admin-page #wpfooter, body.tainacan-admin-page #wp-auth-check-wrap {
    display: none;
}
html {
    overflow-y: hidden;
}

#tainacan-admin-app {
    background: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    z-index: 999999;
    overflow-y: auto;
    height: 100%;
    margin: 0px !important; 
    font-family: $family-sans-serif;
}

/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

.primary-page {
    margin-top: $header-height; 
    height: $page-height !important;
}
.page-container{
    padding: $page-top-padding $page-side-padding;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    
    @media screen and (max-width: 769px) {
        padding: $page-mobile-top-padding $page-mobile-side-padding;
    }
}
.page-container-small{
    padding: $page-small-top-padding $page-small-side-padding;
    height: 100%;
    overflow-y: auto;

    @media screen and (max-width: 769px) {
        padding: $page-mobile-top-padding $page-mobile-side-padding;
    }
}

// Buefy notices (toast)
.notices {
    z-index: 99999999 !important;
}

// Input components used in forms are gray in Tainacan
.tainacan-form {
    .form-submit {
        justify-content: space-between !important;
        padding: 1em 1.2em 0.4em 1.2em;
        margin-bottom: 0px;
        .button {
            padding: 2px 30px !important;
        }
        .button.is-outlined {
            color: $tertiary;
        }
    }
    .label { 
        font-weight: normal;
        font-size: 14px; 
    }
    .required-field-asterisk {
        color: $gray;
        &.is-danger {
            color: $danger;
        }
    }
    .help-button {
        i { font-size: 0.7em; }
        color: $gray;
        &:hover {
            color: $primary;
        }
    }
    .input, .textarea {
        font-size: 14px;
        border: none;
        border-radius: 1px !important;
        background-color: $tainacan-input-color;
        color: black;
        box-shadow: none;

        &.is-danger {
          background-color: #ece0e0;  
        }
    }
    .radio {
        margin-bottom: 0.2em;
        .control-label { 
            padding-left: 0.8em; 
            font-size: 14px;
        }
        
    }
    .checkbox {
        margin-bottom: 0.2em;
        .control-label { 
            padding-left: 0.8em; 
            font-size: 14px;
        }
        
    }
    .select {
        padding-top: 0px !important;
        select {
            font-size: 14px;
            border: none;
            border-radius: 1px !important;
            font-weight: normal;
            height: 30px !important;
            padding: 2px 25px 2px 15px!important;
            margin-top: 0px !important;
            margin-bottom: 0px !important;
            background-color: $tainacan-input-color;
            color: black;
            &:focus>option:checked, &:focus>option:hover {
                background-color: $primary-lighter !important;
            }
        }
        &:not(.is-multiple)::after {
            content: "\F35D" !important;
            font: normal normal normal 24px/1 "Material Design Icons" !important;
            border: none !important;
            transform: none;
            margin-top: -0.6em;
            right: 0.95em;
            color: $primary;
        }       
    }
}

// Some components have a different style in listing pages
.button {
    border-radius: 6px !important;
    font-weight: normal;
    height: 30px !important;
    padding: 2px 15px !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}
.select {
    padding-top: 0px !important;
    select {
        border: none;
        border-radius: 6px !important;
        font-weight: normal;
        height: 30px !important;
        padding: 2px 25px 2px 15px!important;
        margin-top: 0px !important;
        margin-bottom: 0px !important;
        &:focus>option:checked, &:focus>option:hover {
            background-color: $primary-lighter !important;
        }
    }
    &:not(.is-multiple)::after {
        content: "\F35D" !important;
        font: normal normal normal 24px/1 "Material Design Icons" !important;
        border: none !important;
        transform: none;
        margin-top: -0.6em;
        right: 0.95em;
        color: $primary;
    }       
}
.dropdown {
    .dropdown-trigger{
        .button {
            border: none;
        }
        .icon {
            color: $primary;
        }
    }
    .dropdown-menu {
        top: 26px;
        .dropdown-item {
            .b-checkbox { width: 100% };
            &:hover {
                background-color: $primary-lighter;
            }
        }
    }
}
.switch {
    .control-label{
        color: black;
    }
    input[type="checkbox"] + .check {
        background-color: transparent;
        border: 1.6px solid $gray;

        &::before {
            background-color: $gray;
            box-shadow: none;
        }
    } 
    &:hover input[type="checkbox"]:checked + .check {
        background-color: $primary-light;
    }

    input[type="checkbox"]:checked + .check {
        border: 1.6px solid $secondary;
        background-color: transparent;

        &::before {
            background-color: $secondary;
            transform: translate3d(83%, 0, 0);
        }
    }
    &:hover input[type="checkbox"] + .check {
        background-color: $tainacan-input-color;
    }

    &:focus input[type="checkbox"] + .check,
    &:focus input[type="checkbox"]:checked + .check {
        box-shadow: none;
    }

    &.is-small {
        font-size: 10px;

        input[type="checkbox"] + .check {
            border: 1.4px solid $gray;

            &::before {
                width: 1.05em;
                height: 1.05em;
            }
        }
        input[type="checkbox"]:checked + .check {
            border: 1.5px solid $secondary;

            &::before {
                transform: translate3d(93%, 0, 0);
            }
        }
    }

}


// Tables
.table {
    tbody {
        td { border-bottom: 0px solid $gray-light !important; }
    }
    .b-checkbox.checkbox input[type="checkbox"] + .check {
        width: 0.85em !important;
        height: 0.85em !important;
        border-radius: 2px !important;
        border: 1px solid #7a7a7a !important;
    }
    .th-wrap {
        font-size: 0.85em !important;
        font-weight: normal !important;
    }
}
.table-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.85em !important;
    font-weight: normal !important;
    border-top: 1px solid $gray-light;
    padding: 0.85em 1.0em;
    color: $gray-light;

    .shown-items { 
        flex-grow: 1; 
    }

    .items-per-page { 
        flex-grow: 3;
        margin-top: 0.35em;
        .field-label {
            flex-grow: 5;
            margin-right: 0.5em;
            .label {
                font-size: 1em !important;
                font-weight: normal !important;
                color: $gray-light;
            }
        }
        select {
            font-size: 0.85em;
        } 
    }

    .pagination { 
        flex-grow: 1; 
    }
}