button.link-style,
button.link-style:focus
button.link-style:active {
    border: none;
    outline: none;
    cursor: pointer;
    font-size: inherit;
    text-transform: inherit;
    color: var(--tainacan-secondary);
    padding: 0;
    margin: 0;
    font-weight: normal;
    background: transparent;

    &:hover {
        text-decoration: underline;
    }
}
.button {
    border-radius: 6px !important;
    font-weight: normal;
    text-transform: inherit;
    font-family: inherit;
    padding: 2px 13px !important;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    height: inherit !important;
    box-shadow: none !important;
    display: inline-flex !important;
    cursor: pointer;
    background-color: var(--tainacan-white);
    text-shadow: none !important;

    &.is-secondary, &.is-secondary:hover, &.is-secondary:focus {
        background: var(--tainacan-secondary) !important;
        color: var(--tainacan-white) !important;
    }
    &.is-primary, &:hover, &.is-primary:focus {
        background: var(--tainacan-turquoise2) !important;
        color: var(--tainacan-white) !important;
    }
    &.is-success, &.is-success:hover, &.is-success:focus {
        background: var(--tainacan-success) !important;
        color: var(--tainacan-white) !important;
    }
    &.is-white, &.is-white:hover, &.is-white:focus, &.is-outlined:hover, &.is-outlined:focus {
        background-color: transparent !important;
    }
    &:active {
        -webkit-transform: none !important;
        transform: none !important;
    }
    &.is-outlined {
        color: var(--tainacan-secondary);
        background-color: transparent !important;
        border-color: var(--tainacan-input-color) !important;
    }
    &.is-outlined:hover {
        color: var(--tainacan-secondary) !important;
    }
    &:focus {
        outline: 0px;
    }
    &[disabled], &:hover[disabled] {
        border: none !important;
        cursor: not-allowed !important;
        color: var(--tainacan-info-color) !important;
        background-color: var(--tainacan-gray2) !important;
        text-shadow: none !important;
    }
    &.is-outlined[disabled], &.is-outlined:hover[disabled] {
        border: 1px solid var(--tainacan-gray2) !important;
        color: var(--tainacan-info-color) !important;
        background-color: var(--tainacan-white) !important;
    }
    &.is-white[disabled] {
        background-color: transparent !important;
        opacity: 0.85;
    }
}
.button.is-small {
    height: 1.625em !important;
    line-height: 0.75em;
}
.button:not(.is-small):not(.is-medium):not(.is-large) {
    height: 1.875em !important;
    font-size: 0.875em !important;
    line-height: 1.5em;
}