@mixin tainacan-filters-menu-modal {
    #filters-modal { 
        padding: 0;

        &.is-fullscreen {
            z-index: 9999;
        }

        .modal-content {
            background-color: var(--tainacan-background-color);
            padding: 20px var(--tainacan-one-column);
            margin: 0;
            height: 100%;
            max-height: 100%;
            max-width: 100% !important;
            border-radius: 0;
            border: none;
            box-sizing: border-box;

            h3 {
                font-size: 1em;
                padding-top: 0;
                color: var(--tainacan-heading-color);
                margin-bottom: 1em;
            }
        }

        .modal-close {
            top: 32px;
            inset-inline-end: calc((2 * var(--tainacan-one-column)) + 28px);
            background-color: var(--tainacan-background-color);

            &::before, &::after {
                background-color: var(--tainacan-secondary);
            }
        }

        &.horizontal-filters {
            .modal-content {
                padding-inline-start: calc(var(--tainacan-container-padding) - 12px);
                padding-inline-end: var(--tainacan-one-column);
                padding-block-start: var(--tainacan-container-padding);
                padding-block-end: var(--tainacan-one-column);
            }
        }

        @media screen and (max-width: 768px) {

            &.modal:not(.filters-menu-modal) {
                .modal-content {
                    background-color: var(--tainacan-background-color);
                    margin-block: 0;
                    margin-inline-start: 0;
                    margin-inline-end: 12%;
                    margin-inline-end: 12vw;
                    padding: var(--tainacan-container-padding);
                    max-width: calc(100% - 12vw) !important;
                }
                .modal-close {
                    top: 16px;
                }
            }
            &.filters-menu-modal {
                .modal-close {
                    inset-inline-end: 12px;
                    box-shadow: 0 0 11px -6px var(--tainacan-black, #000);
                }
            }
        }
    }
}