.notices {
    z-index: 99999999;    

    .toast, .snackbar {
        font-size: 0.75em;
        border-radius: 8px;
        box-shadow: none;

        &.is-dark {
            background-color: var(--tainacan-gray2);
            color: var(--tainacan-info-color);
        }
        &.is-warning {
            background-color: var(--tainacan-yellow1);
            color: var(--tainacan-warning);
        }
        &.is-danger {
            background-color: var(--tainacan-red1);
            color: var(--tainacan-danger);
        }
        &.is-success {
            background-color: var(--tainacan-green1);
            color: var(--tainacan-success);
        }
    }
}