.b-radio.radio {

    input[type="radio"] + .check {
        width: 13px !important;
        height: 13px !important;
        border: 1px solid $gray4 !important;    
    }
    input[type="radio"] + .check::before {
        background: black !important;
        width: 15px !important;
        height: 15px !important;
        margin-left: calc(-16px/2) !important;
        margin-bottom: calc(-16px/2) !important;
    }
    &:focus input[type="radio"] + .check,
    &:active input[type="radio"] + .check,
    &:hover input[type="radio"] + .check {
        box-shadow: none !important;
    }
    input[type="radio"]:checked + .check {
        border-color: $gray4 !important;
    }
    &:focus input[type="radio"]:checked + .check {
        box-shadow: none !important;
    }

}
