.b-radio.radio {

    input[type="radio"] + .check {
        width: 0.755em !important;
        height: 0.755em !important;
        border: 1px solid var(--tainacan-gray4) !important;    
    }
    input[type="radio"] + .check::before {
        background: var(--tainacan-black) !important;
        width: calc(0.755em + 1px) !important;
        height: calc(0.755em + 1px) !important;
        margin-left: calc(-1* (0.75em + 1px)/2) !important;
        margin-bottom: calc(-1* (0.75em + 1px)/2) !important;
    }
    &:focus input[type="radio"] + .check,
    &:active input[type="radio"] + .check,
    &:hover input[type="radio"] + .check {
        box-shadow: none !important;
    }
    input[type="radio"]:checked + .check {
        border-color: var(--tainacan-gray4) !important;
    }
    &:focus input[type="radio"]:checked + .check {
        box-shadow: none !important;
    }

}
