.b-radio.radio {
    input[type="radio"] + .check {
        border-width: 1px !important;
        border-color: var(--tainacan-input-color) !important;
    }
    input[type="radio"] + .check::before {
        background-color: var(--tainacan-input-color) !important;
    }
    & input[type="radio"] + .check,
    &:focus input[type="radio"] + .check,
    &:active input[type="radio"] + .check,
    &:hover input[type="radio"] + .check,
    &:focus input[type="radio"]:checked + .check,
    &:hover input[type="radio"]:checked + .check,
    &:active input[type="radio"]:checked + .check,
    & input[type="radio"]:checked + .check,
    &:focus input[type="radio"] + .check::before,
    &:active input[type="radio"] + .check::before,
    &:hover input[type="radio"] + .check::before,
    & input[type="radio"]:checked + .check::before,
    &:focus input[type="radio"]:checked + .check::before,
    &:hover input[type="radio"]:checked + .check::before,
    &:active input[type="radio"]:checked + .check::before {
        box-shadow: none !important;
    }
}
