// Repository-level colors
// This garantees that any component inside a .tainacan-repository-level-colors
// will have a blue color instead of a turquoise.
.tainacan-repository-level-colors {
    --tainacan-secondary: var(--tainacan-blue4);
    --tainacan-primary: var(--tainacan-blue1);
}
.v-popper--theme-tooltip.tainacan-repository-tooltip {
    --tainacan-primary: var(--tainacan-blue1);
    --tainacan-secondary: var(--tainacan-blue5);

    .metadata-type-preview {
        // background-color: var(--tainacan-blue1) !important;
        .metadata-type-label {
            color: var(--tainacan-blue5) !important;
        }
        .autocomplete>.control, .autocomplete>.control>input, .dropdown-content {
            background-color: #f9fcff !important;
        }
        &::before {
            border-color: transparent transparent transparent var(--tainacan-blue1) !important;
        }
    }
}
.v-popper--theme-tooltip.tainacan-repository-header-tooltip {
    --tainacan-primary: var(--tainacan-blue4);
    --tainacan-info-color: var(--tainacan-white);
}
