
.switch {
    input[type="checkbox"] + .check {
        background-color: white;
        border: 2px solid $gray4;
        width: 2.7em;
        height: 1.7em;
        transition: none;

        &::before {
            background-color: $gray4;
            box-shadow: none;
        }
    } 
    &:hover input[type="checkbox"]:checked + .check {
        background-color: transparent;
    }

    input[type="checkbox"]:checked + .check {
        border: 2px solid $secondary;
        background-color: transparent;

        &::before {
            background-color: $secondary;
            transform: translate3d(78%, 0, 0);
        }
    }
    &:hover input[type="checkbox"] + .check {
        // background-color: $gray4;
        background-color: white;
    }

    &:focus input[type="checkbox"] + .check,
    &:focus input[type="checkbox"]:checked + .check {
        box-shadow: none !important;
    }

    &.is-small {
        font-size: 0.5rem;

        input[type="checkbox"] + .check {
            border: 1.5px solid $gray4;
            width: 2.55em;
            height: 1.7em;

            &::before {
                width: 1.0em;
                height: 1.0em;
            }
        }
        input[type="checkbox"]:checked + .check {
            border: 1.5px solid $secondary;

            &::before {
                transform: translate3d(84%, 0, 0);
            }
        }
    }
}