// Tabs 
.tabs {
    font-size: 1em;
    font-family: var(--tainacan-font-family, inherit);

    ul {
        border-bottom-color: var(--tainacan-input-border-color);
        margin-bottom: 0;
    }
    li {
        overflow-y: hidden;
        margin: 0;
        padding: 0;
    }
    a {
        font-size: 0.8125em;
        color: var(--tainacan-black) !important;
        padding: 0.5em 1.45em;
        border-bottom: 4px solid transparent;
        transition: border-bottom-color ease 0.3s;
        cursor: pointer !important;

        &:hover{
            border-bottom-color: transparent;
            text-decoration: none;
        }
    }
    li.is-active a {
        border-bottom-color: var(--tainacan-secondary);
        color: var(--tainacan-black) !important;
    }
    .icon:first-child {
        margin-right: 0.2em;
        margin-left: -3px;
    }
}
.b-tabs {
    .tab-content {         
        padding: 0.75em;
    }
    .tabs a,
    .tabs a:hover,
    .tabs a:hover:not([href]) {
        text-decoration: none;
    }
    @media screen and (max-width: 769px) {
        .tab-content {         
            padding-left: 0.5em;
            padding-right: 00.5em;
        }
    }
}