.tags {
    border: solid 1px var(--tainacan-input-border-color) !important;
    border-radius: 20px;
    flex-wrap: nowrap;
    margin-bottom: 0.375em !important;
    margin-right: 0.375em;
    max-width: 100%;
    overflow: hidden;
    transition: all 0.2s ease;
    animation-name: appear;
    animation-duration: 0.3s;

    .tag {
        background-color: var(--tainacan-white);
        margin-bottom: 0 !important;
        margin-right: 4px !important;
        max-width: calc(100% - 21px);
        justify-content: flex-start;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        animation-name: appear;
        animation-duration: 0.3s;

        &.is-delete, 
        &.is-delete:hover, 
        &.is-delete:focus, 
        &.is-delete:active {
            border-radius: 50px !important;
            border-radius: 50px !important;
            margin-right: 0px !important;
            color: var(--tainacan-info-color);
            background-color: var(--tainacan-white);
            transition: border-width 0.15s linear, background-color 0.15s linear;

            &:after,
            &:before {
                transition: transform 0.15s linear;
            }

            &:hover,
            &:focus {
                border: solid 1px var(--tainacan-gray3) !important;
                background-color: var(--tainacan-input-border-color);
                color: var(--tainacan-heading-color);

                &:after {
                    transform: translateX(-50%) translateY(-50%) rotate(45deg) scale(1.15);
                }
                &:before {
                    transform: translateX(-50%) translateY(-50%) rotate(45deg) scale(1.15);
                }
            }
        }
    }
}