// These tooltips are customized versions of V-Tooltip 
.v-popper--theme-tooltip.tainacan-tooltip {
    font-size: 0.6875em;
    font-family: var(--tainacan-font-family, inherit);
    z-index: 999999999;
    max-width: 340px;
    max-height: 90vh;
    overflow-y: auto;
    overflow-x: hidden;

    .v-popper__arrow-container {
        visibility: hidden;
        display: none;
    }

    .v-popper__inner {
        background: var(--tainacan-primary);
        color: var(--tainacan-info-color);
        padding: 8px 12px;
        border-radius: 2px;
        box-shadow: 0 0 8px -6px rgba(0, 0, 0, 0.25);
    }
    .v-popper__arrow-outer {
        border-color: var(--tainacan-primary);
    }

    &.tainacan-header-tooltip {
        .v-popper__inner {
            background: var(--tainacan-turquoise4);
            color: var(--tainacan-white);
        }
        .v-popper__arrow-outer {
            border-color: var(--tainacan-turquoise4);
        }
    }

    &.v-popper__popper--show-from .v-popper__wrapper {
        transform: scale(.5);
    }
    &.v-popper__popper--show-to .v-popper__wrapper {
        transform: none;
        transition: transform .15s;
    }
    &.v-popper__popper--hide-from .v-popper__wrapper {
        transform: none;
        transition: transform .15s;
    }
    &.v-popper__popper--hide-to .v-popper__wrapper {
        transform: scale(.5);
    }
      
    // Other types of tooltips
    &.metadata-type-preview-tooltip,
    &.tainacan-helper-tooltip {
        overflow-x: hidden;
        overflow-y: hidden;
    }
    &.tainacan-helper-tooltip .v-popper__inner {
        color: var(--tainacan-secondary);
        font-size: 1.25em;

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            font-weight: bold;
            margin-top: 0;
            margin-bottom: 0.25em;
        }
        a {
            text-decoration: underline;
        }
        p {
            margin-bottom: 0.25em;
            margin-top: 0;
        }
        ol,
        ul  {
            padding:0.05em 1.125em;
            margin: 0;
        }
    }
    &.is-danger {
        .v-popper__inner {
            background-color: var(--tainacan-red1);
            color: var(--tainacan-red2);
            a {
                color: var(--tainacan-red2);
            }
        }
        .v-popper__arrow-outer {
            border-color: var(--tainacan-red1);
        }
    }
    &.is-warning {
        .v-popper__inner {
            background-color: var(--tainacan-yellow1);
            color: var(--tainacan-yellow2);
            a {
                color: var(--tainacan-yellow2);
            }
        }
        .v-popper__arrow-outer {
            border-color: var(--tainacan-yellow1);
        }
    }
    &.metadata-type-preview-tooltip {
        .v-popper__inner {
            background: var(--tainacan-gray0);
            box-shadow: 0 0 8px -4px rgba(0, 0, 0, 0.3);
        }

        .metadata-type-preview {
            background: var(--tainacan-gray0);
            padding: 0px 8px;
            border-radius: 3px;
            width: 230px;
            min-height: 100px;
            display: flex;
            align-items: center;
            justify-content: center;
            pointer-events: none;
            cursor: none;
            flex-wrap: wrap;
            font-size: 1.25em;

            .metadata-type-label {
                font-weight: 600;
                color: var(--tainacan-turquoise4);
                width: 100%;
                font-size: 1em;
                margin-bottom: 6px;
                margin-left: -18px;
            }

            input, select, textarea, 
            .input, .tags, .tag  {
                pointer-events: none;
                cursor: none;
                background-color: rgba(255,255,255,0.60) !important;
            }
            .autocomplete>.control, .autocomplete>.control>input, .dropdown-content {
                background-color: #f7fcfd !important;
            }
            .taginput {
                margin-bottom: 100px;
            }
            input[type="checkbox"]:checked + .check  {
                background: rgba(255,255,255,0.60) url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1 1'%3E%3Cpath style='fill:rgb(69,70,71)' d='M 0.04038059,0.6267767 0.14644661,0.52071068 0.42928932,0.80355339 0.3232233,0.90961941 z M 0.21715729,0.80355339 0.85355339,0.16715729 0.95961941,0.2732233 0.3232233,0.90961941 z'%3E%3C/path%3E%3C/svg%3E") no-repeat center center !important
            }
            textarea {
                min-height: 70px;
            }
            .field {
                width: 100%;
                .label { 
                    color: var(--tainacan-info-color);
                    font-size: 0.875em;
                    line-height: 1.875em;
                }
            }
            .add-new-term,
            .collapse-all {
                font-size: 0.75em;
                text-decoration: underline;
                margin: 0.875em 1.5em;
            }
            .selected-tags {
                font-size: 0.75em;
            }
            .child-metadata-inputs {
                margin-left: 5px;
                padding-left: 16px;
                padding-top: 2px;
                border-left: 1px solid var(--tainacan-gray3);

                .is-last-input {
                    margin-top: -14px;
                    margin-bottom: 10px;
                }
            }
        }
    }

    // Metadata type textarea has different separators in different spots on interface
    & .multivalue-separator {
        color: var(--tainacan-info-color);
        margin: 0 8px;    
    }
    & .hierarchy-separator {
        color: var(--tainacan-info-color);
    }
    &.metadata-type-textarea,
    &.metadata-type-compound {
        .multivalue-separator {
            display: block;
            max-height: 1px;
            width: 35px;
            background: var(--tainacan-info-color);
            content: none;
            color: transparent;
            margin: 1em auto;
        }
    }
    
    .tainacan-compound-group {
        text-align: left;
        margin-left: 2px;
        padding-left: 0.875em;
        border-left: 1px solid var(--tainacan-gray2);

        .tainacan-compound-metadatum .label {
            text-align: left;
            margin-bottom: 0.25em;
            font-size: 1em !important;
            color: var(--tainacan-info-color);
        }
        .tainacan-compound-metadatum p {
            text-align: left;
            margin-bottom: 0.75em;
            font-size: 1em;
        }
        .multivalue-separator {
            display: block;
            max-height: 1px;
            width: 35px;
            background: var(--tainacan-gray2);
            content: none;
            color: transparent;
            margin: 1em auto 1em -0.875em;
        }
    }
    .tainacan-relationship-group {
        text-align: left;
        .tainacan-relationship-metadatum {
            text-align: left;
            .tainacan-relationship-metadatum-header {
                text-align: left;
                display: flex;
                align-items: center;
                img {
                    margin-right: 12px;
                    max-width: 28px !important;
                    max-height: 28px;
                }
                .label {
                    font-weight: normal;
                    font-size: 1em !important;
                    margin-top: 0;
                    margin-left: 0;
                    margin-bottom: 0;
                    margin-right: 0;
                }
            }
             .tainacan-metadatum {
                text-align: left;
                margin-left: 40px;
                .label {
                    color: var(--tainacan-gray4);
                    font-size: 1em !important;
                    line-height: 1em;
                    margin-top: 8px;
                    margin-bottom: 2px;
                }
                .tainacan-compound-group {
                    font-size: 1em;
                }
            }
        }
        &>.multivalue-separator {
            display: block;
            max-height: 1px;
            width: calc(100% - 40px);
            background: var(--tainacan-gray2);
            content: none;
            color: transparent;
            margin: 0.5em 0 0.5em 40px;
        }
    }
}

// Old help tooltip wrapper, still used by some extra form hooks
.help-wrapper {
    position: absolute;
    margin-top: -4px;
    margin-left: 4px;
    font-size: 1.125em;

    a.help-button .icon {
        i, i::before { font-size: 0.875em !important }
    }
    &:hover .help-tooltip {
        margin-bottom: 12px;
        margin-left: -37px;
        visibility: visible;
        opacity: 1; 
    }
    .help-tooltip {
        z-index: 99999999999999999999;
        background-color: var(--tainacan-primary);
        border: none;
        display: block;
        border-radius: 5px;
        min-width: 280px;
        max-width: 100%;
        transition: margin-bottom 0.2s ease, opacity 0.3s ease;
        position: absolute;
        bottom: calc(100% - 6px);
        left: 0%;            
        margin-bottom: -27px;
        visibility: hidden;
        opacity: 0;
        .help-tooltip-header {
            padding: 0.8em 0.8em 0em 0.8em;
            h5 {
                font-size: 0.875em !important;
                font-weight: bold;
                color: var(--tainacan-secondary);
                margin-bottom: 0;
                margin-top: 0;
                white-space: normal;
            }
        }
        .help-tooltip-body {
            padding: 0.5em 1.0em 1.0em 1.0em;
            p {
                margin: 0 0 0.125em 0;
                font-size: 0.875em !important;
                font-weight: normal !important;
                white-space: normal !important;
                overflow: visible !important;
                max-height: 100% !important;
                line-height: normal;
                color: var(--tainacan-secondary);
            }
        }
        &:before {
            content: "";
            display: block;
            position: absolute;
            left: 30px;
            width: 0;
            height: 0;
            border-style: solid;
        }
        &:before {
            border-color: var(--tainacan-primary) transparent transparent transparent;
            border-right-width: 15px;
            border-top-width: 12px;
            border-left-width: 15px;
            bottom: -15px;
        }
    }
}