// Import Bulma's core and variables
@import "../../../../node_modules/bulma/sass/utilities/initial-variables";
@import "../../../../node_modules/bulma/sass/utilities/functions";

// NEW TAINACAN CUSTOM COLORS ------------------
// Blue, used mainly for repository
$blue1: #e6f4ff;
$blue1-invert: findColorInvert($blue1);
$blue2: #cce3f2;
$blue2-invert: findColorInvert($blue2);
$blue3: #44638e;
$blue3-invert: findColorInvert($blue3);
$blue4: #284472;
$blue4-invert: findColorInvert($blue4);
$blue5: #01295c;
$blue5-invert: findColorInvert($blue5);

// Turquoise, used mainly for collection level
$turquoise1: #e6f6f8;
$turquoise1-invert: findColorInvert($turquoise1);
$turquoise2: #d9eced;
$turquoise2-invert: findColorInvert($turquoise2);
$turquoise3: #76c6cc;
$turquoise3-invert: findColorInvert($turquoise3);
$turquoise4: #4ea2ad;
$turquoise4-invert: findColorInvert($turquoise4);
$turquoise5: #298596;
$turquoise5-invert: findColorInvert($turquoise5);
$turquoise6: #226f7d;
$turquoise6-invert: findColorInvert($turquoise6);

// Gray, used mostly for information
$gray0: #f6f6f6;
$gray0-invert: findColorInvert($gray0);
$gray1: #f2f2f2;
$gray1-invert: findColorInvert($gray1);
$gray2: #dbdbdb;
$gray2-invert: findColorInvert($gray2);
$gray3: #cbcbcb;
$gray3-invert: findColorInvert($gray3);
$gray4: #555758;
$gray4-invert: findColorInvert($gray4);
$gray5: #454647;
$gray5-invert: findColorInvert($gray5);

// Red, used for error messages
$red1: #eadadc;
$red1-invert: findColorInvert($red1);
$red2: #a23939;
$red2-invert: findColorInvert($red2);
// Green, used for success buttons
$green1: #daece6;
$green1-invert: findColorInvert($green1);
$green2: #25a189;
$green2-invert: findColorInvert($green2);
// Warning, used for warning messages
$yellow1: #fcebd9;
$yellow1-invert: findColorInvert($yellow1);
$yellow2: #e69810;
$yellow2-invert: findColorInvert($yellow2);

// Text, no quite black
$tainacan-input-color: #1d1d1d;
$tainacan-input-color-invert: findColorInvert($tainacan-input-color);

// Skeleton colors
$skeleton-color: #eeeeee;
$skeleton-color-invert: findColorInvert(#eeeeee);

// Maps some of bulma's colors to custom variables
$primary: $turquoise2;
$primary-invert: findColorInvert($turquoise2);
$secondary: $turquoise5;
$secondary-invert: findColorInvert($turquoise5);
$success: $green2;
$success-invert: findColorInvert($success);
$danger: $red2; 
$danger-invert: findColorInvert($danger);
$warning: $yellow2;
$warning-invert: findColorInvert($warning);
$gray: $gray4;
$gray-invert: findColorInvert($gray4);
$white: white;
$white-invert: findColorInvert($white);
$black: black;
$black-invert: findColorInvert($black);

// Background, black and white
$foreground-color: $black;
$background-color: $white;

@import "../../../../node_modules/bulma/sass/utilities/derived-variables.sass";

// Setup $colors to use as bulma classes
$colors: (
    "white": ($white, $black),
    "black": ($black, $white),
    "light": ($light, $light-invert),
    "dark": ($dark, $dark-invert),
    "primary": ($turquoise3, $turquoise3-invert),
    "secondary": ($turquoise5, $turquoise5-invert),
    "info": ($info, $info-invert),
    "success": ($success, $success-invert),
    "warning": ($warning, $warning-invert),
    "danger": ($danger, $danger-invert)
);
$addColors: ( 
    "gray": ($gray4, $gray-invert),
    "blue1": ($blue1, $blue1-invert),
    "blue2": ($blue2, $blue2-invert),
    "blue3": ($blue3, $blue3-invert),
    "blue4": ($blue4, $blue4-invert),
    "blue5": ($blue5, $blue5-invert),
    "turquoise1": ($turquoise1, $turquoise1-invert),
    "turquoise2": ($turquoise2, $turquoise2-invert),
    "turquoise3": ($turquoise3, $turquoise3-invert),
    "turquoise4": ($turquoise4, $turquoise4-invert),
    "turquoise5": ($turquoise5, $turquoise5-invert),
    "gray1": ($gray1, $gray1-invert),
    "gray2": ($gray2, $gray2-invert),
    "gray3": ($gray3, $gray3-invert),
    "gray4": ($gray4, $gray4-invert),
    "gray5": ($gray5, $gray5-invert),
    "red1": ($red1, $red1-invert),
    "red2": ($red2, $red2-invert),
    "green1": ($green1, $green1-invert),
    "green2": ($green2, $green2-invert),
    "yellow1": ($yellow1, $yellow1-invert),
    "yellow2": ($yellow2, $yellow2-invert)
);
$colors: map-merge($colors, $addColors);

// Bulma Variables
$size-small: 0.875em; // 0.75em on Bulma.
$dropdown-mobile-breakpoint: $tablet;

// Tainacan Header, Filters and Page 
$header-height: 3.25em;
$subheader-height: 2.625em;
$filter-menu-width: 16.666666667%;
$filter-menu-width-theme: 20%;
$page-height: calc(100vh - 5.875em);

// Overall Pages padding:
$one-column: 4.166666667%;
$container-padding: 25px;

// Links
$link: $secondary;
$link-invert: $secondary;
$link-focus-border: $secondary; 

// Placeholder
$text-light: var(--tainacan-info-color);

// Table
$table-head-cell-color: var(--tainacan-info-color);
$table-head-cell-border-width: 0 0 1px !important;
$table-row-active-color: #e5e5e5;
$table-foot-cell-color: var(--tainacan-info-color);
$table-foot-cell-border-width: 1px 0 0 !important;
$table-cell-padding: 1.0em 0.75em;

// Roboto font
$family-sans-serif: 'Roboto', 'Source Sans', 'Helvetica', sans-serif;
$base-font-size: 1em;
 
// Bulma's modal (needs to be greather than tainacan-admin-app)
$modal-z: 9999999;

// Grid mixin for display: grid compatibility
@mixin display-grid {
    flex-wrap: wrap;
    display: flex;
    display: -ms-grid;
    display: grid;
}

// A copy of bootstrap's screen reader only class to be used for accessibility.
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

// Bulma icon sizes are rem, we use them as em
.icon {
    height: 1.5em;
    width: 1.5em;
}
.icon.is-small {
    height: 1em;
    width: 1em;
}
.icon.is-medium {
    height: 2em;
    width: 2em;
}
.icon.is-large {
    height: 3em;
    width: 3em;
}

@import './animations.scss';