.tainacan-leaflet-map-container {

    #tainacan-admin-view-mode-map {
        float: right;

        .geocoordinate-input-panel {
            /deep/ select {
                background-color: var(--tainacan-input-background-color);
            }
        }
    }

    .tainacan-records-container--map {
        left: 0;
        top: 0;
        position: relative;
        float: left;
        width: 25%;
        height: 60vh;
        overflow-y: auto;
        overflow-x: hidden;
        
        &>li {
            width: 100%;
            max-width: 100%;

            .tainacan-record {
                margin-bottom: 0.125rem;

                .tainacan-record-item-thumbnail,
                img {
                    max-width: 60px;
                }

                .media .list-metadata {
                    padding: 1rem;
                }
            }
        }
    }
}



