.tainacan-grid-container {
    min-height: 50vh;
    padding: 0;
    @include display-grid;
    grid-template-columns: repeat(auto-fill, 285px);
    grid-gap: 0px;
    justify-content: space-evenly;
    animation-name: appear;
    animation-duration: 0.5s;

    .selected-grid-item {
        background-color: var(--tainacan-turquoise1);
    }

    .tainacan-grid-item {
        background-color: var(--tainacan-item-background-color);
        max-width: 255px;
        min-height: 300px;
        max-height: 300px;
        flex-basis: 0;
        margin: 15px;
        text-align: center;
        transition: background-color 0.2s ease;

        &:hover {
            background-color: var(--tainacan-item-heading-hover-background-color);
        }

        .grid-item-checkbox {
            position: absolute;
            margin-top: 9px;
            margin-left: 1em;
        }
        .actions-area {
            position: relative;
            float: right;
            width: 100%;
            height: 0px;
            display: flex;
            justify-content: flex-end;
            visibility: hidden;
            overflow: hidden;
            opacity: 0;
            padding: 3px 8px;
            margin-top: 0px;
            background-color: var(--tainacan-item-heading-hover-background-color);
            transition: visibility 0.2s ease, opacity 0.2s ease, height 0.2s ease, margin-top 0.2s ease;

            a {
                margin-left: 12px;
                opacity: 0;
                transition: opacity 0.3s ease-in;
            }
        }
        &:hover .actions-area { 
            visibility: visible;
            opacity: 1.0;
            height: 32px;
            margin-top: -30px;
            background-color: var(--tainacan-item-heading-hover-background-color) !important;

            a {
                opacity: 1;
            }
        }

        .grid-item-thumbnail {
            width: 255px;
            height: 255px;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            margin: 0;
            display: block;
            position: relative;

            .skeleton {
                width: 255px;
                height: 255px;
                position: absolute;
                z-index: -1;
                background-color: var(--tainacan-skeleton-color);
                bottom: 0;
            }
            
            img {
                width: 255px;
                height: 255px;
                height: auto;
                border-radius: 0px;
                margin-bottom: -5px;
                visibility: hidden;
            }
        }
        
        .metadata-title {
            flex-shrink: 0;
            margin: 6px;
            padding: 6px 1em;
            min-height: 30px;
            cursor: pointer;

            p { 
                font-size: 0.875em; 
                text-overflow: ellipsis;
                white-space: nowrap; 
                overflow: hidden;
                text-align: left;
                color: var(--tainacan-heading-color);
            }
        } 
    
    }
}


