.tainacan-masonry-container {
    min-height: 50vh;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-shrink: 1;
    justify-content: space-evenly;
    animation-name: appear;   
    animation-duration: 0.5s;

    .tainacan-masonry-item {
        display: block;
        width: 100%;
        flex-basis: 0;
        margin-bottom: var(--tainacan-container-padding);
        text-align: center;
        text-decoration: none;
        transition: background-color 0.2s ease;

        &:hover:not(.skeleton) {
            background-color: var(--tainacan-item-heading-hover-background-color);
        }
        &.selected-masonry-item:not(.skeleton) {
            background-color: var(--tainacan-turquoise1);
        }
        &:not(.skeleton) { 
            background-color: var(--tainacan-item-background-color);
        }

        .masonry-item-checkbox {
            position: absolute;
            margin-top: 8px;
            margin-left: 1em;
            z-index: 9;
        }
        .actions-area {
            position: relative;
            float: right;
            width: 100%;
            height: 0px;
            display: flex;
            justify-content: flex-end;
            visibility: hidden;
            overflow: hidden;
            opacity: 0;
            padding: 2px 8px;
            transition: visibility 0.2s, opacity 0.2s;
            margin-top: 0px;
            background-color: var(--tainacan-item-heading-hover-background-color);
            transition: visibility 0.2s ease, opacity 0.2s ease, height 0.2s ease, margin-top 0.2s ease;

            a {
                margin-left: 12px;
                opacity: 0;
                transition: opacity 0.3s ease-in;
            }
        }
        &:hover .actions-area { 
            visibility: visible;
            opacity: 1.0;
            height: 32px;
            margin-top: -30px;
            background-color: var(--tainacan-item-heading-hover-background-color);

            a {
                opacity: 1;
            }
        }
        &.selected-masonry-item {
            .actions-area {
                background-color: var(--tainacan-turquoise1);
            }
        }

        .tainacan-masonry-item-thumbnail {
            background-size: cover;
            background-color: var(--tainacan-gray0);
            background-blend-mode: multiply;
            border-radius: 0px;
            // transition: background-color 0.3s;

            &:hover {
                cursor: pointer;
                // background-color: var(--tainacan-white);
            } 
        
            img {
                width: 100%;
                height: auto;    
                transition: height 0.2s ease;
                display: block;
            }
        }

        .metadata-title {
            flex-shrink: 0;
            margin: 0px 6px 0px 24px;
            padding: 8px 1em;
            min-height: 41px;
            cursor: pointer;
            position: relative;

            p { 
                font-size: 0.875em !important;
                color: var(--tainacan-heading-color) !important; 
                text-align: left !important;
                margin-bottom: 0 !important;
                line-height: 1.875em;
                word-break: break-word;
                margin: 0;
            }

            .slideshow-icon {
                color: var(--tainacan-info-color); 
                position: absolute;
                right: 7px;
                top: 9px;
                transform: scale(0.0);
                transition: transform 0.2s ease;
            }
            .icon:not(.slideshow-icon){
                float: left;
                margin-top: 1px;
            }
        } 
        &:hover,
        &:focus {
            .slideshow-icon {
                transform: scale(1.0);
            }
        }
    }
}


