.tainacan-cards-container {
    min-height: 50vh;
    padding: 0;
    height: auto !important;
    @include display-grid;
    -ms-grid-columns: 455px 455px;
    grid-template-columns: repeat(auto-fill, 455px);
    grid-gap: 0;
    justify-content: space-evenly;
    animation-name: appear;
    animation-duration: 0.5s;

    @media screen and (max-width: 480px) {    
        width: calc(100% - (2 * var(--tainacan-one-column)));  
        -ms-grid-columns: 100%;
        grid-template-columns: repeat(auto-fill, 100%);
    }

    .tainacan-card {
        background-color: var(--tainacan-item-background-color);
        padding: 0;
        flex-basis: 0;
        margin: 15px;
        max-width: 425px;
        min-width: 425px;
        min-height: 210px;
        max-height: 210px;
        cursor: pointer;
        text-decoration: none !important;
        transition: background-color 0.2s ease;

        &.selected-card {
            background-color: var(--tainacan-turquoise1);
            .metadata-title {
                background-color: var(--tainacan-turquoise2);
            }
        }

        @media screen and (max-width: 480px) {
            max-width: 100%;
            min-width: 100%;
            min-height: 171px;
            max-height: 171px;

            &.skeleton {
                width: 130px !important;
                height: 130px !important;
            }
            .card-thumbnail {
                width: 130px !important;
                height: 130px !important;
            }

            .media .list-metadata p.metadata-description {
                max-height: 9.125em !important;
            }
        }

        &:hover {
            background-color: var(--tainacan-item-hover-background-color) !important;
        }

        .card-checkbox {
            position: absolute;
            margin-left: 1.0em;
            margin-top: 7px;
            z-index: 9;
        }
        .actions-area {
            position: relative;
            float: right;
            top: calc(-1 * var(--tainacan-container-padding));
            bottom: 0;
            margin-bottom: -26px;
            padding-right: 12px;
            display: flex;
            justify-content: space-between;
            visibility: hidden;
            opacity: 0;
            transition: visibility 0.2s ease, opacity 0.3s ease, top 0.2s ease;

            a {
                opacity: 0;
                margin-left: 12px;
                transition: opacity 0.3s ease;
            }
        }
        &:hover .actions-area {
            visibility: visible;
            opacity: 1.0;
            top: calc(-1 * 0.5em - var(--tainacan-container-padding));

            a {
                opacity: 1;
            }
        }

        .card-line {
            height: 1px;
            background-color: var(--tainacan-item-heading-hover-background-color);
            margin-left: -44px;
            margin-right: -44px;
            opacity: 0;
            visibility: hidden;
        }
        /deep/ img,
        /deep/ canvas {
            width: 170px !important;
            height: 170px !important;
            border-radius: 0px;
            object-fit: cover;
            object-position: center;

            @media screen and (max-width: 480px) {
                width: 130px !important;
                height: 130px !important;
            }
        }
        .card-thumbnail {
            width: 170px;
            height: 170px;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            margin: 0;
        }
        &.skeleton {
            width: 170px;
            height: 170px;
            background-color: var(--tainacan-skeleton-color);
        }
        .metadata-title {
            flex-shrink: 0;
            padding: 0.6em 5em 0.5em 2.75em;
            min-height: 40px;
            position: relative;
            font-size: 1em !important; 
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            color: var(--tainacan-heading-color) !important;
            transition: background-color 0.3s ease;

            p {
                color: var(--tainacan-heading-color) !important;
                font-size: 0.875em !important; 
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                margin-top: 0;
                margin-bottom: 0;
            }
            .slideshow-icon {
                color: var(--tainacan-info-color); 
                position: absolute;
                right: 7px;
                top: 7px;
                transform: scale(0.0);
                transition: transform 0.2s ease;
            }
            .icon:not(.slideshow-icon) {
                float: left;
                margin-top: -1px;
            }
        }
        &:hover,
        &:focus {
            .metadata-title {
                background-color: var(--tainacan-item-heading-hover-background-color) !important;
                p { text-decoration: none !important; }
                .slideshow-icon {
                    transform: scale(1.0);
                }
            }
        }

        .media {
            width: 100%;
            display: flex;
            margin: 0 !important;

            .list-metadata {
                padding: 0.75em 1.375em;
                flex: 1;
                font-size: 1em;
                width: 100%;
                height: 170px;
                color: var(--tainacan-info-color);

                p.metadata-description {
                    font-size: 0.75em !important;
                    overflow: hidden;
                    margin-bottom: 1em;
                    max-height: 12.125em;
                }

                .metadata-author-creation {
                    font-size: 0.6875em !important;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                    margin-bottom: 0;
                }
   
            }
        }
    }

    &.hide-items-selection {
        .tainacan-card {
            &:hover { background-color: transparent !important; cursor: default; }
            .metadata-title { padding-left: 1.5em !important; margin-bottom: 0; }
            &:hover .metadata-title { background-color: transparent !important }
        }
    }
}


