.tainacan-slides-container {
    min-height: 50vh;
    padding: 0;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-shrink: 1;
    justify-content: space-evenly;
    animation-name: appear;
    animation-duration: 0.5s;

    .selected-slide {
        background-color: var(--tainacan-turquoise1);
        .metadata-title {
            background-color: var(--tainacan-turquoise2);
        }
    }

    .tainacan-slide {
        display: flex;
        flex-direction: column;    
        width: 100%;
        margin: var(--tainacan-container-padding) 0;
        max-height: calc(40vh + 2.5em);
        height: calc(40vh + 2.5em);
        
        @media screen and (max-width: 768px) {
            flex-wrap: wrap;
            max-height: 100%;
            height: 100%;
        }

        &:hover {
            background-color: var(--tainacan-item-hover-background-color) !important;
        }
        .item-heading {
            min-height: 2.5em;
        }
        .item-area {
            display: flex;
            width: 100%;
            max-height: 40vh;
            height: 40vh;
        }
        .slide-checkbox {
            position: absolute;
            margin-left: 1.0em;
            margin-top: 7px;
        }
        .actions-area {
            position: relative;
            float: right;
            top: calc(-1 * var(--tainacan-container-padding));
            padding-right: 12px;
            //width: 80px;
            display: flex;
            justify-content: space-between;
            visibility: hidden;
            opacity: 0;
            transition: visibility 0.2s, opacity 0.3s ease, top 0.2s ease;

            a {
                margin-left: 12px;
                opacity: 0;
                transition: opacity 0.3s ease;
            }
        }
        &:hover .actions-area {
            visibility: visible;
            opacity: 1.0;
            top: -7px;

            a {
                opacity: 1;
            }
        }

        .tainacan-slide-item {
            flex-shrink: 0;
            img {
                max-height: 40vh;
            }
        }
        .tainacan-slide-thumbnail {
            img {
                width: 120px;
                height: auto;
            }
        }
        .skeleton {
            width: 120px;
        }

        .metadata-title {
            flex-shrink: 0;
            padding: 0.5em 4.75em 0.5em 2.75em;
            margin-bottom: -27px;
            min-height: 40px;
            font-size: 0.875em !important; 
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            color: var(--tainacan-heading-color);
            transition: background-color 0.3s ease;

            p {
                line-height: 1.8;
                font-size: 1.0em !important; 
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                margin: 0;
                transition: background-color 0.3s;
            }
        }
        
        &:hover .metadata-title {
            background-color: var(---tainacan-item-heading-hover-background-color) !important;
        }

        .aside-item {
            max-height: 40vh;
            height: 40vh;
            width: 100%;
            position: relative;
            top: 0;
            overflow-y: auto;

            @media screen and (max-width: 768px) {
                flex-wrap: wrap;
                max-height: 100%;
                height: 100%;
            }

            .list-metadata {
                padding: 0 calc(2* var(--tainacan-container-padding)) 40px calc(2* var(--tainacan-container-padding));
                flex: 1;
                font-size: 1em;
                color: var(--tainacan-info-color);
                width: 100%;
                -moz-column-width: 250px;
                -moz-column-gap: 2em;
                -webkit-column-width: 250px;
                -webkit-column-gap: 2em;
                column-width: 250px;
                column-gap: 2em;

                &>span {
                    -webkit-column-break-inside: avoid;
                    page-break-inside: avoid;
                    break-inside: avoid;
                    display: block;

                    &>p {
                        break-inside: avoid;
                    }
                }
            
                .metadata-label {
                    margin: 0 0 0.5em 0;
                    font-size: 0.75em;
                    font-weight: 700;
                    color: var(--tainacan-info-color);
                }

                .metadata-value {
                    font-size: 0.75em;
                    margin-bottom: 1em;
                    color: var(--tainacan-info-color);
                }

                & span:last-of-type>.metadata-value {
                    margin-bottom: 0px;
                }
            }
        }
    }
    #tainacan-slide-container {
        padding: 12px var(--tainacan-one-column) 0 var(--tainacan-one-column);
        display: flex;
        flex-wrap: nowrap;
        overflow: hidden;
        flex-grow: 1;
        flex-shrink: 1;
        justify-content: space-evenly;
        animation-name: item-appear;
        animation-duration: 0.5s;
        margin: 0;
        width: 100%;

        .tainacan-icon {
            text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
        }

        .tainacan-slide-thumbnail {
            &.swiper-slide-active img {
                border-bottom: 4px solid var(--tainacan-secondary);
            }
            &:hover img{
                border-bottom: 4px solid var(--tainacan-gray2);
                cursor: pointer;
            }

            img {
                width: 100%;//85px;
                height: auto;
                border-radius: 0px;
                padding: 0 0 6px 0;
                border-bottom: 4px solid transparent; 
                transition: border-bottom 0.4s;
            }
        }
    }
    .swiper-button-page .icon {
        display: flex;
        i {
            width: 20px;
        }
    }
}


