.tainacan-records-container {
    min-height: 50vh;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-shrink: 1;
    justify-content: space-evenly;
    animation-name: appear;
    animation-duration: 0.5s;

    .tainacan-record {
        background-color: rgba(126, 126, 126, 0.05);
        padding: 0px;
        flex-basis: 0;
        margin: 0 auto 30px auto;
        width: 100%;
        max-width: 425px;
        min-height: 100px;
        cursor: pointer;
        text-decoration: none;
        display: block;
        transition: background-color 0.2s ease;

        &:hover {
            background-color: var(--tainacan-item-hover-background-color) !important;
        }
        &.selected-record {
            background-color: var(--tainacan-turquoise1);
            .metadata-title {
                background-color: var(--tainacan-turquoise2);
            }
        }    

        .record-checkbox {
            position: absolute;
            margin-left: 1.0em;
            margin-top: 7px;
            z-index: 9;
        }
        .actions-area {
            position: relative;
            float: right;
            top: calc(-1 * var(--tainacan-container-padding));
            bottom: 0;
            padding-right: 12px;
            //width: 80px;
            display: flex;
            justify-content: space-between;
            visibility: hidden;
            opacity: 0;
            transition: visibility 0.2s, opacity 0.3s ease, top 0.2s ease;

            a {
                margin-left: 12px;
                opacity: 0;
                transition: opacity 0.3s ease;
            }
        }
        &:hover .actions-area {
            visibility: visible;
            opacity: 1.0;
            top: -7px;

            a {
                opacity: 1;
            }
        }

        .record-line {
            height: 1px;
            background-color: var(--tainacan-item-heading-hover-background-color);
            margin-left: -44px;
            margin-right: -44px;
            opacity: 0;
            visibility: hidden;
        }
        .tainacan-record-thumbnail {
            float: right;
            margin: 0 0 var(--tainacan-container-padding) var(--tainacan-container-padding);
        }
        .tainacan-record-item-thumbnail,
        img {
            width: 120px;
            height: auto;
            border-radius: 0px;
            position: relative;
            z-index: 1;
        }
        .skeleton {
            width: 120px;
        }
        .metadata-title {
            flex-shrink: 0;
            padding: 0.5em 4.75em 0.5em 2.75em;
            margin-bottom: -25px;
            font-size: 1.0em !important; 
            min-height: 40px;
            position: relative;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            color: var(--tainacan-heading-color);
            transition: background-color 0.3s ease;

            p {
                line-height: 1.875em;
                font-size: 0.875em !important; 
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                margin: 0;
                transition: background-color 0.3s;
            }
            .slideshow-icon {
                color: var(--tainacan-info-color); 
                position: absolute;
                right: 7px;
                top: 7px;
                transform: scale(0.0);
                transition: transform 0.2s ease;
            }
        }
        &:hover,
        &:focus {
            .metadata-title {
                background-color: var(---tainacan-item-heading-hover-background-color) !important;
                p { text-decoration: none !important; }
                .slideshow-icon {
                    transform: scale(1.0);
                }
            }
            .media {
                background-color: var(--tainacan-item-hover-background-color) !important;
            }
        } 

        .media {
            width: 100%;
            display: flex;
            transition: background-color 0.2s ease;

            .list-metadata {
                padding: var(--tainacan-container-padding);
                flex: 1;
                font-size: 1em;
                color: var(--tainacan-info-color);
                overflow: hidden;
                width: 100%;
            
                .metadata-label {
                    margin: 0 0 0.5em 0;
                    font-size: 0.75em;
                    font-weight: 700;
                    color: var(--tainacan-info-color);
                }

                .metadata-value {
                    font-size: 0.75em;
                    margin-bottom: 1em;
                    color: var(--tainacan-info-color);
                }

                & span:last-of-type>.metadata-value {
                    margin-bottom: 0px;
                }
            }
        }
    
    
    }
}


