.tainacan-cards-container {
    min-height: 50vh;
    padding: 0;
    @include display-grid;
    -ms-grid-columns: 455px 455px;
    grid-template-columns: repeat(auto-fill, 455px);
    grid-gap: 0px;
    justify-content: space-evenly;
    animation-name: appear;
    animation-duration: 0.5s;

    @media screen and (max-width: 480px) {    
        width: 91.666666667%;  
        -ms-grid-columns: 100%;
        grid-template-columns: repeat(auto-fill, 100%);
    }

    .selected-card {
        background-color: var(--tainacan-turquoise1);
        .metadata-title {
            background-color: var(--tainacan-turquoise2);
        }
    }
    .tainacan-card {
        background-color: var(--tainacan-item-background-color);
        padding: 0px;
        flex-basis: 0;
        margin: 15px;
        max-width: 425px;
        min-width: 425px;
        min-height: 210px;
        max-height: 210px;
        cursor: pointer;
        text-decoration: none !important;
        transition: background-color 0.2s ease;

        @media screen and (max-width: 480px) {
            max-width: 100%;
            min-width: 100%;
            min-height: 171px;
            max-height: 171px;

            img {
                width: 130px !important;
                height: 130px !important;
            }
            .skeleton {
                width: 130px !important;
                height: 130px !important;
            }
            .card-thumbnail {
                width: 130px !important;
                height: 130px !important;
            }
        }

        &:hover {
            background-color: var(--tainacan-item-hover-background-color) !important;
        }

        .card-checkbox {
            position: absolute;
            margin-left: 1.0em;
            margin-top: 7px;
        }
        .actions-area {
            position: relative;
            float: right;
            top: -25px;
            padding-right: 12px;
            display: flex;
            justify-content: space-between;
            visibility: hidden;
            opacity: 0;
            transition: visibility 0.2s ease, opacity 0.3s ease, top 0.2s ease;

            a {
                opacity: 0;
                margin-left: 12px;
                transition: opacity 0.3s ease;
            }
        }
        &:hover .actions-area {
            visibility: visible;
            opacity: 1.0;
            top: -7px;

            a {
                opacity: 1;
            }
        }

        .card-line {
            height: 1px;
            background-color: var(--tainacan-item-heading-hover-background-color);
            margin-left: -44px;
            margin-right: -44px;
            opacity: 0;
            visibility: hidden;
        }
        img {
            width: 170px;
            height: 170px;
            border-radius: 0px;
            visibility: hidden;
        }
        .card-thumbnail {
            width: 170px;
            height: 170px;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            margin: 0;
        }
        .skeleton {
            width: 170px;
            height: 170px;
            position: absolute;
            z-index: -1;
            background-color: var(--tainacan-skeleton-color);
        }
        .metadata-title {
            flex-shrink: 0;
            padding: 0.6em 5em 0.5em 2.75em;
            margin-bottom: -26px;
            min-height: 40px;
            font-size: 1em !important; 
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            color: var(--tainacan-heading-color) !important;
            transition: background-color 0.3s ease;

            p {
                color: var(--tainacan-heading-color) !important;
                font-size: 0.875em !important; 
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                margin-top: 0;
                margin-bottom: 0;
            }
        }
        &:hover .metadata-title {
            background-color: var(--tainacan-item-heading-hover-background-color) !important;
            p { text-decoration: none !important; }
        }

        .media {
            width: 100%;
            display: flex;
            margin: 0 !important;

            .list-metadata {
                padding: 0.75em 1.375em;
                flex: 1;
                font-size: 1em;
                width: 100%;
                height: 170px;
                color: var(--tainacan-info-color);

                p.metadata-description {
                    font-size: 0.75em !important;
                    overflow: hidden;
                    margin-bottom: 1em;
                    max-height: 152px;
                }

                .metadata-author-creation {
                    font-size: 0.6875em !important;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    overflow: hidden;
                    margin-bottom: 0;
                }
   
            }
        }
    
    
    }
}


