.tainacan-masonry-container {
    min-height: 50vh;
    margin-left: 25px;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-shrink: 1;
    justify-content: space-evenly;
    list-style: none;
    animation-name: appear;   
    animation-duration: 0.5s;
    
    &:not(.tainacan-masonry-container--legacy){
        &>li,
        &>.tainacan-masonry-grid-sizer {
            list-style-type: none;
            width: calc(14.285% - 25px);

            @media screen and (max-width: 2560px) {
                width: calc(16.666% - 25px);
            }
            @media screen and (max-width: 1920px) {
                width: calc(20% - 25px);
            }
            @media screen and (max-width: 1740px) {
                width: calc(25% - 25px);
            }
            @media screen and (max-width: 1440px) {
                width: calc(33.333% - 25px);
            }
            @media screen and (max-width: 1024px) {
                width: calc(50% - 25px);
            }
            @media screen and (max-width: 620px) {
                width: calc(100% - 25px);
            }
        }
    }
    &.tainacan-masonry-container--legacy {
        &>li,
        &>.tainacan-masonry-grid-sizer {
            list-style-type: none;
            width: calc(14.285% - 25px);
    
            @media screen and (max-width: 1920px) {
                width: calc(16.666% - 25px);
            }
            @media screen and (max-width: 1440px) {
                width: calc(20% - 25px);
            }
            @media screen and (max-width: 1360px) {
                width: calc(25% - 25px);
            }
            @media screen and (max-width: 1024px) {
                width: calc(33.333% - 25px);
            }
            @media screen and (max-width: 768px) {
                width: calc(50% - 25px);
            }
        }
    }
    .tainacan-masonry-item {
        display: block;
        width: 100%;
        flex-basis: 0;
        margin-bottom: var(--tainacan-container-padding);
        text-align: center;
        text-decoration: none;
        transition: background-color 0.2s ease;

        &:hover:not(.skeleton) {
            background-color: var(--tainacan-item-heading-hover-background-color);
        }
        &.selected-masonry-item:not(.skeleton) {
            background-color: var(--tainacan-turquoise1);
        }
        &:not(.skeleton) { 
            background-color: var(--tainacan-item-background-color);
        }

        .masonry-item-checkbox {
            position: absolute;
            margin-top: 8px;
            margin-left: 1em;
            z-index: 9;
        }
        .actions-area {
            position: relative;
            float: right;
            width: 100%;
            height: 0px;
            display: flex;
            justify-content: flex-end;
            visibility: hidden;
            overflow: hidden;
            opacity: 0;
            padding: 2px 8px;
            transition: visibility 0.2s, opacity 0.2s;
            margin-top: 0px;
            background-color: var(--tainacan-item-heading-hover-background-color);
            transition: visibility 0.2s ease, opacity 0.2s ease, height 0.2s ease, margin-top 0.2s ease;

            a {
                margin-left: 12px;
                opacity: 0;
                transition: opacity 0.3s ease-in;
            }
        }
        &:hover .actions-area { 
            visibility: visible;
            opacity: 1.0;
            height: 32px;
            margin-top: -30px;
            background-color: var(--tainacan-item-heading-hover-background-color);

            a {
                opacity: 1;
            }
        }
        &.selected-masonry-item {
            .actions-area {
                background-color: var(--tainacan-turquoise1);
            }
        }

        .tainacan-masonry-item-thumbnail {
            background-size: cover;
            background-color: var(--tainacan-gray0);
            background-blend-mode: multiply;
            border-radius: 0px;
            // transition: background-color 0.3s;

            &:hover {
                cursor: pointer;
                // background-color: var(--tainacan-white);
            } 
        
            img {
                width: 100%;
                height: auto;    
                transition: height 0.2s ease;
                display: block;
            }
        }

        .metadata-title {
            flex-shrink: 0;
            margin: 0px 6px 0px 24px;
            padding: 8px 1em;
            min-height: 41px;
            cursor: pointer;
            position: relative;

            p { 
                font-size: 0.875em !important;
                color: var(--tainacan-heading-color) !important; 
                text-align: left !important;
                margin-bottom: 0 !important;
                line-height: 1.875em;
                word-break: break-word;
                margin: 0;
            }

            .slideshow-icon {
                color: var(--tainacan-info-color); 
                position: absolute;
                right: 7px;
                top: 9px;
                transform: scale(0.0);
                transition: transform 0.2s ease;
            }
            .icon:not(.slideshow-icon){
                float: left;
                margin-top: 1px;
            }
        } 
        &:hover,
        &:focus {
            .slideshow-icon {
                transform: scale(1.0);
            }
        }
    }

    &.hide-items-selection {
        .tainacan-masonry-item {
            &:hover { background-color: transparent; cursor: default; }
            &:hover .tainacan-masonry-item-thumbnail { cursor: default; }
            .metadata-title { margin-left: 6px; }
        }
    }
}
.tainacan-masonry-container--skeleton {
    display: block;
    min-height: 50vh;
    padding-left: 25px;
    padding-right: 25px;
    column-gap: 25px;
    height: auto !important;

    .skeleton {
        width: 100%;
        margin-bottom: 25px;
        break-inside: avoid;
    }

    &:not(.tainacan-masonry-container--legacy) {
        column-count: 7;

        @media screen and (max-width: 2560px) {
            column-count: 6;
        }
        @media screen and (max-width: 1920px) {
            column-count: 5;
        }
        @media screen and (max-width: 1740px) {
            column-count: 4;
        }
        @media screen and (max-width: 1440px) {
            column-count: 3;
        }
        @media screen and (max-width: 1024px) {
            column-count: 2;
        }
        @media screen and (max-width: 620px) {
            column-count: 1;
        }
    }
    &.tainacan-masonry-container--legacy {
        column-count: 7;

        @media screen and (max-width: 1920px) {
            column-count: 6;
        }
        @media screen and (max-width: 1440px) {
            column-count: 5;
        }
        @media screen and (max-width: 1360px) {
            column-count: 4;
        }
        @media screen and (max-width: 1024px) {
            column-count: 3;
        }
        @media screen and (max-width: 768px) {
            column-count: 2;
        }
    }
}

