.tainacan-records-container {
    min-height: 50vh;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-shrink: 1;
    justify-content: space-evenly;
    animation-name: appear;
    animation-duration: 0.5s;

    &>li,
    .tainacan-records-grid-sizer {
        width: calc(20% - 30px);

        @media screen and (max-width: 2560px) {
            width: calc(25% - 30px);
        }
        @media screen and (max-width: 1920px) {
            width: calc(33.333% - 30px);
        }
        @media screen and (max-width: 1360px) {
            width: calc(50% - 30px);
        }
        @media screen and (max-width: 1024px) {
            width: 100%;
        }
    }
    .tainacan-record {
        background-color: rgba(126, 126, 126, 0.05);
        padding: 0px;
        flex-basis: 0;
        margin: 0 auto 30px auto;
        width: 100%;
        max-width: 425px;
        min-height: 100px;
        cursor: pointer;
        text-decoration: none;
        display: block;
        transition: background-color 0.2s ease;

        &:hover {
            background-color: var(--tainacan-item-hover-background-color) !important;
        }
        &.selected-record {
            background-color: var(--tainacan-turquoise1);
            .metadata-title {
                background-color: var(--tainacan-turquoise2);
            }
        }    

        .record-checkbox {
            position: absolute;
            margin-left: 1.0em;
            margin-top: 7px;
            z-index: 9;
        }
        .actions-area {
            position: relative;
            float: right;
            top: calc(-1 * var(--tainacan-container-padding));
            bottom: 0;
            padding-right: 12px;
            //width: 80px;
            margin-bottom: -25px;
            display: flex;
            justify-content: space-between;
            visibility: hidden;
            opacity: 0;
            transition: visibility 0.2s, opacity 0.3s ease, top 0.2s ease;

            a {
                margin-left: 12px;
                opacity: 0;
                transition: opacity 0.3s ease;
            }
        }
        &:hover .actions-area {
            visibility: visible;
            opacity: 1.0;
            top:  calc(-1 * 0.5em - var(--tainacan-container-padding));

            a {
                opacity: 1;
            }
        }

        .record-line {
            height: 1px;
            background-color: var(--tainacan-item-heading-hover-background-color);
            margin-left: -44px;
            margin-right: -44px;
            opacity: 0;
            visibility: hidden;
        }
        .tainacan-record-thumbnail {
            float: right;
            margin: 0 0 var(--tainacan-container-padding) var(--tainacan-container-padding);
        }
        .tainacan-record-item-thumbnail,
        img {
            width: 120px;
            height: auto;
            border-radius: 0px;
            position: relative;
            z-index: 1;
        }
        .skeleton {
            width: 120px;
        }
        .metadata-title {
            flex-shrink: 0;
            padding: 0.5em 4.75em 0.5em 2.75em;
            font-size: 1.0em !important; 
            min-height: 40px;
            position: relative;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            color: var(--tainacan-heading-color);
            transition: background-color 0.3s ease;

            p {
                line-height: 1.875em;
                font-size: 0.875em !important; 
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                margin: 0;
                transition: background-color 0.3s;
            }
            .slideshow-icon {
                color: var(--tainacan-info-color); 
                position: absolute;
                right: 7px;
                top: 7px;
                transform: scale(0.0);
                transition: transform 0.2s ease;
            }
            .icon:not(.slideshow-icon) {
                float: left;
                margin-top: -1px;
            }
        }
        &:hover,
        &:focus {
            .metadata-title {
                background-color: var(---tainacan-item-heading-hover-background-color) !important;
                p { text-decoration: none !important; }
                .slideshow-icon {
                    transform: scale(1.0);
                }
            }
            .media {
                background-color: var(--tainacan-item-hover-background-color) !important;
            }
        } 

        .media {
            width: 100%;
            display: flex;
            transition: background-color 0.2s ease;

            .list-metadata {
                padding: var(--tainacan-container-padding);
                padding-top: 0.5em;
                flex: 1;
                font-size: 1em;
                color: var(--tainacan-info-color);
                overflow: hidden;
                width: 100%;
            
                .metadata-label {
                    margin: 0 0 0.5em 0;
                    padding-top: 0;
                    font-size: 0.75em;
                    font-weight: 700;
                    color: var(--tainacan-info-color);
                    clear: none;

                    &::after {
                        clear: none;
                    }
                }

                .metadata-value {
                    font-size: 0.75em;
                    margin-bottom: 1em;
                    color: var(--tainacan-info-color);
                    clear: none;
                }

                & span:last-of-type>.metadata-value {
                    margin-bottom: 0px;
                }
            }
        }
    }

    &.hide-items-selection {
        .tainacan-record {
            &:hover .media { background-color: var(--tainacan-gray0) !important; cursor: default; }
            .metadata-title { padding-left: 1.5em !important; margin-bottom: -0.75em; }
            &:hover .metadata-title { background-color: var(--tainacan-gray0) !important; cursor: default; }
        }
    }
}
.tainacan-records-container--skeleton {
    display: block;
    min-height: 50vh;
    padding-left: 30px;
    padding-right: 30px;
    column-gap: 30px;
    height: auto !important;
    column-count: 5;

    .skeleton {
        width: 100%;
        margin-bottom: 30px;
        break-inside: avoid;
    }

    @media screen and (max-width: 2560px) {
        column-count: 4;
    }
    @media screen and (max-width: 1920px) {
        column-count: 3;
    }
    @media screen and (max-width: 1360px) {
        column-count: 2;
    }
    @media screen and (max-width: 1024px) {
        column-count: 1;
    }
}



