// Tainacan custom colors and bulma's core

// Import Bulma and Buefy styles
@use "../scss/_bulma-config.scss";
@use "../scss/_buefy-config.scss";

// Import Tainacan custom styles
@use "../scss/_animations.scss";
@use "../scss/_tooltips.scss";
@use "../scss/_notices.scss";
@use "../scss/_repository-level-overrides.scss";

// Import Tainacan mixins
@use "../scss/_tainacan-form.scss" as _tainacan-form;
@use "../scss/_control.scss" as _control;
@use "../scss/_buttons.scss" as _buttons;
@use "../scss/_selects.scss" as _selects;
@use "../scss/_inputs.scss" as _inputs;
@use "../scss/_checkboxes.scss" as _checkboxes;
@use "../scss/_upload.scss" as _upload;
@use "../scss/_radios.scss" as _radios;
@use "../scss/_switches.scss" as _switches;
@use "../scss/_dropdown-and-autocomplete.scss" as _dropdown-and-autocomplete;
@use "../scss/_tabs.scss" as _tabs;
@use "../scss/_pagination.scss" as _pagination;
@use "../scss/_modals.scss" as _modals;
@use "../scss/_tags.scss" as _tags;
@use "../scss/_filters-menu-modal.scss" as _filters-menu-modal;

#tainacan-admin-app {
    background: var(--tainacan-background-color);
    overflow-y: auto;
    padding: 0 !important;
    font-size: 1em;
}

// Tainacan Loading
.loading-overlay {
    z-index: 998;
    min-height: auto !important;
}
.loading-overlay .loading-icon::after {
    background-image: url('../../assets/images/tainacan_loading.gif');
    border: none;
    border-radius: 0;
    animation: none;
    height: 46px;
    width: 46px;
    background-size: initial;
}
.loading-overlay.is-full-page .loading-icon::after {
    height: 46px;
    width: 46px;
    background-size: initial;
    top: calc(50% - var(--tainacan-container-padding));
    inset-inline-start: calc(50% - var(--tainacan-container-padding));
}

// Link (hover is the same color as secondary
a:hover {
    color: var(--tainacan-secondary);
    text-decoration: underline;
}
.add-link {
    display: inline-flex;
    align-items: center;
    font-size: 1em; 
    margin-inline-start: 0;
    margin-inline-end: 0;
    margin-block-start: 3px;
    margin-block-end: 6px;
    &.disabled {
        pointer-events: none;
        cursor: default;
        color: var(--tainacan-gray2) !important;

        .icon {
            color: var(--tainacan-gray2) !important;
        }
    }
    .tainacan-icon::before {
        font-size: 0.875em;
    }
}

// Generic page container
.page-container {
    padding: 0 var(--tainacan-one-column);
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;

    & > h2,
    & > h3,
    & > h4 {
        margin: 0.75rem 0 1.125rem;
    }
    & > p {
        font-size: 0.8125em;
        margin: 0.75rem 0 1.125rem;
    }
}
html.is-clipped .page-container:not(.is-filters-menu-open) {
    overflow-y: hidden;
}

// Metadata type textarea has different separators in different spots on interface
.multivalue-separator {
    color: var(--tainacan-gray3);
    margin: 0 8px;    
}
.hierarchy-separator {
    color: var(--tainacan-gray3);
}

// Inside one of the view modes
.metadata-value {
    .tainacan-relationship-group {
        .tainacan-relationship-metadatum {
            .tainacan-relationship-metadatum-header {
                .label {
                    font-size: 1em;
                }
                img {
                    max-width: 22px !important;
                    max-height: 22px;
                }
            }
            .tainacan-metadatum {
                margin-inline-start: 40px;
                font-size: 1.125em;
                &>*{
                    font-size: 0.875em;
                }
            }
        }
    }
}
.metadata-value,
.tainacan-relationship-group .tainacan-relationship-metadatum .tainacan-metadatum {
    .tainacan-compound-group {
        margin-inline-start: 2px;
        padding-inline-start: 0.875em;
        border-inline-start: 1px solid var(--tainacan-gray2);

        .tainacan-compound-metadatum .label {
            margin-bottom: 0.25em;
            font-size: 1em;
            color: var(--tainacan-info-color);
        }
        .tainacan-compound-metadatum p {
            margin-bottom: 0.75em;
            font-size: 1em;
        }
        .tainacan-metadatum .label {
            font-size: 1em;
        }
        .multivalue-separator {
            display: block;
            max-height: 1px;
            width: 80px;
            background: var(--tainacan-gray2);
            content: none;
            color: transparent;
            margin-inline-start: -0.875em;
            margin-block-start: 1em;
            margin-block-end: 1em;
            margin-inline-end: auto;
        }
    }
}
.tainacan-relationship-group .tainacan-relationship-metadatum .tainacan-metadatum .tainacan-compound-group {
    font-size: 0.75em;

    .tainacan-metadatum {
        margin-inline-start: 20px;

        .label {
            font-size: 1em !important;
        }
    }
}

// Inside the admin item page
.metadata-type-textarea,
.metadata-type-compound {
    .multivalue-separator {
        display: block;
        max-height: 1px;
        width: 80px;
        background: var(--tainacan-gray3);
        content: none;
        color: transparent;
        margin: 1em auto;
    }
}
.metadata-type-geocoordinate>div {
    width: 100%;
}
.metadata-type-compound {
    padding-inline-start: 15px;
    margin-inline-start: 0px;
    border-inline-start: 1px solid var(--tainacan-gray2);

    .tainacan-metadatum {
        margin-bottom: 0.75em;

        .label:not(:last-child) {
            margin-bottom: 0.3em;
        }
        p:not(:last-child) {
            margin-bottom: 0.75em;
        }
    }
}
.tainacan-relationship-group {
    .tainacan-relationship-metadatum {
        .tainacan-relationship-metadatum-header {
            display: flex;
            align-items: center;
            img {
                margin-inline-end: 12px;
                max-width: 28px !important;
                max-height: 28px;
            }
            .label {
                font-weight: normal;
                margin-top: 0;
                margin-inline-start: 0;
                margin-bottom: 0;
                margin-inline-end: 0;
            }
        }
        .tainacan-metadatum {
            margin-inline-start: 40px;
            .label {
                font-size: 0.8125em;
                line-height: 1em;
                margin-top: 8px;
                margin-bottom: 2px;
            }
        }
    }
    &>.multivalue-separator {
        display: block;
        max-height: 1px;
        width: calc(100% - 40px);
        background: var(--tainacan-gray2);
        content: none;
        color: transparent;
        margin: 0.5em;
        margin-block-start: 0.5em;
        margin-block-end: 0.5em;
        margin-inline-start: 40px;
    }
}
.taginput-container .input:hover {
    border: none !important;
}
.metadata-type-url .multivalue-separator,
.metadata-type-ainacan_url_plugin_metadata_type .multivalue-separator,
.metadata-type-tainacan_url_plugin_metadata_type .multivalue-separator {
    display: block;
    max-height: 1px;
    width: 80px;
    background: var(--tainacan-gray3, #a5a5a5);
    content: none;
    color: transparent !important;
    margin: 1em auto 1em 0 !important;
}
.metadata-type-url .wp-block-buttons,
.metadata-type-ainacan_url_plugin_metadata_type .wp-block-buttons,
.metadata-type-tainacan_url_plugin_metadata_type .wp-block-buttons {
    display: flex !important;
}
.metadata-type-url .wp-block-buttons>.wp-block-button,
.metadata-type-ainacan_url_plugin_metadata_type .wp-block-buttons>.wp-block-button,
.metadata-type-tainacan_url_plugin_metadata_type .wp-block-buttons>.wp-block-button {
    width: auto !important;
}

// Buefy notices (toast, snackbar...)
.notices {
    z-index: 99999999999999 !important;
}

audio, video {
    width: 100%;
}

/* Items list style used in multiple places */
.tainacan-compact-items-list {
    list-style: none;
    padding: 0px;
    margin-bottom: 1rem;
    column-width: 26ch;

    @media screen and (max-width: 768px) {
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
    }

    li {
        display: flex;
        align-items: center;
        padding-block: 8px;
        padding-inline-start: 6px;
        padding-inline-end: 32px;
        width: 100%;
        position: relative;
        overflow-x: hidden;
        border-radius: var(--tainacan-item-border-radius, 0px);

        p {
            line-height: normal;
        }
        a {
            display: flex;
            align-items: center;
        }
        &:hover,
        &:focus,
        &:focus-within,
        &:focus-visible {
            cursor: pointer;
            background-color: var(--tainacan-item-hover-background-color);

            .actions-area {
                opacity: 1;
                inset-inline-end: 0;
            }
        }
    }
    .actions-area {
        position: absolute;
        inset-inline-end: -32px;
        padding: 0 6px;
        min-height: 28px;
        min-width: 28px;
        opacity: 0;
        transition: inset-inline-end 0.3s ease;
    }
    .item-thumb {
        display: flex;
        height: 28px;
        width: 28px;
        margin-inline-start: 3px;
        margin-inline-end: 8px;
        overflow: hidden;
        border-radius: var(--tainacan-item-border-radius, 0px);

        :deep(img) {
            border-radius: var(--tainacan-item-border-radius, 0px);
        }
    }
}

.tainacan-sub-header--sticky {
    position: sticky;
    top: calc(-1 * var(--tainacan-container-padding));
    z-index: 999;
    background: var(--tainacan-background-color);
    height: auto;
    min-height: 2.5em;
    padding: 0.5em 0;
    border-bottom: 1px solid #ddd;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 4px;
}
.tainacan-page-title--sticky + .tainacan-sub-header--sticky {
    top: calc( var(--tainacan-container-padding) + var(--tainacan-button-min-height, 2.571em) );
}
@media screen and (max-width: 768px) {
    .tainacan-page-title--sticky:has(.dropdown.is-active.is-mobile-modal) {
        z-index: 1 !important;
    }
    .tainacan-page-title--sticky:has(.dropdown.is-active.is-mobile-modal) + .tainacan-sub-header--sticky {
        z-index: 0 !important;
    }
}

// Include Tainacan mixins
@include _tainacan-form.tainacan-form;
@include _control.tainacan-control;
@include _buttons.tainacan-buttons;
@include _selects.tainacan-selects;
@include _inputs.tainacan-inputs;
@include _checkboxes.tainacan-checkboxes;
@include _upload.tainacan-upload;
@include _radios.tainacan-radios;
@include _switches.tainacan-switches;
@include _dropdown-and-autocomplete.tainacan-dropdown-and-autocomplete;
@include _tabs.tainacan-tabs;
@include _pagination.tainacan-pagination;
@include _modals.tainacan-modals;
@include _tags.tainacan-tags;
@include _filters-menu-modal.tainacan-filters-menu-modal;