// TAINACAN ICON FONT
@import "../../../assets/css/tainacanicons.css";

// Tainacan custom colors and bulma's core
@import "./_variables.scss";

// Import Bulma and Buefy styles
@import "../../../assets/css/materialdesignicons.css";
@import "../../../../node_modules/bulma/bulma.sass";
@import "../../../../node_modules/buefy/src/scss/buefy.scss";

// Import Tainacan custom styles
@import "../scss/_tainacan-form.scss";
@import "../scss/_buttons.scss";
@import "../scss/_selects.scss";
@import "../scss/_inputs.scss";
@import "../scss/_checkboxes.scss";
@import "../scss/_upload.scss";
@import "../scss/_radios.scss";
@import "../scss/_switches.scss";
@import "../scss/_dropdown-and-autocomplete.scss";
@import "../scss/_tabs.scss";
@import "../scss/_tables.scss";
@import "../scss/_tooltips.scss";
@import "../scss/_pagination.scss";
@import "../scss/_modals.scss";
@import "../scss/_tags.scss";
@import "../scss/_notices.scss";
@import "../scss/_filters-menu-modal.scss";
@import "../scss/_repository-level-overrides.scss";
@import "../scss/_iframe_read_mode_overrides.scss";

// Declares css custom var using sass as fallback
// CSS Variables
:root {
    // NEW TAINACAN CUSTOM COLORS ------------------
    // Blue, used mainly for repository
    --tainacan-blue1: #{$blue1};
    --tainacan-blue1-invert: #{$blue1-invert};
    --tainacan-blue2: #{$blue2};
    --tainacan-blue2-invert: #{$blue2-invert};
    --tainacan-blue3: #{$blue3};
    --tainacan-blue3-invert: #{$blue3-invert};
    --tainacan-blue4: #{$blue4};
    --tainacan-blue4-invert: #{$blue4-invert};
    --tainacan-blue5: #{$blue5};
    --tainacan-blue5-invert: #{$blue5-invert};

    // Turquoise, used mainly for collection level
    --tainacan-turquoise1: #{$turquoise1};
    --tainacan-turquoise1-invert: #{$turquoise1-invert};
    --tainacan-turquoise2: #{$turquoise2};
    --tainacan-turquoise2-invert: #{$turquoise2-invert};
    --tainacan-turquoise3: #{$turquoise3};
    --tainacan-turquoise3-invert: #{$turquoise3-invert};
    --tainacan-turquoise4: #{$turquoise4};
    --tainacan-turquoise4-invert: #{$turquoise4-invert};
    --tainacan-turquoise5: #{$turquoise5};
    --tainacan-turquoise5-invert: #{$turquoise5-invert};
    --tainacan-turquoise6: #{$turquoise6};
    --tainacan-turquoise6-invert: #{$turquoise6-invert};

    // Gray, used mostly for information
    --tainacan-gray0: #{$gray0};
    --tainacan-gray0-invert: #{$gray0-invert};
    --tainacan-gray1: #{$gray1};
    --tainacan-gray1-invert: #{$gray1-invert};
    --tainacan-gray2: #{$gray2};
    --tainacan-gray2-invert: #{$gray2-invert};
    --tainacan-gray3: #{$gray3};
    --tainacan-gray3-invert: #{$gray3-invert};
    --tainacan-gray4: #{$gray4};
    --tainacan-gray4-invert: #{$gray4-invert};
    --tainacan-gray5: #{$gray5};
    --tainacan-gray5-invert: #{$gray5-invert};

    // Red, used for error messages
    --tainacan-red1: #{$red1};
    --tainacan-red1-invert: #{$red1-invert};
    --tainacan-red2: #{$red2};
    --tainacan-red2-invert: #{$red2-invert};
    // Green, used for success buttons
    --tainacan-green1: #{$green1};
    --tainacan-green1-invert: #{$green1-invert};
    --tainacan-green2: #{$green2};
    --tainacan-green2-invert: #{$green2-invert};
    // Warning, used for warning messages
    --tainacan-yellow1: #{$yellow1};
    --tainacan-yellow1-invert: #{$yellow1-invert};
    --tainacan-yellow2: #{$yellow2};
    --tainacan-yellow2-invert: #{$yellow2-invert};

    // Text, no quite black
    --tainacan-input-color: #{$tainacan-input-color};
    --tainacan-input-color-invert: #{$tainacan-input-color-invert};

    // Maps some of bulma's colors to custom variables
    --tainacan-primary: #{$primary};
    --tainacan-primary-invert: #{$primary-invert};
    --tainacan-secondary: #{$secondary};
    --tainacan-secondary-invert: #{$secondary-invert};
    --tainacan-success: #{$success};
    --tainacan-success-invert: #{$success-invert};
    --tainacan-danger: #{$danger}; 
    --tainacan-danger-invert: #{$danger-invert};
    --tainacan-warning: #{$warning};
    --tainacan-warning-invert: #{$warning-invert};
    --tainacan-gray: #{$gray};
    --tainacan-gray-invert: #{$gray-invert};

}

// Clears wordpress content
html {
    overflow-y: hidden;
}
body.tainacan-admin-page #adminmenumain, body.tainacan-admin-page #wpfooter, body.tainacan-admin-page #wp-auth-check-wrap {
    display: none;
}
#tainacan-admin-app {
    background: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    z-index: 999999;
    overflow-y: auto;
    margin: 0px !important; 
    font-family: $family-sans-serif;
}

// Scrollbars
#tainacan-admin-app * {
    // For Firefox
    scrollbar-color: $gray3 transparent;
    scrollbar-width: thin;

    // For Chromium and related
    &::-webkit-scrollbar {
        width: 0.4em;
    }
    &::-webkit-scrollbar-thumb {
        background-color: $gray3;
    }
}

// Tainacan Loading
.tainacan-icon {
    opacity: 0; // Will make it 1 once window.load is done; 
}
.loading-overlay {
    z-index: 9999999999;
    min-height: auto !important;
}
.loading-overlay .loading-icon::after {
    background-image: url('../../assets/images/tainacan_loading.gif');
    border: none;
    border-radius: 0;
    animation: none;
    height: 46px;
    width: 46px;
    background-size: initial;
}
.loading-overlay.is-full-page .loading-icon::after {
    height: 46px;
    width: 46px;
    background-size: initial;
    top: calc(50% - 25px);
    left: calc(50% - 25px);
}

// Link (hover is the same color as secondary
a:hover {
    color: $secondary;
    text-decoration: underline;
}
.add-link {
    display: inline-flex;
    align-items: center;
    font-size: 1em; 
    margin: 3px 0 6px 0;
    &.disabled {
        pointer-events: none;
        cursor: default;
        color: $gray2 !important;

        .icon {
            color: $gray2 !important;
        }
    }
    .tainacan-icon::before {
        font-size: 0.875em;
    }
}

// Generic page container
.page-container {
    padding: $page-top-padding $page-side-padding;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}
// Used for pages with collection subheader
.page-container-small {
    height: calc(100% - 42px);
    overflow-y: auto;
    transition: height 0.6s;
}
// Used for pages with subheader in mobile
.page-container-narrow{
    padding: $page-small-top-padding $page-small-side-padding;
    
    @media screen and (max-width: 769px) {
        padding: $page-mobile-top-padding $page-mobile-side-padding;
    }
}

// Metadata type textarea has different separators in different spots on interface
.multivalue-separator {
    color: $gray3;
    margin: 0 8px;    
}
.hierarchy-separator {
    color: $gray3;
}
.metadata-type-textarea {
    .multivalue-separator {
        display: block;
        max-height: 1px;
        width: 35px;
        background: $gray3;
        content: none;
        color: transparent;
        margin: 1em auto;
    }
}

// Buefy notices (toast, snackbar...)
.notices {
    z-index: 99999999999999 !important;
}

audio, video {
    width: 100%;
}
