#close-fullscren-button {
    border-radius: 50px;
    color: var(--tainacan-white);
    background-color: transparent;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    padding: 1em;
    cursor: pointer;
    z-index: 9999999999;

    &:focus, &:active {
        outline: none;
    }
}
.metadata-menu {
    background-color: var(--tainacan-black);
    position: absolute;
    z-index: 10;
    width: 20.83% !important;
    min-width: 180px;
    min-height: 100%;
    height: 100%;
    padding: $page-side-padding 25px $page-side-padding $page-side-padding;
    float: left;
    overflow-y: auto;
    overflow-x: hidden;
    visibility: visible;
    display: block;
    transition: visibility ease 0.5s, display ease 0.5s;

    @media screen and (max-width: 768px) {
        width: 100% !important;
        padding: $page-small-side-padding !important;
        
        h3 {
            margin-top: 0 !important;
        }
    }
    @media screen and (min-width: 769px) {
        top: 0px !important;
    }

    .metadata-menu-header {
        display: flex;
        flex-wrap: wrap;
        h2 {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            margin-right: auto;
            color: var(--tainacan-white);
            font-size: 1.25em;
            font-weight: bold;
            margin-bottom: 0;
        }
        #close-metadata-button {
            border-radius: 50px;
            color: var(--tainacan-white);
            background-color: transparent;
            border: none;
            padding: 0;
            cursor: pointer;
            z-index: 9999999999;
        
            &:focus, &:active {
                outline: none;
            }
        }
        hr {
            margin-top: 0;
            width: 100%;
            background-color: var(--tainacan-turquoise5);
        }
    }

    h3 {
        font-size: 100%;
        margin-top: 0px;
    }

    .collapse-all {
        font-size: 0.75em;
        display: inline-flex;
        align-items: center;
        margin-bottom: 1em;

        .icon {
            vertical-align: bottom;
        }
    }

    // Overrides bootstrap behavior
    .collapse:not(.show) {
        display: initial;
    }

    .field {        
        margin-bottom: 0px !important;
        border-bottom: 1px solid var(--tainacan-gray5);
        padding: 1em 0px 0.2em 0px;

        .label {
            cursor: pointer;
            font-size: 0.875em;
            font-weight: 500;
            margin-bottom: 0.75em !important;
            display: inline-flex;
            align-items: center;
            max-width: 100%;

            span:not(.ellipsed-text) {
                margin-right: 5px;
                margin-left: -5px;
            }
            .ellipsed-text {
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                max-width: 100%;
            }
        }
        .content {
            font-size: 0.75em;
        }
    }

    .checkbox {
        margin-bottom: 5px;
        align-items: baseline;
    }

}

#metadata-compress-button {
    position: absolute;
    z-index: 99;
    top: 123px;
    left: 0;
    max-width: 33px;
    height: 26px;
    width: 33px;
    border: none;
    background-color: var(--tainacan-gray5);
    color: var(--tainacan-white);
    padding: 0;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    cursor: pointer;
    transition: top 0.3s, left 0.3s, opacity 0.3s, visibility 0.3s;

    &:focus, &:active {
        outline: none;
    }

    .icon {
        margin-top: 1px;
    }

    @media screen and (max-width: 768px) {
        max-width: 100%;
        width: auto;
        padding: 3px 6px 3px 0px;
        height: 24px;

        .icon {
            position: relative;
            top: -3px;
        }
        .text {
            position: relative;
            top: -6px;
        }
    }
}

.fullscreen-spaced-to-right {
    .table-wrapper { 
        margin-left: 20.83%;
        width: calc(100vw - 20.83%) !important;
    };
    .tainacan-slide-main-view .arrow-left {
        left: 20.83% !important;
    }
    .tainacan-slide-main-view .slide-main-content {
        width: calc(100vw - 20.83%) !important;
    }

    @media screen and (max-width: 768px) {
        .table-wrapper { 
            margin-left: 0;
            width: 100vw !important;
        };
        .tainacan-slide-main-view .arrow-left {
            left: 0 !important;
            margin-left: 0;
        }
        .tainacan-slide-main-view .slide-main-content {
            width: 100vw !important;
        }
    }
}

.tainacan-slide-main-view {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: calc(100vh - 142px);
    transition: height 0.3s, min-height 0.3s;

    .slide-main-content {
        position: relative;
        width: 100vw;
        display: flex;
        align-items: center;
        justify-content: center;

        &>div, 
        &>div audio,
        &>div img,
        &>div video,
        &>div.tainacan-embed-container {
            width: 100%;
            max-width: 100vh;
            text-align: center;
            color: var(--tainacan-white);
            max-height: calc(100vh - 115px);
            overflow: hidden;
            transition: height 0.3s, max-height 0.3s;
        }
        &>div img {
            width: auto;
        }

        .empty-document {
            font-size: 4em;
            font-weight: normal;
            color: var(--tainacan-info-color);
            text-align: center;
            position: relative;
            max-height: calc(100vh - 115px);
            overflow: hidden;
            transition: height 0.3s, max-height 0.3s;
            margin: auto;

            img {
                height: 100%;
            }

            p {
                position: absolute;
                margin: calc(50% - 4em) auto;
                width: 100%;
            }
            @media screen and (max-width: 1024px) and (min-width: 768px) {
                font-size: 3em;
                p {
                    margin: calc(50% - 1em) auto;
                }
            }
            @media screen and (max-width: 768px) {
                font-size: 2em;
                p {
                    margin: calc(50% - 2em) auto;
                }
            }
        }
    }
}
.slide-title-area {
    width: 100%;
    position: absolute;
    bottom: 115px;
    // top: -85px;
    // margin-bottom: -85px;
    background-color: rgba(0,0,0,0.5);
    padding: 1em $page-side-padding;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: opacity 0.3s, visibility 0.3s, display 0.3s;

    h1 {
        color: var(--tainacan-white);
        font-size: 2em;
        font-weight: normal;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    .play-button {
        cursor: pointer;
        border: 0;
        background: transparent;
        position: relative;

        .icon {
            border-radius: 100px;
            background: var(--tainacan-white);
            border: 3px solid var(--tainacan-turquoise5);
            i, i:before {
                font-size: 2.25em;
            }
        }
        &:focus, &:active {
            outline: 0;
            border: 0;
        }
        .circular-counter {
            position: absolute;
            right: calc(4.16667% + -2px);
            top: -6px;
        }
    }
}
.slide-control-arrow {
    cursor: pointer;
    background-color: transparent !important;
    border: none !important;
    height: 3.5em;
    width: 3.5em;
    text-align: center;
    vertical-align: middle;
    position: absolute;
    z-index: 9;

    &:focus, &:active {
        border: none;
        outline: none;
    }
    .icon {
        height: 3.5em;
        width: 2.5em;
        text-align: center;

        .tainacan-icon::before {
            line-height: 5em;
            font-size: 5em;
            color: var(--tainacan-turquoise5);
            text-shadow: 0px 0px 2px var(--tainacan-gray5);
        }
    }
    &.arrow-left { 
        left: 0; 
        margin-left: $page-side-padding;
        transition: margin-left 0.3s;
    }
    &.arrow-right { 
        right: 0;     
        margin-right: $page-side-padding;
        transition: margin-right 0.3s;
    }
    &.slide-group-arrow {
        top: calc(50% - 33px);

        .icon {
            height: 2.5em;
            width: 1.5em;
        
            .tainacan-icon::before {
                line-height: 3em;
                font-size: 3em;
                color: var(--tainacan-white);
                text-shadow: 0px 0px 2px var(--tainacan-gray5);
            }
        }
    }
}
.tainacan-slides-list {
    background-color: rgba(0,0,0,0.5);
    position: relative;
    transition: opacity 0.3s, visibility 0.3s, display 0.3s;
    height: 115px;
    min-height: 115px;
    padding: 0.75em 0;

    .loading-icon {
        width: 100%;
        top: calc(50% - 33px);
        position: absolute;
        z-index: 9;
    }

    #tainacan-slide-container {
        padding: 0 $page-side-padding;
        display: flex;
        flex-wrap: nowrap;
        overflow: hidden;
        flex-grow: 1;
        flex-shrink: 1;
        justify-content: space-evenly;
        animation-name: item-appear;
        animation-duration: 0.5s;
        

        .selected-record {
            background-color: var(--tainacan-turquoise1);
            .metadata-title {
                background-color: var(--tainacan-turquoise2);
            }
            .media {
                background-color: var(--tainacan-turquoise1);
            }
        }

        .tainacan-slide-item {    
            cursor: pointer;

            &.active-item img {
                border-bottom: 4px solid var(--tainacan-turquoise5);
            }
            &:hover img{
                border-bottom: 4px solid var(--tainacan-gray2);
            }

            img {
                color: var(--tainacan-white);
                width: 100%;//85px;
                height: auto;
                border-radius: 0px;
                padding: 0 0 6px 0;
                border-bottom: 4px solid transparent; 
                transition: border-bottom 0.4s;
            }
        }
    }
}
.hide-controls {
    // @media screen and (max-width: 768px) {
        .slide-control-arrow {
            visibility: hidden;
            opacity: 0;
        }
        .arrow-right {
            margin-right: 0%;
        }
        .arrow-left {
            margin-left: 0%;
        }
        #metadata-compress-button {
            visibility: hidden;
            opacity: 0;
            left: -20px;
        }
        .slide-title-area,
        .tainacan-slides-list {
            visibility: hidden;
            opacity: 0;
        }
        .tainacan-slide-main-view {
            min-height: 100vh;

            .slide-main-content {
                &>div, 
                &>div audio,
                &>div img,
                &>div video,
                &>div.tainacan-embed-container {
                    max-height: 95vh;
                }
            }
        
        }
        .empty-document {
            max-height: 95vh;
            img {
                width: auto;
            }
        }
        @media screen and (max-width: 768px) {
            .empty-document img { width: 100% !important; }
        }
    // }
}