#tainacan-reports-app {
    padding: 10px 2px 10px 2px;
    margin: 0;

    // Tainacan Loading
    .tainacan-icon::before {
        opacity: 0.0; // Will make it 1 once window.load is done; 
    }

    a:hover {
        cursor: pointer;
    }

    .wp-heading-inline {
        margin-bottom: 2rem;
    }

    .columns {
        max-width: 100%;
        align-items: flex-start;
        justify-content: center;

        .column {
            max-width: 100%;
            padding: 0;

            .postbox {
                margin: 0.75rem;
            }
        }
    }
}