#tainacan-reports-app {
    padding: 10px 2px 10px 2px;
    margin: 0;

    a:hover {
        cursor: pointer;
    }

    .tainacan-reports-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 10px 24px 10px 0px;

        .wp-heading-inline {
            margin: 0rem; 
        }

        select {
            margin-right: auto;
            margin-left: 6px;
        }
    }
    .tainacan-reports-subheader {
        display: flex;
        align-items: center;
        margin: 6px 0px 36px 0px;
        color: var(--tainacan-block-gray4, #555758);

        .tainacan-reports-subheader-box:not(:first-child) {
            padding-left: 14px;
            border-left: 1px solid var(--tainacan-block-gray3, #cbcbcb);
        }

        .tainacan-reports-subheader-box__title {
            font-weight: bold;
            margin-left: 2px;
        }

        .tainacan-reports-subheader-box__content {
            display: flex;
            align-items: center;
            margin: 0px 14px 0px 0px;
            flex-wrap: wrap;

            &.tainacan-reports-subheader-box__content--two-columns li {
                flex-basis: calc(50% - 8px);

                @media screen and (max-width: 986px) {
                    flex-basis: 100%;
                }
            } 
            &.tainacan-reports-subheader-box__content--three-columns li {
                flex-basis: calc(33.3333% - 8px);

                @media screen and (max-width: 1024px) {
                    flex-basis: calc(50% - 8px);
                }
                @media screen and (max-width: 768px) {
                    flex-basis: 100%;
                }
            } 
        }

        .tainacan-reports-subheader-box__content li {
            display: flex;
            align-items: center;
            margin: 0px 8px 0px 0px;
            flex-basis: 100%;
        }
        .icon svg {
            fill: var(--tainacan-block-gray4, #555758);
            margin-left: -0.5rem;
            cursor: default;
        }
        .apexcharts-pan-icon svg {
            fill: transparent;
            stroke: var(--tainacan-block-gray4, #555758);
        }
        .apexcharts-reset-icon {
            margin-left: 0;
        }
    }

    .columns {
        max-width: 100%;
        align-items: flex-start;
        justify-content: center;

        .column {
            max-width: 100%;
            padding: 0;
            position: relative;
            box-sizing: content-box;

            .postbox {
                margin: 0.75rem;
            }
            .box-last-cached-on {
                position: absolute;
                bottom: calc(1px + 0.75rem);
                right: calc(1px + 0.75rem);
                display: inline-block;
                padding: 0px 10px;
                background-color: var(--tainacan-block-gray2, #dbdbdb);
                color: var(--tainacan-block-gray4, #555758);
                font-size: 0.875em;
                border-top-left-radius: 3px;
                opacity: 0.0;
                transition: opacity 0.3s ease;

                button {
                    border: none;
                    background: none;
                    cursor: pointer;

                    &:hover {
                        color: var(--wp-admin-theme-color, #007cba);
                    }
                }
            }
            .postbox:hover+.box-last-cached-on,
            .postbox:hover+.box-last-cached-on+.box-last-cached-on,
            .box-last-cached-on:hover {
                opacity: 1.0;
            }
        }
    }

    .postbox {
        padding: 1.125rem 1.25rem;
        margin-bottom: 0;
        height: 100%;
        min-height: 380px;
        background-color: var(--tainacan-block-gray0, #f6f6f6);
    
        label {
            font-weight: bold;
            font-size: 0.875rem;
        }
    
        .box-header {
            display: flex;
            align-items: baseline;
            justify-content: space-between;
            flex-wrap: wrap;
    
            .box-header__item {
                margin-bottom: 10px;
                line-height: 2rem;
            }
        }
    }

    .empty-postbox-placeholder {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 1rem;
        min-height: 380px;
        flex-direction: column;
        opacity: 0.75;
    
        p {
            color: var(--tainacan-block-gray4, #555758);
        }
    }
    
    .graph-mode-switch {
        display: inline-block;
        button {
            border: none !important;
            background: none !important;
            box-shadow: none !important;
            padding: 0;
            cursor: pointer;
    
            &.current {
                color: var(--wp-admin-theme-color, #007cba);
            }
        }
    }

    .tainacan-custom-tooltip {
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;

        .tainacan-custom-tooltip__header {
            background-color: var(--tainacan-block-gray1, #f2f2f2);
            display: flex;
            justify-content: flex-start;
            align-items: center;
            width: 100%;
            padding: 6px 10px 4px 10px;
        }
        
        .tainacan-custom-tooltip__header+.tainacan-custom-tooltip__body {
            padding: 4px 10px 6px 10px;
        }
        .tainacan-custom-tooltip__body {
            width: 100%;
            padding: 6px 10px;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;

            p {
                margin-bottom: 4px;
                font-size: 0.85rem;
            }
        }
    }

    .apexcharts-legend-series {
        display: flex;
        align-items: center;
    }
}