@import '../../gutenberg-blocks-style.scss';

.components-panel__body .collection-carousel-view-modes {
    display: flex;
    margin: 12px 0 24px 0;

    button {
        background: transparent;
        border: 1px solid #cbcbcb;
        border-radius: 5px;
        padding: 2px;
        margin: 0;
        width: calc(50% - 6px);
        flex-shrink: 0;
        cursor: pointer;
        transition: border ease 0.5s, opacity ease 0.5;

        &.collection-carousel-view-mode-grid {
            margin-right: 6px;
            div {
                @include display-grid;
                -ms-grid-columns: 33% 33% 33%;
                grid-template-columns: 33% 33% 33%;
                -ms-grid-rows: 50% 50%;
                grid-template-rows: 50% 50%;
                grid-column-gap: 2px;
                grid-row-gap: 2px;
                width: 60px;
                height: 40px;
                margin: 4px auto 8px auto;

                &>div:first-of-type {
                    flex-basis: 100%;
                    @include grid-child(1, 3, 1, 3);
                    width: 41px;
                    height: 42px;
                }

                &>div {
                    flex-basis: 50%; 
                    width: 20px;
                    height: 20px;
                    background: #555758;
                    transition: background-color ease 0.5s; 
                }
            }
        }
        &.collection-carousel-view-mode-thumbnail {
            margin-left: 6px;

            div {
                display: block;
                height: 40px;
                width: 40px;
                background: #555758;
                margin: 4px auto 8px auto;
                transition: background-color ease 0.5s;
            }
        }

        label {
            font-size: 0.75rem;
            color: #555758;
        }

        &.is-active {
            border: 2px solid #298596;
            
            &.collection-carousel-view-mode-thumbnail div,
            &.collection-carousel-view-mode-grid div>div {
                background-color: #298596;
            }    
        }
        &:hover {
            opacity: 0.9;
            border-width: 2px;
            button {
                background: #f2f2f2;
            }
        }

    }
}

.wp-block-tainacan-carousel-collections-list {
    margin: 2rem auto;

    // Spinner
    .spinner-container {
        min-height: 56px;
        padding: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #555758;
    }

    // Skeleton loading
    @-webkit-keyframes skeleton-animation {
        0%{opacity: 1.0}
        50%{opacity: 0.2}
        100%{opacity: 1.0}
    }
    @-moz-keyframes skeleton-animation {
        0%{opacity: 1.0}
        50%{opacity: 0.2}
        100%{opacity: 1.0}
    }
    @-o-keyframes skeleton-animation {
        0%{opacity: 1.0}
        50%{opacity: 0.2}
        100%{opacity: 1.0}
    }
    @keyframes skeleton-animation {
        0%{opacity: 1.0}
        50%{opacity: 0.2}
        100%{opacity: 1.0}
    }
    .skeleton {
        border-radius: 2px;
        background: #f2f2f2;

        -webkit-animation: skeleton-animation 1.8s ease infinite;
        -moz-animation: skeleton-animation 1.8s ease infinite;
        -o-animation: skeleton-animation 1.8s ease infinite;
        animation: skeleton-animation 1.8s ease infinite;
    }

    // Tainacan Carousel
    .tainacan-carousel {
        position: relative;
        width: calc(100% + 40px);
        left: -20px;

        .swiper-container {
            margin: 0 50px;

            a>span,
            a:hover>span {
                color: black;
                font-weight: bold;
                text-decoration: none;
                padding: 8px 16px;
                display: block;
                line-height: 1.2em;
            }
            a>img {
                width: 100%;
                height: auto;
            }
            a:hover {
                text-decoration: none;
            }

            .swiper-slide.collection-list-item-grid {

                a { 
                    width: 100%; 
                    display: block;
                }
                .collection-items-grid {
                    @include display-grid;
                    grid-template-columns: 33% 33% 33%;
                    grid-template-rows: 50% 50%;
                    width: 100%;
                    box-sizing: border-box;
    
                    img:first-of-type {
                        flex-basis: 100%;
                        @include grid-child(1, 3, 1, 3);
                    }
    
                    img {
                        flex-basis: 50%; 
                        width: 100%;
                        height: auto;
                        padding: 2px;
                        margin-bottom: 0px; 
                    }
                }    
            }
        }
    }

    .preview-warning {
        width: 100%;
        font-size: 0.875rem;
        font-style: italic;
        color: #898d8f;
        text-align: center;
        margin: 4px auto;
    }

    // Next and previous buttons
    .swiper-button-prev, .swiper-button-next {
        top: calc(50% - 42px);
        bottom: initial;
        background: none;
        border: none;
        width: 42px;
        height: 42px;
        padding: 0;
        margin: 0 -4px;

        svg {
            fill: #298596;
        }
    }

    // Carousel placeholder on editor side  ----------------------------------------------------
    .collections-list-edit-container,
    .tainacan-carousel {
        position: relative;
        
        & .skeleton {
            min-height: 150px;
            max-height: 150px;
        }

        &.has-arrows-none .swiper-button-prev,
        &.has-arrows-none .swiper-button-next {
            display: none;
        }
        &.has-arrows-left .swiper-button-next {
            left: 10px;
            right: auto;
            top: calc(50% + 12px)  !important;
        }
        &.has-arrows-right .swiper-button-prev {
            right: 10px;
            left: auto;
        }
        &.has-arrows-right .swiper-button-next {
            top: calc(50% + 12px)  !important;
        }
    }
    ul.collections-list-edit {
        display: flex;
        align-items: flex-start;
        overflow-x: scroll;
        list-style: none;
        margin: 0 36px;

        li.collection-list-item {
            position: relative;
            display: block;
            margin: 16px 32px 16px 0px;
            width: calc(16.666% - 32px); 
            min-width: calc(16.666% - 32px);

            &.collection-list-item-grid {
                margin: 16px;
                width: calc(25% - 16px); 
                min-width: calc(25% - 16px);
            }

            a { 
                color: #454647; 
                font-weight: bold;
                line-height: normal;
            }

            img {
                height: auto;
                padding: 0px;
                margin-bottom: 0.5rem;
            }

            &:hover a { 
                color: #454647; 
                text-decoration: none;
            }
        
            button {
                position: absolute !important;
                background-color: rgba(255, 255, 255, 0.75);
                color: #454647;
                padding: 2px;
                margin-left: 5px;
                min-width: 14px;
                visibility: hidden;
                position: relative;
                opacity: 0;
                right: -14px;
                top: 0px;
                justify-content: center;
                z-index: 999;
            }
    
            &:hover button {
                visibility: visible;
                background-color: rgba(255, 255, 255, 1) !important;
                opacity: 1;
                right: -8px;
                top: -8px;
                border: 1px solid #cbcbcb;
                border-radius: 12px;
                transition: opacity linear 0.15s, right linear 0.15s;
            }
            &:hover button:hover {
                background-color: rgba(255, 255, 255, 1) !important;
                border: 1px solid #cbcbcb !important;
            }


            .collection-items-grid {
                @include display-grid;
                grid-template-columns: 33% 33% 33%;
                grid-template-rows: 50% 50%;

                img:first-of-type {
                    flex-basis: 100%;
                    @include grid-child(1, 3, 1, 3);
                }

                img {
                    flex-basis: 50%; 
                    padding: 2px;
                    margin-bottom: 0px; 
                }
            }
        }
    }
    @media only screen and (max-width: 1686px) { 
        
        ul.collections-list-edit li.collection-list-item { 
            width: calc(20% - 32px); 
            min-width: calc(20% - 32px); 
        }
    }
    @media only screen and (max-width: 1452px) { 
        
        ul.collections-list-edit li.collection-list-item { 
            width: calc(25% - 32px); 
            min-width: calc(25% - 32px); 
        }
    }
    @media only screen and (max-width: 1118px) { 
        
        ul.collections-edit li.collection-list-item { 
            width: calc(33.333% - 32px); 
            min-width: calc(33.333% - 32px); 
        }
    }
    @media only screen and (max-width: 854px) { 
        
        ul.collections-list-edit li.collection-list-item { 
            width: calc(50% - 32px); 
            min-width: calc(50% - 32px);
        }
    }
    @media only screen and (max-width: 584px) { 
        
        ul.collections-list-edit li.collection-list-item { 
            width: calc(100% - 32px); 
            min-width: calc(100% - 32px);
        }
    }

}
